<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<!-- FOOTER  -->
	<!-- 	<div class="Container100"
		style="border-top: solid 1px #CCCCCC; margin-top: 20px;"
		id="footerlinks">
		<a href="#"
			class="DispInlBlock FontSourceSansLight Leaden Fs12 Fleft HoverEffect">TERMS
			OF CONDITIONS</a> <span class="Fleft Leaden Fs12"
			style="padding: 0px 5px;">|</span> <a href="#"
			class="DispInlBlock FontSourceSansLight Leaden Fs12 Fleft HoverEffect">SITEMAP</a>
		<span class="Fleft Leaden Fs12" style="padding: 0px 5px;">|</span> <a
			href="#"
			class="DispInlBlock FontSourceSansLight Leaden Fs12 Fleft HoverEffect">PRIVACY</a>
		<span class="Fleft Leaden Fs12" style="padding: 0px 5px;">|</span> <a
			href="#"
			class="DispInlBlock FontSourceSansLight Leaden Fs12 Fleft HoverEffect">LINKING
			POLICY</a>

		<div class="EmptyBox10 ShowOnMobile"></div>
		<span
			class="DispInlBlock FontSourceSansLight Leaden Fs12 Fright HoverEffect TexAlRight FloatNoneOnMobile">
			PrimeFaces Volt Theme And Layout</span>
	</div> -->

	<!-- 	<div class="Container50 Responsive100">
		<h:graphicImage name="images/logo.svg" styleClass="Fleft"
			library="volt-layout" style="height:20px;" />
		<div class="Container100 NoIndent">
			<a href="#layout-footer" class="Leaden Fs30"><i
				class="fa fa-facebook-square"></i></a> <a href="#layout-footer"
				class="Leaden Fs30"><i class="fa fa-twitter-square"></i></a> <a
				href="#layout-footer" class="Leaden Fs30"><i
				class="fa fa-linkedin-square"></i></a> <a href="#layout-footer"
				class="Leaden Fs30"><i class="fa fa-google-plus-square"></i></a>
		</div>
	</div> -->
	<!-- 	<div class="Container50 Responsive100">
		<span
			class="DispInlBlock FontSourceSansLight Leaden Fs12 Fright HoverEffect TexAlRight">+1
			888 123 4567 <br /> info@voltvolt.com
		</span>
	</div> -->

	<div class="EmptyBox10"></div>

</ui:composition>
