<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pv="http://primefaces.org/volt">

	<h:form id="menuform">
		<pv:menu>
			<p:menuitem value="Cer" icon="icon-leaf"
				rendered="#{userController.renCerAdmin}"
				outcome="/views/secure/cer/cer.xhtml" />
			<!-- <p:submenu label="CER"
				icon="ui-button-icon-left ui-icon ui-c fa fa-pied-piper-alt"
				rendered="#{userController.renCerCommon}">
				<p:menuitem value="Cer" icon="icon-leaf"
					rendered="#{userController.renCerAdmin}"
					outcome="/views/secure/cer/cer.xhtml" />
				<p:menuitem value="Contact Person"
					icon="ui-button-icon-left ui-icon ui-c fa  fa-fax "
					outcome="/views/secure/contactPerson/contactPerson.xhtml" />
				<p:submenu label="Report"
					icon="ui-button-icon-left ui-icon ui-c fa fa-folder">
					<p:menuitem value="Report1" icon="icon-leaf" />
					<p:menuitem value="Report2" icon="icon-leaf" />
					<p:menuitem value="Report3" icon="icon-leaf" />
				</p:submenu>
			</p:submenu> -->
			<p:menuitem value="IDCOL" icon="icon-leaf"
				outcome="/views/secure/organization/organization.xhtml"
				rendered="#{userController.renCerCommon}" />
			<!-- 
			<p:submenu label="IDCOL"
				icon="ui-button-icon-left ui-icon ui-c fa fa-sitemap"
				rendered="#{userController.renCerCommon}">
				<p:menuitem value="IDCOL" icon="icon-leaf"
					outcome="/views/secure/organization/organization.xhtml"
					rendered="#{userController.renCerCommon}" />
				<p:menuitem value="Contact Person"
					icon="ui-button-icon-left ui-icon ui-c fa  fa-fax "
					outcome="/views/secure/contactPerson/contactPerson.xhtml" />
				<p:submenu label="Report"
					icon="ui-button-icon-left ui-icon ui-c fa fa-folder">
					<p:menuitem value="Report1" icon="icon-leaf" />
					<p:menuitem value="Report2" icon="icon-leaf" />
					<p:menuitem value="Report3" icon="icon-leaf" />
				</p:submenu>
			</p:submenu> -->
			<p:submenu label="Operator"
				icon="ui-button-icon-left ui-icon ui-c fa fa-user-plus"
				rendered="#{userController.renOrgCommon}">
				<p:menuitem value="Operator"
					icon="ui-button-icon-left ui-icon ui-c fa fa-user-plus"
					outcome="/views/secure/operator/operator.xhtml"
					rendered="#{userController.renOrgCommon}" />
				<!-- <p:menuitem value="OperatorUser"
					icon="ui-button-icon-left ui-icon ui-c fa fa-user-plus"
					outcome="/views/secure/operator/operatorUser.xhtml"
					rendered="#{userController.renOrgCommon}" /> -->
				<!-- <p:menuitem value="Contact Person"
					icon="ui-button-icon-left ui-icon ui-c fa  fa-fax "
					outcome="/views/secure/contactPerson/contactPerson.xhtml" /> -->
				<p:submenu label="Report"
					icon="ui-button-icon-left ui-icon ui-c fa fa-folder">
					<p:menuitem value="Operator Information" icon="icon-leaf"
						outcome="/views/secure/operator/reports/viewOperatorInformation.xhtml" />
					<!-- <p:menuitem value="Report2" icon="icon-leaf" />
					<p:menuitem value="Report3" icon="icon-leaf" /> -->
				</p:submenu>
			</p:submenu>
			<p:menuitem value="User Registration"
				icon="ui-button-icon-left ui-icon ui-c fa fa-user"
				outcome="/views/secure/users.xhtml"
				rendered="#{userController.renForAllAdmin}" />

			<!-- <p:submenu label="User"
				icon="ui-button-icon-left ui-icon ui-c fa fa-user"
				rendered="#{userController.renForAll}">
				<p:menuitem value="User Registration"
					icon="ui-button-icon-left ui-icon ui-c fa fa-user"
					outcome="/views/secure/users.xhtml"
					rendered="#{userController.renForAllAdmin}" />
				<p:menuitem value="All Operator User"
					icon="ui-button-icon-left ui-icon ui-c fa fa-user"
					outcome="/views/secure/all-users.xhtml"
					rendered="#{userController.renForAllAdmin}" />
				<p:submenu label="Report"
					icon="ui-button-icon-left ui-icon ui-c fa fa-clipboard">
					<p:menuitem value="Operator Wise Users"
						icon="ui-button-icon-left ui-icon ui-c fa fa-clipboard"
						outcome="/views/secure/user-operator-wise.xhtml" />
					<p:menuitem value="Report2" icon="icon-leaf" />
					<p:menuitem value="Report3" icon="icon-leaf" />
				</p:submenu>
			</p:submenu> -->
			<p:submenu label="Transaction"
				icon="ui-button-icon-left ui-icon ui-c fa  fa-bank"
				rendered="#{userController.renForAll}">

				<p:menuitem value="Transaction List"
					icon="ui-button-icon-left ui-icon ui-c fa  fa-dollar "
					outcome="/views/secure/transaction/transaction.xhtml" />
				<p:menuitem value="Water Credit Summary"
					icon="ui-button-icon-left ui-icon ui-c fa fa-tint"
					outcome="/views/secure/waterCreditSummary/waterCreditSummary.xhtml" />
				<p:menuitem value="Water Credit  Log"
					icon="ui-button-icon-left ui-icon ui-c fa fa-tint"
					outcome="/views/secure/waterCreditSummary/waterCreditLog.xhtml" />

				<p:menuitem value="All operator Total Transaction"
					rendered="#{userController.renOrgCommon}"
					icon="ui-button-icon-left ui-icon ui-c fa fa-tint"
					outcome="/views/secure/transaction/allOperatorsTotalTransaction.xhtml" />

				<p:menuitem value="Operator wise Total Transaction"
					icon="ui-button-icon-left ui-icon ui-c fa fa-tint"
					rendered="#{userController.renCerAndOrg}"
					outcome="/views/secure/transaction/dateWiseTransactionList.xhtml" />

				<p:menuitem value="Unit Price"
					icon="ui-button-icon-left ui-icon ui-c fa  fa-dollar "
					rendered="#{userController.renCerCommon}"
					outcome="/views/secure/transaction/unitPriceManualControl.xhtml" />

				<!-- <p:submenu label="Report"
					icon="ui-button-icon-left ui-icon ui-c fa fa-clipboard">
					<p:menuitem value="Report1"
						icon="ui-button-icon-left ui-icon ui-c fa" />
					<p:menuitem value="Report2"
						icon="ui-button-icon-left ui-icon ui-c fa" />
					<p:menuitem value="Report3"
						icon="ui-button-icon-left ui-icon ui-c fa" />
				</p:submenu> -->
			</p:submenu>
			<p:submenu label="Pump"
				icon="ui-button-icon-left ui-icon ui-c fa fa-puzzle-piece"
				rendered="#{userController.renForAll}">
				<p:menuitem value="Area"
					icon="ui-button-icon-left ui-icon ui-c fa fa-filter"
					outcome="/views/secure/area/area.xhtml" />
				<p:menuitem value="Pump list"
					icon="ui-button-icon-left ui-icon ui-c fa fa-filter"
					outcome="/views/secure/ipcu/ipcu.xhtml" />

				<p:menuitem value="Pump By Area"
					rendered="#{userController.renOrgCommon}"
					icon="ui-button-icon-left ui-icon ui-c fa fa-filter"
					outcome="/views/secure/ipcu/searchIpcuByarea.xhtml" />
			</p:submenu>



			<p:submenu label="Field"
				icon="ui-button-icon-left ui-icon ui-c fa fa-connectdevelop"
				rendered="#{userController.renForAll}">

				<p:menuitem value="Field List"
					icon="ui-button-icon-left ui-icon ui-c fa fa-filter"
					outcome="/views/secure/field/field.xhtml"
					rendered="#{userController.renCerAndOrg}" />
				<p:menuitem value="Field Registration"
					icon="ui-button-icon-left ui-icon ui-c fa fa-filter"
					outcome="/views/secure/field/field.xhtml"
					rendered="#{userController.renOpCommon}" />
				<p:menuitem value="Field Type"
					icon="ui-button-icon-left ui-icon ui-c fa fa-filter"
					outcome="/views/secure/fieldType/fieldType.xhtml" />

				<p:menuitem value="Soil Type"
					icon="ui-button-icon-left ui-icon ui-c fa fa-renren"
					outcome="/views/secure/soil/soil.xhtml"
					rendered="#{userController.renForAll}" />
				<!--<p:submenu label="Report"
					icon="ui-button-icon-left ui-icon ui-c fa fa-clipboard">
					<p:menuitem value="Report1"
						icon="ui-button-icon-left ui-icon ui-c fa " />
					<p:menuitem value="Report2"
						icon="ui-button-icon-left ui-icon ui-c fa" />
					<p:menuitem value="Report3"
						icon="ui-button-icon-left ui-icon ui-c fa" />
				</p:submenu> -->
			</p:submenu>
			<p:submenu label="Customer"
				icon="ui-button-icon-left ui-icon ui-c fa fa-users"
				rendered="#{userController.renCerAndOrg}">
				<p:menuitem value="Customer List"
					icon="ui-button-icon-left ui-icon ui-c fa fa-user"
					outcome="/views/secure/customer/customer.xhtml" />
				<p:submenu label="Report"
					icon="ui-button-icon-left ui-icon ui-c fa fa-clipboard">
					<p:menuitem value="Search by Area" icon="icon-leaf"
						outcome="/views/secure/customer/reports/searchCustomerByArea.xhtml" />
				</p:submenu>



				<!-- <p:menuitem value="Payment"
					icon="ui-button-icon-left ui-icon ui-c fa fa-money"
					outcome="/views/secure/payment/payment.xhtml" />
				<p:menuitem value="Payment Type"
					icon="ui-button-icon-left ui-icon ui-c fa fa-money"
					outcome="/views/secure/payment/paymentType.xhtml" /> -->

			</p:submenu>

			<p:menuitem value="Customer"
				icon="ui-button-icon-left ui-icon ui-c fa fa-user"
				outcome="/views/secure/customer/customer.xhtml"
				rendered="#{userController.renOpCommon}" />

			<p:submenu label="Field Information"
				icon="ui-button-icon-left ui-icon ui-c fa fa-info-circle"
				rendered="#{userController.renForAll}">
				<p:menuitem value="Request Information"
					icon="ui-button-icon-left ui-icon ui-c fa fa-info"
					outcome="/views/secure/requestInformation/requestInformation.xhtml" />
				<p:menuitem value="Request Information Log"
					icon="ui-button-icon-left ui-icon ui-c fa fa-info"
					outcome="/views/secure/requestInformation/requestInformationLog.xhtml" />
				<p:menuitem value="Response Information"
					icon="ui-button-icon-left ui-icon ui-c fa fa-info"
					outcome="/views/secure/responseInformation/responseInformation.xhtml" />
				<p:menuitem value="Response Information Log"
					icon="ui-button-icon-left ui-icon ui-c fa fa-info"
					outcome="/views/secure/responseInformation/responseInformationLog.xhtml" />
				<!-- <p:submenu label="Report"
					icon="ui-button-icon-left ui-icon ui-c fa fa-clipboard">
					<p:menuitem value="Report1" icon="icon-leaf" />
					<p:menuitem value="Report2" icon="icon-leaf" />
					<p:menuitem value="Report3" icon="icon-leaf" />
				</p:submenu> -->
			</p:submenu>
			<p:menuitem value="Sensors"
				icon="ui-button-icon-left ui-icon ui-c fa fa-rss"
				outcome="/views/secure/sensor/sensor.xhtml"
				rendered="#{userController.renForAll}" />
			<p:menuitem value="sms"
				icon="ui-button-icon-left ui-icon ui-c fa fa-envelope-o"
				outcome="/views/secure/sms/sms.xhtml" />
			<!-- <p:submenu label="Reports"
				icon="ui-button-icon-left ui-icon ui-c fa fa-folder">
				<p:menuitem value="Serach User"
					icon="ui-button-icon-left ui-icon ui-c fa fa-clipboard"
					outcome="/views/secure/reports/user-search.xhtml" />
			</p:submenu> -->

			<!-- <p:submenu label="Basic"
				icon="ui-button-icon-left ui-icon ui-c fa fa-folder">
				<p:menuitem value="Serach User"
					icon="ui-button-icon-left ui-icon ui-c fa fa-clipboard"
					outcome="/views/basic.xhtml" />
			</p:submenu> -->


		</pv:menu>
	</h:form>

</ui:composition>