<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pv="http://primefaces.org/volt">

	<h:form id="reportsmenu" dir="rtl">
    <p:panelMenu style="width:240px">
        <p:submenu label="Ajax Menuitems">
            <p:menuitem value="Save" actionListener="#" icon="ui-icon-disk" dir="rtl" />
            <p:menuitem value="Update" actionListener="#"  icon="ui-icon-arrowrefresh-1-w" dir="rtl"/>
        </p:submenu>
        <p:submenu label="Non-Ajax Menuitem">
            <p:menuitem value="Delete" actionListener="#"  ajax="false" icon="ui-icon-close" dir="rtl"/>
        </p:submenu>
        <p:separator />
        <p:submenu label="Navigations" >
            <p:submenu label="Links" icon="ui-icon-extlink">
                <p:submenu label="PrimeFaces" icon="ui-icon-heart">
                    <p:menuitem value="Home" url="#" icon="ui-icon-home" />
                    <p:menuitem value="Docs" url="#" icon="ui-icon-document" />
                    <p:menuitem value="Download" url="#" icon="ui-icon-arrowthick-1-s" />
                    <p:menuitem value="Support" url="#" icon="ui-icon-wrench" />
                </p:submenu>
            </p:submenu>
            <p:menuitem value="Mobile" icon="ui-icon-signal" />
        </p:submenu>
    </p:panelMenu>
</h:form>

</ui:composition>