<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />


	</f:facet>
	<title>#{sessionsData.pagetitle}</title>

	<h:outputScript name="js/layout.js" library="volt-layout" />

	<ui:insert name="head" />


	<script>
		$(document).ready(function() {
			// $("#reza").click(function(){

			//    $(".layout-menu > li > a > span").slideToggle(400);

			// });

			$("#layout-menu-cover").click(function() {

				$(".layout-menu > li > a > span").show();

			});

			TriggerClick = 1;
			$("#layout-menu-cover").click(function() {
				if (TriggerClick == 1) {
					TriggerClick = 0;
					$("#layout-portlets-tablecell-left").animate({
						width : '250px'
					}, 0);
					$("#reza").show();
				} else {
					TriggerClick = 0;
					$("#layout-portlets-tablecell-left").animate({
						width : '250px'
					}, 0);
					$("#reza").show();
				}
				;
			});

			$("#reza").click(function() {
				if (TriggerClick == 1) {
					TriggerClick = 1;
					$("#layout-portlets-tablecell-left").animate({
						width : '1px'
					}, 0);
					$("#reza").hide();
				} else {
					TriggerClick = 0;
					$("#layout-portlets-tablecell-left").animate({
						width : '1px'
					}, 0);
					$(".layout-menu > li > a > span").hide();
					$("#reza").hide();
				}

			});

			$("#btnReports").click(function() {

				$("#btnReportsMenu").slideToggle(400);

			});

		});
	</script>
	<script>
		function initMap() {
			// Styles a map in night mode.
			var map = new google.maps.Map(document.getElementById('map'), {
				center : {
					lat : 23.777176,
					lng : 90.399452
				},
				zoom : 12,
				styles : [ {
					elementType : 'geometry',
					stylers : [ {
						color : '#242f3e'
					} ]
				}, {
					elementType : 'labels.text.stroke',
					stylers : [ {
						color : '#242f3e'
					} ]
				}, {
					elementType : 'labels.text.fill',
					stylers : [ {
						color : '#746855'
					} ]
				}, {
					featureType : 'administrative.locality',
					elementType : 'labels.text.fill',
					stylers : [ {
						color : '#d59563'
					} ]
				}, {
					featureType : 'poi',
					elementType : 'labels.text.fill',
					stylers : [ {
						color : '#d59563'
					} ]
				}, {
					featureType : 'poi.park',
					elementType : 'geometry',
					stylers : [ {
						color : '#263c3f'
					} ]
				}, {
					featureType : 'poi.park',
					elementType : 'labels.text.fill',
					stylers : [ {
						color : '#6b9a76'
					} ]
				}, {
					featureType : 'road',
					elementType : 'geometry',
					stylers : [ {
						color : '#38414e'
					} ]
				}, {
					featureType : 'road',
					elementType : 'geometry.stroke',
					stylers : [ {
						color : '#212a37'
					} ]
				}, {
					featureType : 'road',
					elementType : 'labels.text.fill',
					stylers : [ {
						color : '#9ca5b3'
					} ]
				}, {
					featureType : 'road.highway',
					elementType : 'geometry',
					stylers : [ {
						color : '#746855'
					} ]
				}, {
					featureType : 'road.highway',
					elementType : 'geometry.stroke',
					stylers : [ {
						color : '#1f2835'
					} ]
				}, {
					featureType : 'road.highway',
					elementType : 'labels.text.fill',
					stylers : [ {
						color : '#f3d19c'
					} ]
				}, {
					featureType : 'transit',
					elementType : 'geometry',
					stylers : [ {
						color : '#2f3948'
					} ]
				}, {
					featureType : 'transit.station',
					elementType : 'labels.text.fill',
					stylers : [ {
						color : '#d59563'
					} ]
				}, {
					featureType : 'water',
					elementType : 'geometry',
					stylers : [ {
						color : '#17263c'
					} ]
				}, {
					featureType : 'water',
					elementType : 'labels.text.fill',
					stylers : [ {
						color : '#515c6d'
					} ]
				}, {
					featureType : 'water',
					elementType : 'labels.text.stroke',
					stylers : [ {
						color : '#17263c'
					} ]
				} ]
			});
		}
	</script>

	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIofOZSx86rOjMoEf0FqX02yaAEvJAfuE"></script>
</h:head>

<h:body styleClass="BlueBody">

	<ui:include src="topbar.xhtml" />

	<div id="layout-portlets-cover">
		<div id="layout-portlets-cover-indent">
			<div id="layout-portlets-table">

				<div id="layout-portlets-tablerow">

					<div id="layout-portlets-tablecell-left">
						<div id="layout-menu-cover">
							<ui:include src="layoutmenu.xhtml" />
						</div>
					</div>
					<div id="layout-portlets-tablecell-right">
						<ui:insert name="content">
                                Template
                            </ui:insert>

						<ui:include src="footer.xhtml" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<h:outputStylesheet name="css/core-layout.css" library="volt-layout" />
	<h:outputStylesheet name="css/animate.css" library="volt-layout" />
	<h:outputStylesheet name="css/volt-font.css" library="volt-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="volt-layout" />
	<h:outputStylesheet name="css/volt-layout.css" library="volt-layout" />
</h:body>


<p:ajaxStatus
	style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">

	<f:facet name="start">

		<p:graphicImage value="/images/Ajax/loading.gif" />

	</f:facet>

	<f:facet name="complete">

		<h:outputText value="" />

	</f:facet>

</p:ajaxStatus>

</html>