<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:p="http://primefaces.org/ui">


	<!-- TOPBAR START -->
	<div id="layout-topbar">
		<div id="layout-topbar-indent">

			<a id="menu-button"><i class="icon-th-menu"></i></a> <a
				href="${request.contextPath}/views/home.do"><span class="TexAlCenter instituteTitle"
				style="text-align: center !important">SSIS</span><!-- <h:graphicImage
					name="images/logo.svg" id="logo" library="volt-layout" /> --></a>

			<button id="reza" role="button" aria-disabled="false" value=""
				class="PadWithBorder5 BordRad5"
				style="background: linear-gradient(141deg, #ECECEA 0%, #F6F6F6 51%, #ECECEA 75%);">
				<span class="fa fa-dedent Fs25  RaisedButton"></span>
			</button>
			<span class="TexAlCenter instituteTitle"
				style="text-align: center !important">Welcome To,
				#{sessionsData.pagetitle}</span> <span class="DispInlBlock Fright"
				style="margin: 15px 10px 0px 0px;"> <a href="#"
				target="_blank" title="Help Line"> <i
					class="fa fa-question-circle Fs28 NetiMenu"
					style="margin-right: 2px" />
			</a> <a href="#" title="Customer Care"> <i
					class="fa fa-comments Fs28 NetiMenu" style="margin-right: 7px" />
			</a> <p:outputLabel id="userIDD">
					<i class="fa fa-user NetiMenu Fs28" />
				</p:outputLabel> <p:overlayPanel for="userIDD">

					<div class="Responsive100 TexAlCenter Card ui-fluid">
						<div class="Responsive100">
							<!-- <p:graphicImage value="#{homeDashBoardMB.findStaffImage}"
								styleClass="Wid60 BordRadHalf" /> -->
							<i class="fa fa-user Fs60 Blue" />
						</div>
						<div class="Responsive100" style="width: 110px;">
							<p:outputLabel value="#{sessionsData.user.name}" />
						</div>
						<div class="Responsive100">
							<p:outputLabel value="#{UserID}" />
						</div>
						<p:separator />
						<div class="Responsive100">
							<table>
								<tr>
									<td>
										<form id="j_idt22" name="j_idt22" method="post"
											action="${request.contextPath}/views/home.do"
											enctype="application/x-www-form-urlencoded">
											<input name="j_idt22" value="j_idt22" type="hidden" />
											<button aria-disabled="false" role="button"
												id="j_idt22:j_idt23" name="j_idt22:j_idt23" type="button"
												class="PadWithBorder5 RaisedButton BordRad5 fa fa-key Blue"
												title="Change Password"
												onclick="window.open('${request.contextPath}/views/secure/pass-change.do','_self')">
											</button>
											<input name="javax.faces.ViewState"
												id="j_id1:javax.faces.ViewState:0"
												value="-1869429091267352192:-7460779757242585013"
												autocomplete="off" type="hidden" />
										</form>
									</td>

									<td>|</td>
									<td>
										<form method="post" action="${request.contextPath}/logout">
											<input type="hidden" name="${_csrf.parameterName}"
												value="${_csrf.token}" />
											<button type="submit" value="Sign-Out"
												class="PadWithBorder5 BordRad5 fa fa-sign-out Red Wid100"
												title="Sign-Out"></button>
										</form>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</p:overlayPanel>

			</span>
		</div>
	</div>
	<br />
	<br />



</ui:composition>
