<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<h:form id="form">

					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							styleClass="Container100 Responsive100"
							actionListener="#{paymentSummaryController.savePaymentSummary}"	/>
					</div>
		</h:form>

	</ui:define>
</ui:composition>
