<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">


		<h:panelGroup rendered="#{userController.renOpCommon}">
			<div class="Container40 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Payment Type</div>
				<div class="EmptyBox5"></div>
				<h:form id="form">
					<p:growl id="messages" showSummary="true" />

					<div class="Container40 Responsive100">
						<h:outputText value="Payment Type" for="paymentType" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="paymentType"
							value="#{paymentTypeController.paymentTypeDTO.paymentTypeName}"
							required="true" label="soilType"
							requiredMessage="Payment Type must be required" />
					</div>

					<div class="EmptyBox5"></div>
					<div class="Container40 Responsive100"></div>
					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							icon="ui-button-icon-left ui-icon ui-c fa fa-save"
							styleClass="Container100 Responsive100"
							actionListener="#{paymentTypeController.savePaymentType()}"
							update="form :form1" />
					</div>
					<div class="Container20 Responsive100"></div>
				</h:form>

			</div>
		</h:panelGroup>

		<div class="Container60 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Payment Type</div>
			<div class="EmptyBox5"></div>
			<h:form id="form1">

				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{paymentTypeController.paymentTypeList}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="5"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
					rowsPerPageTemplate="5,10,15" selectionMode="single"
					rowKey="#{object.paymentTypeID}">

					<f:facet name="{Exporters}">
						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/excel.png"
								width="24" />
							<p:dataExporter type="xls" target="objects"
								fileName="paymentType" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/pdf.png" width="24" />
							<p:dataExporter type="pdf" target="objects"
								fileName="paymentType" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="objects"
								fileName="paymentType" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/xml.png" width="24" />
							<p:dataExporter type="xml" target="objects"
								fileName="paymentType" />
						</h:commandLink>
					</f:facet>

					<p:column headerText="Payment Type Name"
						sortBy="#{object.paymentTypeName}">
						<h:outputText value="#{object.paymentTypeName}" />
					</p:column>

					<p:column headerText="Ammount" sortBy="#{object.ammountName}">
						<h:outputText value="#{object.ammountName}" />
					</p:column>

					<p:column headerText="Payment Date"
						sortBy="#{object.paymentDateName}">
						<h:outputText value="#{object.paymentDateName}" />
					</p:column>

					<!-- 							<p:column headerText="Edit"> -->
					<!-- 								<p:commandButton icon="ui-icon-search" -->
					<!-- 									oncomplete="PF('areaDetailDig').show()" update="form1"> -->
					<!-- 									<f:setPropertyActionListener value="#{object}" target="#{areaController.areaDTO}" /> -->
					<!-- 								</p:commandButton> -->
					<!-- 							</p:column> -->

					<!-- 							<p:column headerText="Delete"> -->
					<!-- 								<p:commandButton icon="ui-icon-trash" update=":form1" -->
					<!-- 									action="#{areaController.deleteArea}"> -->
					<!-- 									<f:setPropertyActionListener value="#{object}" -->
					<!-- 										target="#{areaController.areaDTO}" /> -->
					<!-- 								</p:commandButton> -->
					<!-- 							</p:column> -->
					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xls" target="objects" fileName="paymentType" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="pdf" target="objects" fileName="paymentType" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/csv.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="csv" target="objects" fileName="paymentType" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/xml.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xml" target="objects" fileName="paymentType" />
					</h:commandLink>

				</p:dataTable>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
