<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">User Search</div>
			<div class="EmptyBox5"></div>
			<h:form id="userForm" style="">
				<p:growl id="messages" showSummary="true" />
				<div class="Container40 Responsive100">
					<h:outputText value="Enter UserName" for="userName" />
				</div>
				<div class="Container60 Responsive100">
					<p:inputText id="userName"
						value="#{userController.userNameForSearch}" required="true"
						label="UserName" requiredMessage="Required" />
				</div>
				<div class="EmptyBox5"></div>
				<div class="Container40 Responsive100"></div>
				<div class="Container40 Responsive100">
					<p:commandButton value="Search"
						icon="ui-button-icon-left ui-icon ui-c fa fa-paw"
						styleClass="Container50 Responsive100"
						actionListener="#{userController.searchUser()}"
						update="userForm :usersSerachResult" />
				</div>
				<div class="Container20 Responsive100"></div>

			</h:form>
		</div>
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti"><p:outputLabel value="User Details" rendered="#{userController.rendersearchResult}"/></div>
			<div class="EmptyBox5"></div>
			<h:form id="usersSerachResult">
		<div class="Container50 Responsive100">
		<div class="Container50 Responsive100">
		<p:outputLabel value="Name: " rendered="#{userController.rendersearchResult}"/>
		</div>
		<div class="Container50 Responsive100">
		<p:outputLabel value="#{userController.userDTO.name}" rendered="#{userController.rendersearchResult}"/>
		</div>
		</div>

		<div class="Container50 Responsive100">
		<div class="Container50 Responsive100">
		<p:outputLabel value="Status: " rendered="#{userController.rendersearchResult}"/>
		</div>
		<div class="Container50 Responsive100">
		<p:outputLabel value="#{userController.userDTO.enabled}" rendered="#{userController.rendersearchResult}"/>
		</div>
		</div>
		
		<div class="Container50 Responsive100">
		<div class="Container50 Responsive100">
		<p:outputLabel value="Username: " rendered="#{userController.rendersearchResult}"/>
		</div>
		<div class="Container50 Responsive100">
		<p:outputLabel value="#{userController.userDTO.username}" rendered="#{userController.rendersearchResult}"/>
		</div>
		</div>
			</h:form>

		</div>

	</ui:define>
</ui:composition>
