<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<div class="Container100 Responsive100">
		<div class="EmptyBox5"></div>
		<div class="CardTopic TexAlCenter Neti">List of Organization</div>
		<div class="EmptyBox5"></div>

		<h:form id="form1">

			<p:dataTable id="organizations" var="organization"
				paginatorPosition="bottom"
				value="#{organizationController.organizationDTOs}"
				styleClass="et_datatable" emptyMessage="Empty..." editable="true"
				paginator="true" rows="5"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
				rowsPerPageTemplate="5,10,15" selectionMode="single"
				rowKey="#{organization.organizationID}">

				<f:facet name="{Exporters}">
					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24" />
						<p:dataExporter type="xls" target="organizations"
							fileName="organization" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/pdf.png" width="24" />
						<p:dataExporter type="pdf" target="organizations"
							fileName="organization" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/csv.png" width="24" />
						<p:dataExporter type="csv" target="organizations"
							fileName="organization" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/xml.png" width="24" />
						<p:dataExporter type="xml" target="organizations"
							fileName="organization" />
					</h:commandLink>
				</f:facet>


				<p:column headerText="Organization">
					<p:outputLabel value="#{organization.organizationName}" />
				</p:column>

				<p:column headerText="Mobile">

					<p:outputLabel value="#{organization.mobile}" />
				</p:column>


				<p:column headerText="Email">

					<p:outputLabel value="#{organization.email}" />
				</p:column>

				<p:column headerText="CER Name">

					<p:outputLabel value="#{organization.cerDTO.cerName}" />
				</p:column>

				<p:column headerText="Edit">
					<p:commandButton icon="ui-icon-search"
						oncomplete="PF('organizationDetailDig').show()" update="form1">
						<f:setPropertyActionListener value="#{organization}"
							target="#{organizationController.organizationDTO}" />
					</p:commandButton>
				</p:column>

				<h:commandLink>
					<p:graphicImage name="/resources/demo/images/excel.png" width="24"
						pageOnly="true" />
					<p:dataExporter type="xls" target="organizations"
						fileName="organization" />
				</h:commandLink>

				<h:commandLink>
					<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
						pageOnly="true" />
					<p:dataExporter type="pdf" target="organizations"
						fileName="organization" />
				</h:commandLink>

				<h:commandLink>
					<p:graphicImage name="/resources/demo/images/csv.png" width="24"
						pageOnly="true" />
					<p:dataExporter type="csv" target="organizations"
						fileName="organization" />
				</h:commandLink>

				<h:commandLink>
					<p:graphicImage name="/resources/demo/images/xml.png" width="24"
						pageOnly="true" />
					<p:dataExporter type="xml" target="organizations"
						fileName="organization" />
				</h:commandLink>
			</p:dataTable>

			<p:dialog widgetVar="organizationDetailDig" responsive="true"
				modal="true" showEffect="blind" hideEffect="explode"
				resizable="false">
				<p:outputPanel id="organizationDetail">
					<p:panelGrid columns="2" columnClasses="label,value">

						<f:facet name="header">
							<h:outputText value="organization Info" />
						</f:facet>

						<h:outputText value="organization Name" />
						<h:inputText
							value="#{organizationController.organizationDTO.organizationName}" />

						<h:outputText value="Mobile" />
						<h:inputText
							value="#{organizationController.organizationDTO.mobile}" />

						<h:outputText value="Email" />
						<h:inputText
							value="#{organizationController.organizationDTO.email}" />

						<h:outputText value="Present Address" />
						<h:inputText
							value="#{organizationController.organizationDTO.presentAddress}" />

						<h:outputText value="Permanent Address" />
						<h:inputText
							value="#{organizationController.organizationDTO.permanentAddress}" />

						<h:outputText value="Tin Cer Number" />
						<h:inputText
							value="#{organizationController.organizationDTO.tinCerNumber}" />

						<h:outputText value="Registration Number" />
						<h:inputText
							value="#{organizationController.organizationDTO.registrationNumber}" />



					</p:panelGrid>
					<p:commandButton value="Update"
						action="#{organizationController.updateOrganization()}"
						update="form1" />
				</p:outputPanel>
			</p:dialog>

		</h:form>
	</div>

</ui:composition>
