<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Organization</div>
			<div class="EmptyBox5"></div>
			<h:form id="form">
				<!-- 				<p:growl id="messages" showSummary="false" /> -->
				<div class="Container50 Responsive100">
					<!-- <div class="Container40 Responsive100">
						<h:outputText value="CER Name" for="CERname" />
					</div>
					<div class="Container60 Responsive100">
						<p:selectOneMenu id="cerName"
							value="#{organizationController.cerID}" required="true"
							requiredMessage="Please, Select a CER." filter="true">
							<f:selectItem itemLabel="Select Cer Name" />
							<f:selectItems var="cer"
								value="#{organizationController.cerDTOs}"
								itemLabel="#{cer.cerName}" itemValue="#{cer.cerID}" />
						</p:selectOneMenu>
						<p:message for="cerName" display="cerName" />
					</div> -->
					<div class="Container40 Responsive100">
						<h:outputText value="Name" for="name" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="name"
							value="#{organizationController.organizationDTO.organizationName}"
							required="true" label="Name" requiredMessage="Name is required"
							validatorMessage="Name should start with Character">
							<f:validateRegex
								pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" />
						</p:inputText>
						<p:message for="name" display="name" />
					</div>
					<div class="Container40 Rsponsive100">
						<h:outputText value="Email" for="Email" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="email"
							value="#{organizationController.organizationDTO.email}"
							required="true" label="email" requiredMessage="Email is required"
							validatorMessage="Enter a valid email address">
							<f:validateRegex
								pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
						</p:inputText>
						<p:message for="email" display="email" />
					</div>

					<div class="Container40 Rsponsive100">
						<h:outputText value="Mobile" for="mobile" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="mobile"
							value="#{organizationController.organizationDTO.mobile}"
							required="true" label="mobile" requiredMessage="Required"
							validatorMessage="Number should be between 11 to 14">
							<f:validateLength minimum="11" maximum="14" />
						</p:inputText>
						<p:message for="mobile" display="mobile" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Permanent Address" for="permanentAddress" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="permanentAddress"
							value="#{organizationController.organizationDTO.permanentAddress}"
							required="true" label="permanentAddress"
							requiredMessage="Permanent Address is required." />
					</div>
				</div>
				<div class="Container50 Responsive100">
					<div class="Container40 Responsive100">
						<h:outputText value="Present Address" for="presentAddress" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="presentAddress"
							value="#{organizationController.organizationDTO.presentAddress}"
							required="true" label="presentAddress"
							requiredMessage="Present address is required." />
						<p:message for="presentAddress" display="presentAddress" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Tin cer. Number" for="tinNumber" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="tinCerNumber"
							value="#{organizationController.organizationDTO.tinCerNumber}"
							required="true" label="tinNumber"
							requiredMessage="Tin Cer.No is required." />
						<p:message for="tinCerNumber" display="tinCerNumber" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Registration Number" for="registrationNumber" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="registrationNumber"
							value="#{organizationController.organizationDTO.registrationNumber}"
							required="true" label="registrationNumber"
							requiredMessage="Registration number is required." />
						<p:message for="registrationNumber" display="registrationNumber" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Establish Date" for="establishDate" />
					</div>
					<div class="Container60 Responsive100">
						<p:calendar id="establishDate"
							value="#{organizationController.organizationDTO.establishDate}"
							navigator="true" />
					</div>
				</div>
				<div class="EmptyBox5"></div>
				<div class="Container30 Responsive100"></div>
				<div class="Container50 Responsive100">
					<p:commandButton value="Save"
						icon="ui-button-icon-left ui-icon ui-c fa fa-save"
						styleClass="Container50 Responsive100"
						action="#{organizationController.saveOrganizations()}"
						update="form :form1" />
				</div>
				<div class="Container20 Responsive100"></div>
			</h:form>
		</div>
		<ui:include src="listOfOrg.xhtml" />
	</ui:define>
</ui:composition>
