<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">CER</div>
			<div class="EmptyBox5"></div>
			<h:form id="form">
				<p:growl id="messages" showSummary="true" />
				<!-- left -->
				<div class="Container50 Responsive100">
					<div class="Container40 Responsive100">
						<h:outputText value="Name" for="name" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="name" value="#{cerController.cerDTO.cerName}"
							required="true" requiredMessage="Enter Cer Name" />
					</div>
					<div class="Container40 Responsive100">

						<h:outputText value="Email" for="Email" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="email" value="#{cerController.cerDTO.email}"
							required="true" requiredMessage="" />
					</div>
					<div class="Container40 Responsive100">

						<h:outputText value="Mobile" for="mobile" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="mobile" value="#{cerController.cerDTO.mobile}"
							required="true" requiredMessage="Required" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Permanent Address" for="permanentAddress" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="permanentAddress"
							value="#{cerController.cerDTO.permanentAddress}" required="true"
							requiredMessage="Required" />
					</div>

				</div>
				<!-- right -->
				<div class="Container50 Responsive100">

					<div class="Container40 Responsive100">
						<h:outputText value="Present Address" for="presentAddress" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="presentAddress"
							value="#{cerController.cerDTO.presentAddress}" required="true"
							requiredMessage="Required" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Tin cer. Number" for="tinNumber" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="tinCerNumber"
							value="#{cerController.cerDTO.tinCerNumber}" required="true"
							requiredMessage="Required" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Registration Number" for="registrationNumber" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="registrationNumber"
							value="#{cerController.cerDTO.registrationNumber}"
							required="true" requiredMessage="Required" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Expire  Date" for="establishDate" />
					</div>
					<div class="Container60 Responsive100">
						<p:calendar id="establishDate"
							value="#{cerController.cerDTO.establishDate}" />
					</div>



				</div>
				<div class="EmptyBox5"></div>
				<div class="Container30 Responsive100"></div>
				<div class="Container50 Responsive100">
					<p:commandButton value="Save"
						icon="ui-button-icon-left ui-icon ui-c fa fa-save"
						styleClass="Container50 Responsive100"
						actionListener="#{cerController.saveCERs}" update="form :form1" />

				</div>
				<div class="Container20 Responsive100"></div>
			</h:form>
		</div>
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Cer</div>
			<div class="EmptyBox5"></div>
			<h:form id="form1">

				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" reflow="true" var="cer"
					paginatorPosition="bottom" value="#{cerController.cerDTOs}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
					rowsPerPageTemplate="5,10,15" selectionMode="single"
					rowKey="#{cer.cerID}">

					<f:facet name="{Exporters}">
						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/excel.png"
								width="24" />
							<p:dataExporter type="xls" target="objects" fileName="users" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/pdf.png" width="24" />
							<p:dataExporter type="pdf" target="objects" fileName="users" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="objects" fileName="users" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/xml.png" width="24" />
							<p:dataExporter type="xml" target="objects" fileName="users" />
						</h:commandLink>
					</f:facet>

					<p:column headerText="Cer Name" sortBy="#{cer.cerName}">
						<h:outputText value="#{cer.cerName}" />
					</p:column>

					<p:column headerText="Mobile" sortBy="#{cer.mobile}">

						<h:outputText value="#{cer.mobile}" />
					</p:column>


					<p:column headerText="Email" sortBy="#{cer.email}">

						<h:outputText value="#{cer.email}" />
					</p:column>

					<p:column headerText="Edit">
						<p:commandButton icon="ui-icon-search"
							oncomplete="PF('cerDetailDig').show()" update="form1">
							<f:setPropertyActionListener value="#{cer}"
								target="#{cerController.cerDTO}" />
						</p:commandButton>
					</p:column>

				</p:dataTable>
				<p:dialog widgetVar="cerDetailDig" responsive="true" modal="true"
					showEffect="blind" hideEffect="explode" resizable="false">
					<p:outputPanel id="cerDetail">
						<p:panelGrid columns="2" columnClasses="label,value">
							<f:facet name="header">
								<h:outputText value="Cer Info" />
							</f:facet>

							<h:outputText value="Cer Name" />
							<h:inputText value="#{cerController.cerDTO.cerName}" />

							<h:outputText value="Email" />
							<h:inputText value="#{cerController.cerDTO.email}" />

							<h:outputText value="Mobile" />
							<h:inputText value="#{cerController.cerDTO.mobile}" />

							<h:outputText value="Present Address" />
							<h:inputText value="#{cerController.cerDTO.presentAddress}" />

							<h:outputText value="Permanent Address" />
							<h:inputText value="#{cerController.cerDTO.permanentAddress}" />

							<h:outputText value="Registration Number" />
							<h:inputText value="#{cerController.cerDTO.registrationNumber}" />
						</p:panelGrid>
						<p:commandButton value="Update"
							action="#{cerController.updateCer}" update="form1" />
					</p:outputPanel>
				</p:dialog>
			</h:form>
		</div>

	</ui:define>
</ui:composition>
