<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<div class="Container40 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Contact Person</div>
			<div class="EmptyBox5"></div>
			<h:form id="form" style="">
				<p:growl id="messages" showSummary="true" />

				<div class="Container40 Responsive100">
					<h:outputText value="User Type" for="userType" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="userType"
						value="#{contactPersonController.contactPersonDTO.userType}">
						<f:selectItem itemLabel="Select Contact Person" itemValue="" />
						<f:selectItem itemLabel="Cer" itemValue="cer" />
						<f:selectItem itemLabel="Organization" itemValue="organization" />
						<f:selectItem itemLabel="Operator" itemValue="operator" />
						<p:ajax event="change"
							listener="#{contactPersonController.uiRender}" update="form" />
					</p:selectOneMenu>
				</div>


				<div class="Container40 Responsive100">
					<h:outputText value="Contact Person Name" for="contactPerosn" />
				</div>
				<div class="Container60 Responsive100">
					<p:inputText id="contactPerosn" required="true"
						value="#{contactPersonController.contactPersonDTO.contactPersonName}"
						requiredMessage="Required" label="contactPerosn" />
				</div>


				<div class="Container40 Responsive100">
					<h:outputText value="Cer" for="cer"
						rendered="#{userController.renCer}" />
				</div>


				<div class="Container60 Responsive100">
					<p:selectOneMenu id="cer" rendered="#{userController.renCer}"
						value="#{userController.cerDTO.cerID}">
						<f:selectItem itemLabel="Select Cer" itemValue="" />
						<f:selectItems value="#{userController.cerDTOs}" var="cer"
							itemLabel="#{cer.cerName}" itemValue="#{cer.cerID}" />
					</p:selectOneMenu>
				</div>

				<div class="Container40 Responsive100">
					<h:outputText value="Organization" for="organization"
						rendered="#{userController.renOrg}" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="organization"
						rendered="#{userController.renOrg}"
						value="#{userController.organizationDTO.organizationID}">
						<f:selectItem itemLabel="Select Organization" itemValue="" />
						<f:selectItems value="#{userController.organizationDTOs}"
							var="organization" itemLabel="#{organization.organizationName}"
							itemValue="#{organization.organizationID}" />
					</p:selectOneMenu>
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="Operator" for="operator"
						rendered="#{userController.renOp}" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="operator" rendered="#{userController.renOp}"
						value="#{userController.operatorDTO.operatorID}">
						<f:selectItem itemLabel="Select Operator" itemValue="" />
						<f:selectItems value="#{userController.operatorDTOs}"
							var="operator" itemLabel="#{operator.operatorName}"
							itemValue="#{operator.operatorID}" />
					</p:selectOneMenu>
				</div>


				<div class="EmptyBox5"></div>
				<div class="Container40 Responsive100"></div>
				<div class="Container40 Responsive100">
					<p:commandButton value="Save"
						styleClass="Container100 Responsive100"
						actionListener="#{contactPersonController.saveContactPerson}"
						update="form :form1" />
				</div>
				<div class="Container20 Responsive100"></div>
			</h:form>

		</div>

		<div class="Container60 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Contact Person</div>
			<div class="EmptyBox5"></div>
			<h:form id="form1">
				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{contactPersonController.contactPersonList}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="5"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
					rowsPerPageTemplate="5,10,15" selectionMode="single"
					rowKey="#{object.contactPersonID}">

					<f:facet name="{Exporters}">
						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/excel.png"
								width="24" />
							<p:dataExporter type="xls" target="objects"
								fileName="contactPerson" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/pdf.png" width="24" />
							<p:dataExporter type="pdf" target="objects"
								fileName="contactPerson" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="objects"
								fileName="contactPerson" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/xml.png" width="24" />
							<p:dataExporter type="xml" target="objects"
								fileName="contactPerson" />
						</h:commandLink>
					</f:facet>

					<p:column headerText="Contact Person Name"
						sortBy="#{object.contactPersonName}">
						<h:outputText value="#{object.contactPersonName}" />
					</p:column>

					<p:column headerText="Edit">
						<p:commandButton icon="ui-icon-search"
							oncomplete="PF('contactPersonDetailDig').show()" update="form1">
							<f:setPropertyActionListener value="#{object}" target="" />
						</p:commandButton>
					</p:column>

					<p:column headerText="Delete">
						<p:commandButton icon="ui-icon-trash" update=":form1"
							action="#{contactPersonController.deleteContactPerson}">
							<f:setPropertyActionListener value="#{object}"
								target="#{contactPersonController.contactPersonDTO}" />
						</p:commandButton>
					</p:column>
					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xls" target="objects"
							fileName="contactPerosn" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="pdf" target="objects"
							fileName="contactPerosn" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/csv.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="csv" target="objects"
							fileName="contactPerosn" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/xml.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xml" target="objects"
							fileName="contactPerosn" />
					</h:commandLink>

				</p:dataTable>

				<p:dialog widgetVar="contactPersonDetailDig" responsive="true"
					modal="true" showEffect="blind" hideEffect="explode"
					resizable="false">
					<p:outputPanel id="sensorDetail">
						<p:panelGrid columns="2" columnClasses="label,value">
							<f:facet name="header">
								<h:outputText value="Contact Person Info" />
							</f:facet>

							<h:outputText value="Contact Person Name" />
							<h:inputText
								value="#{contactPersonController.contactPersonDTO.contactPersonName}" />


						</p:panelGrid>
						<p:commandButton value="Update"
							action="#{contactPersonController.updateContactPerson}"
							update="form1" />
					</p:outputPanel>
				</p:dialog>
			</h:form>
		</div>
	</ui:define>

</ui:composition>
