<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOpCommon}">
			<div class="Container40 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Field</div>
				<div class="EmptyBox5"></div>
				<h:form id="form" style="">
					<p:growl id="messages" showSummary="true" />

					<div class="Container40 Responsive100">
						<h:outputText value="Field Measurement" for="fieldMeasurement" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="fieldMeasurement" required="true"
							value="#{fieldController.fieldDTO.fieldMeasurement}"
							requiredMessage="Field Measurement is required"
							label="fieldMeasurement" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Field Type" for="fieldType" />
					</div>

					<div class="Container60 Responsive100">
						<p:selectOneMenu value="#{fieldController.fieldTypeID}"
							required="true" requiredMessage="Please, Select a Field type."
							filter="true">
							<f:selectItem itemLabel="Select Category Name" />
							<f:selectItems var="fieldType"
								value="#{fieldController.fieldTypeList}"
								itemLabel="#{fieldType.fieldTypeName}"
								itemValue="#{fieldType.fieldTypeID}" />

						</p:selectOneMenu>
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Pump" for="ipcu" />
					</div>

					<div class="Container60 Responsive100">
						<p:selectOneMenu value="#{fieldController.ipcuID}" required="true"
							requiredMessage="Please, Select an IPCU." filter="true">
							<f:selectItem itemLabel="Select Category Name" />
							<f:selectItems var="ipcu" value="#{fieldController.ipcuList}"
								itemLabel="#{ipcu.ipcuWattCapacity}" itemValue="#{ipcu.ipcuID}" />

						</p:selectOneMenu>
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Customer" for="customer" />
					</div>

					<div class="Container60 Responsive100">
						<p:selectOneMenu value="#{fieldController.customerID}"
							required="true" requiredMessage="Please, Select a Customer."
							filter="true">
							<f:selectItem itemLabel="Select Category Name" />
							<f:selectItems var="customer"
								value="#{fieldController.customerList}"
								itemLabel="#{customer.customerName}"
								itemValue="#{customer.customerID}" />

						</p:selectOneMenu>
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Soil Type " for="soilType" />
					</div>

					<div class="Container60 Responsive100">
						<p:selectOneMenu value="#{fieldController.soilID}" required="true"
							requiredMessage="Please, Select a Soil Type." filter="true">
							<f:selectItem itemLabel="Select Category Name" />
							<f:selectItems var="soil" value="#{fieldController.soilList}"
								itemLabel="#{soil.soilType}" itemValue="#{soil.soilID}" />

						</p:selectOneMenu>
					</div>


					<div class="EmptyBox5"></div>
					<div class="Container40 Responsive100"></div>
					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							styleClass="Container100 Responsive100"
							actionListener="#{fieldController.saveField}"
							update="form :form1" />
					</div>
					<div class="Container20 Responsive100"></div>
				</h:form>
			</div>

			<div class="Container60 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">List of Field</div>
				<div class="EmptyBox5"></div>
				<h:form id="form1">
					<p:growl id="messages" showSummary="true" life="3000" />
					<p:dataTable id="objects" var="field" paginatorPosition="bottom"
						value="#{fieldController.fieldListByOperatorID}"
						styleClass="et_datatable" emptyMessage="Empty..." editable="true"
						paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
						rowsPerPageTemplate="25,30" selectionMode="single"
						rowKey="#{field.fieldID}">


						<f:facet name="{Exporters}">

							<h:commandLink ajax="false">
								<p:graphicImage name="/resources/images/pdf.png" width="24" />
								<pe:exporter type="pdf" target="objects" fileName="ListOfField"
									tableTitle="List of Field Report" orientation="portrait"
									facetBackground="#FFFFFF" facetFontSize="11"
									facetFontColor="#0000" facetFontStyle="BOLD"
									cellFontColor="#000" cellFontSize="10" cellFontStyle="NORMAL" />
							</h:commandLink>

						</f:facet>


						<p:column headerText="Operator ID"
							sortBy="field.operatorDTO.operatorID" filterValue="true">
							<h:outputText value="#{field.operatorDTO.operatorID}" />
						</p:column>

						<p:column headerText="Pump ID" sortBy="field.ipcuDTO.ipcuID">
							<h:outputText value="#{field.ipcuDTO.ipcuID}" />
						</p:column>

						<p:column headerText="Customer ID"
							sortBy="field.customerDTO.customerID">
							<h:outputText value="#{field.customerDTO.customerID}" />
						</p:column>

						<p:column headerText="Field ID" sortBy="field.fieldID">
							<h:outputText value="#{field.fieldID}" />
						</p:column>

						<p:column headerText="Reference" sortBy="field.reference">
							<h:outputText value="#{field.reference}" />
						</p:column>

						<p:column headerText="Customer Name"
							sortBy="field.customerDTO.customerName">
							<h:outputText value="#{field.customerDTO.customerName}" />
						</p:column>

						<p:column headerText="Field Measurement"
							sortBy="field.fieldMeasurement">
							<h:outputText value="#{field.fieldMeasurement}" />
						</p:column>



						<p:column headerText="Edit">
							<p:commandButton icon="ui-icon-search"
								oncomplete="PF('fieldDetailDig').show()" update="form1">
								<f:setPropertyActionListener value="#{field}"
									target="#{fieldController.fieldDTO}" />
							</p:commandButton>
						</p:column>

						<!-- <p:column headerText="Delete">
							<p:commandButton icon="ui-icon-trash" update=":form1"
								action="#{fieldController.deleteField}">
								<f:setPropertyActionListener value="#{field}"
									target="#{fieldController.fieldDTO}" />
							</p:commandButton>
						</p:column> -->

					</p:dataTable>

					<p:dialog widgetVar="fieldDetailDig" responsive="true" modal="true"
						showEffect="blind" hideEffect="explode" resizable="false">
						<p:outputPanel id="fieldDetail">
							<p:panelGrid columns="2" columnClasses="label,value">
								<f:facet name="header">
									<h:outputText value="Field Info" />
								</f:facet>

								<h:outputText value="Field Meassurement" />
								<h:inputText
									value="#{fieldController.fieldDTO.fieldMeasurement}" />


							</p:panelGrid>
							<p:commandButton value="Update"
								action="#{fieldController.updateField}" update="form1" />
						</p:outputPanel>
					</p:dialog>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{userController.renCerAndOrg}">
			<div class="Container100 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">List of Field</div>
				<div class="EmptyBox5"></div>
				<h:form id="form2">
					<p:growl id="messages" showSummary="true" life="3000" />
					<p:dataTable id="objects" var="field" paginatorPosition="bottom"
						value="#{fieldController.fieldList}" styleClass="et_datatable"
						emptyMessage="Empty..." editable="true" paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
						rowsPerPageTemplate="25,30" selectionMode="single"
						rowKey="#{field.fieldID}">


						<f:facet name="{Exporters}">

							<h:commandLink ajax="false">
								<p:graphicImage name="/resources/images/pdf.png" width="24" />
								<pe:exporter type="pdf" target="objects" fileName="ListOfField"
									tableTitle="List of Field Report" orientation="portrait"
									facetBackground="#FFFFFF" facetFontSize="11"
									facetFontColor="#0000" facetFontStyle="BOLD"
									cellFontColor="#000" cellFontSize="10" cellFontStyle="NORMAL" />
							</h:commandLink>

						</f:facet>

						<p:column headerText="Operator ID"
							sortBy="field.operatorDTO.operatorID">
							<h:outputText value="#{field.operatorDTO.operatorID}" />
						</p:column>

						<p:column headerText="Pump ID" sortBy="field.ipcuDTO.ipcuID">
							<h:outputText value="#{field.ipcuDTO.ipcuID}" />
						</p:column>

						<p:column headerText="Customer ID"
							sortBy="field.customerDTO.customerID">
							<h:outputText value="#{field.customerDTO.customerID}" />
						</p:column>

						<p:column headerText="Field ID" sortBy="field.fieldID">
							<h:outputText value="#{field.fieldID}" />
						</p:column>
						<p:column headerText="Reference" sortBy="field.reference">
							<h:outputText value="#{field.reference}" />
						</p:column>

						<p:column headerText="Operator Name"
							sortBy="field.operatorDTO.operatorName">
							<h:outputText value="#{field.operatorDTO.operatorName}" />
						</p:column>

						<p:column headerText="Customer Name"
							sortBy="field.customerDTO.customerName">
							<h:outputText value="#{field.customerDTO.customerName}" />
						</p:column>

						<p:column headerText="Field Measurement"
							sortBy="field.fieldMeasurement">
							<h:outputText value="#{field.fieldMeasurement}" />
						</p:column>

						<!-- 
						<p:column headerText="Edit">
							<p:commandButton icon="ui-icon-search"
								oncomplete="PF('fieldDetailDig').show()" update="form2">
								<f:setPropertyActionListener value="#{field}"
									target="#{fieldController.fieldDTO}" />
							</p:commandButton>
						</p:column>

						<p:column headerText="Delete">
							<p:commandButton icon="ui-icon-trash" update=":form2"
								action="#{fieldController.deleteField}">
								<f:setPropertyActionListener value="#{field}"
									target="#{fieldController.fieldDTO}" />
							</p:commandButton>
						</p:column> -->


					</p:dataTable>

				</h:form>
			</div>
		</h:panelGroup>
	</ui:define>
</ui:composition>
