<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">

		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Total
				Transaction</div>
			<div class="EmptyBox5"></div>
			<h:form id="form2">
				<p:growl id="messages" showSummary="true" life="3000" />

				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{transactionLogController.totalTrancastionByOperators}"
					widgetVar="transaction" styleClass="et_datatable"
					emptyMessage="Empty..." editable="true" paginator="true" rows="15"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="15,20,25" selectionMode="single"
					rowKey="#{object.operatorID}">


					<p:column headerText="Operator Name"
						sortBy="#{object.operatorName}">
						<h:outputText value="#{object.operatorName}" />
					</p:column>

					<p:column headerText="Operator ID"
						sortBy="#{object.totalTrancastionByOperator.operatorID}">
						<h:outputText value="#{object.operatorID}" />
					</p:column>

					<p:column headerText="No. Of transaction"
						sortBy="#{object.totalTrancastionByOperator.noOfOperator}">
						<h:outputText value="#{object.noOfOperator}" />
					</p:column>

					<p:column headerText="Total Transaction"
						sortBy="#{object.totalTrancastionByOperator.totalAmountPerOperator}">
						<h:outputText value="#{object.totalAmountPerOperator}" />
					</p:column>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xls" target="objects" fileName="transaction" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="pdf" target="objects" fileName="transaction" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/csv.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="csv" target="objects" fileName="transaction" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/xml.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xml" target="objects" fileName="transaction" />
					</h:commandLink>

				</p:dataTable>

			</h:form>
		</div>
	
		<div class="Container40 Responsive100">
						<h:outputText value="Total Transaction" for="totalTransaction" />
					</div>
		
		<div class="Container10 Responsive100">
			<h:outputText value=":" for="colon" />
		</div>
		<div class="Container50 Responsive100">
			<h:outputText
				value="#{transactionLogController.totalTransactionAmount}"
				for="totalTransaction" />
		</div>

	</ui:define>
</ui:composition>
