<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">


		<div class="Card ui-fluid NoPadding">
			<div class="EmptyBox5" />
			<div class="CardTopic TexAlCenter Neti">Transaction Log Report</div>
			<div class="EmptyBox5" />
			<h:form id="transactionlogForm">

				<div class="Container50 Responsive100">
					<div class="Container40 Responsive100">
						<h:outputText value="Operator" for="operator" />
					</div>
					<div class="Container60 Responsive100">
						<p:selectOneMenu id="operators"
							value="#{transactionLogController.operatorID}" required="true"
							requiredMessage="Please, Select an Operator" filter="true">
							<f:selectItem itemLabel="Select Category Name" />
							<f:selectItems var="operator"
								value="#{transactionLogController.opList}"
								itemLabel="#{operator.operatorName}"
								itemValue="#{operator.operatorID}" />
						</p:selectOneMenu>
						<p:message for="operators" display="operators" />
					</div>
					<div class="Container40 Responsive100">

						<p:outputLabel value="* From Date" />
					</div>
					<div class="Container60 Responsive100">
						<p:calendar required="true" pattern="yyyy-MM-dd"
							value="#{transactionLogController.stratDate}" />
					</div>
					<div class="Container40 Responsive100">
						<p:outputLabel value="* To Date" />
					</div>
					<div class="Container60 Responsive100">
						<p:calendar required="true" pattern="yyyy-MM-dd"
							value="#{transactionLogController.endDate}" />
					</div>

					<div class="Container60 Responsive100"></div>
					<div class="Container20 Responsive100">
						<p:commandButton value="Filter"
							icon="ui-button-icon-left ui-icon ui-c fa fa-save"
							styleClass="Container100 Responsive100"
							actionListener="#{transactionLogController.finddateWiseTransactionLogList}"
							update="transactionlogForm :logList" />
					</div>
					<div class="Container20 Responsive100"></div>


				</div>
			</h:form>
			<div class="Container100 Responsive100 NoPadding">
				<h:form id="logList">


					<p:dataTable id="objects" var="object" paginatorPosition="bottom"
						value="#{transactionLogController.transactionLogDTOs}"
						widgetVar="transaction" styleClass="et_datatable"
						emptyMessage="Empty..." editable="true" paginator="true" rows="15"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
						rowsPerPageTemplate="15,20,25" selectionMode="single"
						rowKey="#{object.transationLogID}">
						<f:facet name="{Exporters}">
							<h:commandLink ajax="false">
								<p:graphicImage name="/resources/images/pdf.png" width="24" />
								<pe:exporter type="pdf" target="objects"
									fileName="transactionLogReport"
									tableTitle="Transaction Log Report" orientation="portrait"
									facetBackground="#FFFFFF" facetFontSize="11"
									facetFontColor="#0000" facetFontStyle="BOLD"
									cellFontColor="#000" cellFontSize="10" cellFontStyle="NORMAL" />
							</h:commandLink>
						</f:facet>


						<p:column headerText="Payment Date" styleClass="Wid20 TexAlCenter">
							<p:outputLabel value="#{object.paymentDate}">
								<f:convertDateTime pattern="yyyy-MM-dd" />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Customer Name" styleClass="TexAlCenter">

							<p:outputLabel value="#{object.customerDTO.customerName}" />
						</p:column>
						<p:column headerText="Debit Amount" styleClass="TexAlCenter">

							<p:outputLabel value="#{object.debitAmount}" />
						</p:column>
						<p:column headerText="payment Type" styleClass="TexAlCenter">

							<p:outputLabel value="#{object.paymentTypeName}" />
						</p:column>

					</p:dataTable>
				</h:form>
			</div>






		</div>


	</ui:define>
</ui:composition>
