<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="content">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Transaction</div>
			<div class="EmptyBox5"></div>
			<h:form id="form">
				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{transactionLogController.sumOfTransactionByDate}"
					widgetVar="transaction" styleClass="et_datatable"
					emptyMessage="Empty..." editable="true" paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
					rowsPerPageTemplate="10,15,20" selectionMode="single"
					rowKey="#{object.transationLogID}">

					<!-- 					<p:column headerText="Sender" sortBy="#{object.sender}">
						<h:outputText value="#{object.sender}" />
					</p:column>
 -->

					<p:column headerText="Debit Amount" sortBy="#{object.debitAmount}">
						<h:outputText value="#{object.debitAmount}" />
					</p:column>

					<!-- <p:column headerText="Payment Date" sortBy="#{object.paymentDate}">
					<h:outputText value="#{object.paymentDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column> -->

				</p:dataTable>

			</h:form>
		</div>
	</ui:define>
</ui:composition>