<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">



		<div class="EmptyBox5"></div>
		<div class="CardTopic TexAlCenter Neti">Operator Wise Total
			Transaction</div>
		<div class="EmptyBox5"></div>
		<h:form id="userForm">
			<p:growl id="messages" showSummary="true" />
			<div class="Container40 Responsive100">
				<h:outputText value="Operator" for="operator" />
			</div>

			<div class="Container60 Responsive100">
				<p:selectOneMenu id="operators"
					value="#{transactionLogController.operatorID}" required="true"
					requiredMessage="Please, Select an Operator" filter="true">
					<f:selectItem itemLabel="Select Category Name" />
					<f:selectItems var="operator"
						value="#{transactionLogController.opList}"
						itemLabel="#{operator.operatorName}"
						itemValue="#{operator.operatorID}" />
				</p:selectOneMenu>
				<p:message for="operators" display="operators" />
			</div>

			<div class="Container40 Responsive100">
				<h:outputText value="Start Date" for="sd" />
			</div>

			<div class="Container60 Responsive100">
				<p:calendar id="sd" value="#{transactionLogController.stratDate}" />
				<p:message for="sd" display="sd" />
			</div>


			<div class="Container40 Responsive100">
				<h:outputText value="End Date" for="ed" />
			</div>

			<div class="Container60 Responsive100">
				<p:calendar id="ed" value="#{transactionLogController.endDate}"   />
				<p:message for="ed" display="ed" />
			</div>

			<div class="EmptyBox5"></div>
			<div class="Container30 Responsive100"></div>
			<div class="Container50 Responsive100">
				<p:commandButton value="Filter"
					icon="ui-button-icon-left ui-icon ui-c fa fa-paw"
					styleClass="Container50 Responsive100"
					actionListener="#{transactionLogController.findTransactionLogBetwwenDate}"
					update="userForm" />
			</div>


		</h:form>

<!-- 
		<h:form id="form2">

			<p:growl id="messages" showSummary="true" />
			left
			<div class="Container100 Responsive100">

				<div class="Container40 Responsive100">
					<h:outputText value="Total No. of Transaction" for="totalNo" />
				</div>
				<div class="Container10 Responsive100">
					<h:outputText value=":" for="colon" />
				</div>
				<div class="Container50 Responsive100">
					<h:outputText
						value="#{transactionLogController.totalTrancastionByOperator.noOfOperator}"
						for="totalNo" />
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="Total Amount" for="totalAmount" />
				</div>
				<div class="Container10 Responsive100">
					<h:outputText value=":" for="colon" />
				</div>
				<div class="Container50 Responsive100">
					<h:outputText
						value="#{transactionLogController.totalTrancastionByOperator.totalAmountPerOperator}"
						for="totalAmount" />
				</div>

			</div>
		</h:form> -->

	</ui:define>
</ui:composition>
