<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<h:panelGroup rendered="#{userController.renCerAndOrg}">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Transaction</div>
			<div class="EmptyBox5"></div>
			<h:form id="form2">
				<p:growl id="messages" showSummary="true" life="3000" />

				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{transactionLogController.transactionLogListOrganization}"
					widgetVar="transaction" styleClass="et_datatable"
					emptyMessage="Empty..." editable="true" paginator="true" rows="15"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
					rowsPerPageTemplate="15,20,25" selectionMode="single"
					rowKey="#{object.transationLogID}">


					<f:facet name="{Exporters}">

						<h:commandLink ajax="false">
							<p:graphicImage name="/resources/images/pdf.png" width="24" />
							<pe:exporter type="pdf" target="objects" fileName="transaction"
								tableTitle="Transaction List" orientation="portrait"
								facetBackground="#FFFFFF" facetFontSize="11"
								facetFontColor="#0000" facetFontStyle="BOLD"
								cellFontColor="#000" cellFontSize="10" cellFontStyle="NORMAL" />
						</h:commandLink>

					</f:facet>

					<p:column headerText="Operator Name"
						sortBy="#{object.operatorDTO.operatorName}">
						<h:outputText value="#{object.operatorDTO.operatorName}" />
					</p:column>

					<p:column headerText="Customer ID"
						sortBy="#{object.customerDTO.customerID}">
						<h:outputText value="#{object.customerDTO.customerID}" />
					</p:column>

					<p:column headerText="Customer Name"
						sortBy="#{object.customerDTO.customerName}">
						<h:outputText value="#{object.customerDTO.customerName}" />
					</p:column>

					<p:column headerText="Payment Type"
						sortBy="#{object.paymentTypeName}">
						<h:outputText value="#{object.paymentTypeName}" />
					</p:column>

					<p:column headerText="Credit Amount"
						sortBy="#{object.creditAmount}">
						<h:outputText value="#{object.creditAmount}" />
					</p:column>

					<p:column headerText="Debit Amount" sortBy="#{object.debitAmount}">
						<h:outputText value="#{object.debitAmount}" />
					</p:column>

					<p:column headerText="Payment Date" sortBy="#{object.paymentDate}">
						<h:outputText value="#{object.paymentDate}">
							<f:convertDateTime pattern="yyyy-MM-dd" />
						</h:outputText>
					</p:column>

					<!-- 							<p:column headerText="Edit"> -->
					<!-- 								<p:commandButton icon="ui-icon-search" -->
					<!-- 									oncomplete="PF('areaDetailDig').show()" update="form1"> -->
					<!-- 									<f:setPropertyActionListener value="#{object}" target="#{areaController.areaDTO}" /> -->
					<!-- 								</p:commandButton> -->
					<!-- 							</p:column> -->

					<!-- 							<p:column headerText="Delete"> -->
					<!-- 								<p:commandButton icon="ui-icon-trash" update=":form1" -->
					<!-- 									action="#{areaController.deleteArea}"> -->
					<!-- 									<f:setPropertyActionListener value="#{object}" -->
					<!-- 										target="#{areaController.areaDTO}" /> -->
					<!-- 								</p:commandButton> -->
					<!-- 							</p:column> -->
					<!-- <h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xls" target="objects" fileName="transaction" />
					</h:commandLink> -->
					<!-- 
					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="pdf" target="objects" fileName="transaction" />
					</h:commandLink> -->
					<h:commandLink ajax="false">
						<p:graphicImage name="/resources/images/pdf.png" width="24" />
						<pe:exporter type="pdf" target="objects" fileName="transaction"
							tableTitle="Transaction List" orientation="portrait"
							facetBackground="#ccc" facetFontSize="11" facetFontColor="#0000"
							facetFontStyle="BOLD" cellFontColor="#000" cellFontSize="10"
							cellFontStyle="NORMAL" />
					</h:commandLink>


				</p:dataTable>

			</h:form>
		</div>
	</h:panelGroup>
</ui:composition>
