<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOpCommon}">
			<!-- 			<div class="Container40 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Transaction</div>
				<div class="EmptyBox5"></div>
				<h:form id="form" style="">
					<p:growl id="messages" showSummary="true" />

					<div class="Container40 Responsive100">
						<h:outputText value="Amount" for="amount" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="amount" required="true"
							value="#{transactionLogController.transactionLogDTO.amount}"
							requiredMessage="Amount must be required" label="amount">
							<p:ajax event="change"
								listener="#{transactionLogController.changeOnDemand()}"
								update="form" />
						</p:inputText>

					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Unit Price" for="unitPrice" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="unitPrice"
							value="#{transactionLogController.unitPric}" label="unitPrice"
							disabled="true" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Total Water Credit" for="noOfUnit" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="noOfUnit"
							value="#{transactionLogController.noOfUnit}" label="noOfUnit"
							disabled="true" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Payment type" for="paymentType" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="paymentType" required="true"
							value="#{transactionLogController.transactionLogDTO.paymentTypeName}"
							label="paymentType" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Customer" for="customer" />
					</div>

					<div class="Container60 Responsive100">
						<p:selectOneMenu id="customer"
							value="#{transactionLogController.customerDTO.customerID}"
							required="true" requiredMessage="Customer name must be entered">
							<f:selectItem itemLabel="Select a Customer" itemValue="" />
							<f:selectItems
								value="#{transactionLogController.customerDTOByOperatorID}"
								var="cus" itemLabel="#{cus.customerName}"
								itemValue="#{cus.customerID}" />
						</p:selectOneMenu>
					</div>

					<div class="EmptyBox5"></div>
					<div class="Container40 Responsive100"></div>
					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							icon="ui-button-icon-left ui-icon ui-c fa fa-save"
							styleClass="Container100 Responsive100"
							actionListener="#{transactionLogController.saveTransaction}"
							update="form :form1" />
					</div>
					<div class="Container20 Responsive100"></div> 
				</h:form>
			</div>-->
			<ui:include src="listOfTransaction.xhtml" />
		</h:panelGroup>

		<ui:include src="transactionOrg.xhtml" />
	</ui:define>
</ui:composition>
