<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renCerCommon}">
			<div class="Container40 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Unit price</div>
				<div class="EmptyBox5"></div>
				<h:form id="form" style="">
					<p:growl id="messages" showSummary="true" />

					<div class="Container40 Responsive100">
						<h:outputText value="Unit Price" for="unitPrice" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="unitPrice"
							value="#{transactionManualController.unitPrice}" required="true"
							label="Unit price" requiredMessage="Required" />
						<p:message for="unitPrice" display="unitPrice" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Water per Unit(L)" for="amountOfWater" />
					</div>

					<div class="Container60 Responsive100">
						<p:inputText id="amountOfWater"
							value="#{transactionManualController.amountOfWaterCredit}"
							required="true" label="Amount of Water Credit"
							requiredMessage="Required" />
						<p:message for="amountOfWater" display="amountOfWater" />
					</div>
					
					<div class="Container40 Responsive100">
						<h:outputText value="Water Credit" for="waterCredit" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="waterCredit"
							value="#{transactionManualController.waterCredit}" required="true"
							label="Water credit" requiredMessage="Required" />
						<p:message for="waterCredit" display="waterCredit" />
					</div>
					

					<div class="EmptyBox5"></div>
					<div class="Container40 Responsive100"></div>
					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							icon="ui-button-icon-left ui-icon ui-c fa fa-save"
							styleClass="Container100 Responsive100"
							actionListener="#{transactionManualController.saveTransactionManual}"
							update="form :form2" />
					</div>
					<div class="Container20 Responsive100"></div>
				</h:form>
			</div>

			<div class="Container50 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">List of Unit Price</div>
				<div class="EmptyBox5"></div>
				<h:form id="form2">
					<p:growl id="messages" showSummary="true" life="3000" />

					<p:dataTable id="objects" var="object" paginatorPosition="bottom"
						value="#{transactionManualController.transactionManualDTOs}"
						widgetVar="transaction" styleClass="et_datatable"
						emptyMessage="Empty..." editable="true" paginator="true" rows="15"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="15,20,25" selectionMode="single"
						rowKey="#{object.transactionManualID}">
						
						
						<p:column headerText="Unit Price"
							sortBy="#{object.unitPrice}">
							<h:outputText value="#{object.unitPrice}" />
						</p:column>
						
						<p:column headerText="Amount Of Water"
							sortBy="#{object.amountOfWater}">
							<h:outputText value="#{object.amountOfWater}" />
						</p:column>
						
						<p:column headerText="Water Credit"
							sortBy="#{object.waterCredit}">
							<h:outputText value="#{object.waterCredit}" />
						</p:column>
						
						<p:column headerText="Date"
							sortBy="#{object.dateExecuted}">
							<h:outputText value="#{object.dateExecuted}" />
						</p:column>
						
						<p:column headerText="User Executed"
							sortBy="#{object.userExecuted}">
							<h:outputText value="#{object.userExecuted}" />
						</p:column>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/excel.png"
								width="24" pageOnly="true" />
							<p:dataExporter type="xls" target="objects"
								fileName="transaction" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
								pageOnly="true" />
							<p:dataExporter type="pdf" target="objects"
								fileName="transaction" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/csv.png" width="24"
								pageOnly="true" />
							<p:dataExporter type="csv" target="objects"
								fileName="transaction" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/xml.png" width="24"
								pageOnly="true" />
							<p:dataExporter type="xml" target="objects"
								fileName="transaction" />
						</h:commandLink>

					</p:dataTable>

				</h:form>
			</div>
		</h:panelGroup>

	</ui:define>
</ui:composition>
