<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="Container60 Responsive100">
		<div class="EmptyBox5"></div>
		<div class="CardTopic TexAlCenter Neti">List of Sensor</div>
		<div class="EmptyBox5"></div>
		<h:form id="form1">

			<p:growl id="messages" showSummary="true" life="3000" />
			<p:dataTable id="objects" var="object" paginatorPosition="bottom"
				value="#{sensorController.sensorByOperatorID}"
				styleClass="et_datatable" emptyMessage="Empty..." editable="true"
				paginator="true" rows="15"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
				rowsPerPageTemplate="15,20,25,30" selectionMode="single"
				rowKey="#{object.sensorID}">


				<p:column headerText="Ipcu no" sortBy="#{object.ipcuDTO.ipcuID}">
					<h:outputText value="#{object.ipcuDTO.ipcuID}" />
				</p:column>

				<p:column headerText="Sensor Name" sortBy="#{object.sensorName}">
					<h:outputText value="#{object.sensorName}" />
				</p:column>

				<p:column headerText="Sensor Code" sortBy="#{object.sensorCode}">

					<h:outputText value="#{object.sensorCode}" />
				</p:column>


				<p:column headerText="Edit">
					<p:commandButton icon="ui-icon-search"
						oncomplete="PF('sensorDetailDig').show()" update="form1">
						<f:setPropertyActionListener value="#{object}"
							target="#{sensorController.sensorDTO}" />
					</p:commandButton>
				</p:column>

				<!-- <p:column headerText="Delete">
					<p:commandButton icon="ui-icon-trash" update=":form1"
						action="#{sensorController.deleteSensor}">
						<f:setPropertyActionListener value="#{object}"
							target="#{sensorController.sensorDTO}" />
					</p:commandButton>
				</p:column> -->
			</p:dataTable>

			<p:dialog widgetVar="sensorDetailDig" responsive="true" modal="true"
				showEffect="blind" hideEffect="explode" resizable="false">
				<p:outputPanel id="sensorDetail">
					<p:panelGrid columns="2" columnClasses="label,value">
						<f:facet name="header">
							<h:outputText value="sensor Info" />
						</f:facet>

						<h:outputText value="Sensor Name" />
						<h:inputText value="#{sensorController.sensorDTO.sensorName}" />

						<h:outputText value="Sensor Code" />
						<h:inputText value="#{sensorController.sensorDTO.sensorCode}" />

					</p:panelGrid>
					<p:commandButton value="Update"
						action="#{sensorController.updateSensor}" update="form1" />
				</p:outputPanel>
			</p:dialog>

		</h:form>
	</div>
</ui:composition>
