<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOpCommon}">
			<div class="Container40 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Sensor</div>
				<div class="EmptyBox5"></div>
				<h:form id="form" style="">
					<p:growl id="messages" showSummary="true" />

					<div class="Container40 Responsive100">
						<h:outputText value="IPCU" for="ipcu" />
					</div>

					<div class="Container60 Responsive100">
						<p:selectOneMenu id="ipcu"
							value="#{sensorController.ipcuDTO.ipcuID}">
							<f:selectItem itemLabel="Select IPCU" itemValue="" />
							<f:selectItems value="#{sensorController.ipcuList}" var="ipcu"
								itemLabel="#{ipcu.ipcuID}" itemValue="#{ipcu.ipcuID}" />
						</p:selectOneMenu>
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Sensor Name" for="name" />
					</div>

					<div class="Container60 Responsive100">
						<p:inputText id="name"
							value="#{sensorController.sensorDTO.sensorName}" required="true"
							label="Name" requiredMessage="Sensor name must be required" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Sensor Code" for="areaCode" />
					</div>

					<div class="Container60 Responsive100">
						<p:inputText id="areaCode"
							value="#{sensorController.sensorDTO.sensorCode}" required="true"
							label="areaCode" requiredMessage="Sensor code must be required" />
					</div>



					<div class="EmptyBox5"></div>
					<div class="Container40 Responsive100"></div>
					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							icon="ui-button-icon-left ui-icon ui-c fa fa-save"
							styleClass="Container100 Responsive100"
							actionListener="#{sensorController.saveSensor}"
							update="form :form1" />

					</div>
					<div class="Container20 Responsive100"></div>

				</h:form>
			</div>
			<ui:include src="listOfSensor.xhtml" />
		</h:panelGroup>

		<ui:include src="sensorOrg.xhtml" />

	</ui:define>
</ui:composition>
