<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup rendered="#{userController.renCerAndOrg}">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Sensor</div>
			<div class="EmptyBox5"></div>
			<h:form id="form2">

				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{sensorController.sensorByOperatorID}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="5"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
					rowsPerPageTemplate="5,10,15" selectionMode="single"
					rowKey="#{object.sensorID}">

					<f:facet name="{Exporters}">
						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/excel.png"
								width="24" />
							<p:dataExporter type="xls" target="objects" fileName="sensor" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/pdf.png" width="24" />
							<p:dataExporter type="pdf" target="objects" fileName="sensor" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="objects" fileName="sensor" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/xml.png" width="24" />
							<p:dataExporter type="xml" target="objects" fileName="sensor" />
						</h:commandLink>
					</f:facet>

					<p:column headerText="Operator no"
						sortBy="#{object.operatorDTO.operatorID}">
						<h:outputText value="#{object.operatorDTO.operatorID}" />
					</p:column>

					<p:column headerText="Pump no" sortBy="#{object.ipcuDTO.ipcuID}">
						<h:outputText value="#{object.ipcuDTO.ipcuID}" />
					</p:column>

					<p:column headerText="Sensor Name" sortBy="#{object.sensorName}">
						<h:outputText value="#{object.sensorName}" />
					</p:column>

					<p:column headerText="Sensor Code" sortBy="#{object.sensorCode}">

						<h:outputText value="#{object.sensorCode}" />
					</p:column>


					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xls" target="objects" fileName="sensor" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="pdf" target="objects" fileName="sensor" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/csv.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="csv" target="objects" fileName="sensor" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/xml.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xml" target="objects" fileName="sensor" />
					</h:commandLink>
				</p:dataTable>
			</h:form>
		</div>
	</h:panelGroup>
</ui:composition>
