<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container40 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Customer</div>
			<div class="EmptyBox5"></div>

			<h:form id="profileForm" style="">
				<p:growl id="messages" showSummary="true" />
				<!--left -->
				<div class="Container100 Responsive100">

					<div class="Container40 Responsive100">
						<h:outputText value="Customer ID" for="customerID" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.customerID}"
							for="customerID" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Customer Name" for="customerName" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.customerName}"
							for="customerName" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Gender" for="gender" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.gender}"
							for="gender" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Nationality" for="nationality" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.nationality}"
							for="nationality" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="National ID" for="nationalID" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.nationalID}"
							for="nationalID" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Date Of Birth" for="dob" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.dateOfBirth}"
							for="dob">
							<f:convertDateTime pattern="yyyy-MM-dd" />
						</h:outputText>
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Birth Cer. No" for="birthCerNo" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.birthCertificate}"
							for="birthCerNo" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Mobile No" for="mobile" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.mobile}"
							for="mobile" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Vulve No" for="vulveNo" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.vulveNumber}"
							for="vulveNo" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Maritial Status" for="maritialStatus" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.maritalStatus}"
							for="maritialStatus" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Religion" for="religion" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.religion}"
							for="religion" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Blood Group" for="bloodGroup" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{customerController.customerDtoTarget.bloodGroup}"
							for="bloodGroup" />
					</div>
				</div>
			</h:form>
		</div>

		<div class="Container60 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Customer Other
				Information</div>
			<div class="EmptyBox5"></div>
			<div class="Container100 Responsive100">


				<h:form id="requestInformationSummary">

					<p:growl id="messages" showSummary="true" life="3000" />
					<p:dataTable id="objects" var="object" paginatorPosition="bottom"
						value="#{customerController.reqInfoLogListByOpAndCustID}"
						styleClass="et_datatable" emptyMessage="Empty..." editable="true"
						paginator="true" rows="5"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" selectionMode="single"
						rowKey="#{object.requestInformationLogID}">

						<p:column headerText="Soil Moisture"
							sortBy="#{object.soilMoisture}">
							<h:outputText value="#{object.soilMoisture}" />
						</p:column>

						<p:column headerText="Water Level"
							sortBy="#{object.waterLevelSensor}">
							<h:outputText value="#{object.waterLevelSensor}" />
						</p:column>


						<p:column headerText="Field Valve" sortBy="#{object.fieldValve}">
							<h:outputText value="#{(object.fieldValve == 1) ? 'ON' : 'OFF'}" />
						</p:column>


						<p:column headerText="Motor IPCU" sortBy="#{object.motoIPCU}">
							<h:outputText value="#{object.motoIPCU}" />
						</p:column>


						<p:column headerText="Water Credit" sortBy="#{object.waterCredit}">
							<h:outputText value="#{object.waterCredit} KL" />
						</p:column>

						<p:column headerText="Flow Rate" sortBy="#{object.flowRate}">
							<h:outputText value="#{object.flowRate} %" />
						</p:column>

						<p:column headerText="Temperature" sortBy="#{object.temperature} ">
							<h:outputText value="#{object.temperature}  &#8451;" />
						</p:column>

						<p:column headerText="Humidity" sortBy="#{object.humidity}">
							<h:outputText value="#{object.humidity} %" />
						</p:column>

						<p:column headerText="Valve" >
							<h:outputText value="#{(object.mainValve ==1)? 'ON' : 'OFF'}" />
						</p:column>

						<p:column headerText="Node ID" sortBy="#{object.nodeID}">
							<h:outputText value="#{object.nodeID}" />
						</p:column>

						<p:column headerText="Field Type(season)"
							sortBy="#{object.season}">
							<h:outputText
								value="#{(object.season==1)? 'Paddy' : 'Vegetable'}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</div>
			<div class="Container100 Responsive100">
				<h:form id="responseInformationSummary">

					<p:growl id="messages" showSummary="true" life="3000" />
					<p:dataTable id="objects" var="object" paginatorPosition="bottom"
						value="#{customerController.resInfoLogListByOpAndCustID}"
						styleClass="et_datatable" emptyMessage="Empty..." editable="true"
						paginator="true" rows="5"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" selectionMode="single" rowKey="#">

						<p:column headerText="Operator"
							sortBy="#{object.operator.operatorID}">
							<h:outputText value="#{object.operatorDTO.operatorName}" />
						</p:column>

						<p:column headerText="Ipcu">
							<h:outputText value="#{object.ipcuDTO.ipcuID}" />
						</p:column>

						<!-- 						<p:column headerText="User" sortBy="#{object.userID}"> -->
						<!-- 							<h:outputText value="#{object.Customer.userID}" /> -->
						<!-- 						</p:column> -->

						<p:column headerText="Field" sortBy="#{object.fieldDTO.fieldID}">
							<h:outputText value="#{object.fieldDTO.fieldID}" />
						</p:column>

						<p:column headerText="Field Valve" sortBy="#{object.fieldVulve}">
							<h:outputText value="#{(object.fieldValve==1)? 'ON' : 'OFF' }" />
						</p:column>
						<p:column headerText="Main Valve" sortBy="#{object.mainVulve}">
							<h:outputText value="#{(object.mainValve ==1)? 'ON' : 'OFF' } " />
						</p:column>

						<p:column headerText="Sensor Status"
							sortBy="#{object.sensorStatus}">
							<h:outputText value="#{object.sensorStatus}" />
						</p:column>


						<p:column headerText="Balance" sortBy="#{object.balance}">
							<h:outputText value="#{object.balance}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</div>
			<div class="Container100 Responsive100">
				<h:form id="waterCreditSummary">
					<p:growl id="messages" showSummary="true" life="3000" />
					<p:dataTable id="objects" var="object" paginatorPosition="bottom"
						value="#{customerController.waCreSumListByOpAndCustID}"
						styleClass="et_datatable" emptyMessage="Empty..." editable="true"
						paginator="true" rows="5"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" selectionMode="single"
						rowKey="#{object.waterCreditSummaryID}">

						<p:column headerText="Used Water Credit"
							sortBy="#{object.usedWaterCredit}">
							<h:outputText value="#{object.usedWaterCredit} KL" />
						</p:column>

						<p:column headerText="Available Water Credit"
							sortBy="#{object.availableWaterCredit}">
							<h:outputText value="#{object.availableWaterCredit} KL" />
						</p:column>
					</p:dataTable>

				</h:form>
			</div>
		</div>

	</ui:define>
</ui:composition>
