<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOpCommon}">
			<div class="Container100 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Customer</div>
				<div class="EmptyBox5"></div>
				<h:form id="form" style="">
					<!-- <p:growl id="messages" showSummary="true" /> -->
					<!--left -->
					<div class="Container50 Responsive100">


						<div class="Container40 Responsive100">
							<h:outputText value="Area Name" for="areaName" />
						</div>

						<div class="Container60 Responsive100">
							<p:selectOneMenu id="areaName"
								value="#{customerController.areaID}" required="true"
								requiredMessage="Please, Select an Area." filter="true">
								<f:selectItem itemLabel="Select Category Name" />
								<f:selectItems var="area" value="#{ipcuController.areaList}"
									itemLabel="#{area.areaName}" itemValue="#{area.areaID}" />
							</p:selectOneMenu>
							<p:message for="areaName" display="areaName" />
						</div>

						<!-- 	<div class="Container40 Responsive100">
							<h:outputText value="Ipcu" for="icpu" />
						</div>

						<div class="Container60 Responsive100">
							<p:selectOneMenu value="#{customerController.ipcuID}"
								required="true" requiredMessage="Please, Select Category Name."
								filter="true">
								<f:selectItem itemLabel="Select Category Name" />
								<f:selectItems var="icpu" value="#{ipcuController.ipcuList}"
									itemLabel="#{ipcu.ipcuID}" itemValue="#{ipcu.ipcuID}" />

							</p:selectOneMenu>
						</div>
 -->
						<div class="Container40 Responsive100">
							<h:outputText value="Full Name" for="fullname" />
						</div>

						<div class="Container60 Responsive100">
							<p:inputText id="fullname"
								value="#{customerController.customerDTO.customerName}"
								required="true" label="Full Name"
								requiredMessage="Name is required."
								validatorMessage="Name should start with Character">
								<f:validateRegex
									pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" />
							</p:inputText>
							<p:message for="fullname" display="fullname" />

						</div>
						<div class="Container40 Responsive100">
							<h:outputText value="National ID" for="nationalID" />
						</div>
						<div class="Container60 Responsive100">
							<p:inputText id="nationalID"
								value="#{customerController.customerDTO.nationalID}"
								required="true" label="National ID"
								requiredMessage="NID required"
								validatorMessage="Number should be between 11 to 14">
								<f:validateLength minimum="14" maximum="19" />
							</p:inputText>
							<p:message for="nationalID" display="nationalID" />
						</div>
						<div class="Container40 Responsive100">
							<h:outputText value="Nationality" for="nationality" />
						</div>

						<div class="Container60 Responsive100">
							<p:inputText id="nationality"
								value="#{customerController.customerDTO.nationality}"
								required="true" label="Nationality"
								requiredMessage="Nationality is required." />
							<p:message for="nationality" display="nationality" />
						</div>
						<div class="Container40 Responsive100">
							<h:outputText value="Birth Cer. No" for="birthCerNo" />
						</div>

						<div class="Container60 Responsive100">
							<p:inputText id="birthCerNo"
								value="#{customerController.customerDTO.birthCertificate}"
								required="false" label="Birth Cer. No"
								requiredMessage="Required" />
							<p:message for="birthCerNo" display="birthCerNo" />
						</div>
						<div class="Container40 Responsive100">
							<h:outputText value="Birth Date" for="dob" />
						</div>

						<div class="Container60 Responsive100">
							<p:calendar id="dob"
								value="#{customerController.customerDTO.dateOfBirth}" />
							<p:message for="dob" display="dob" />
						</div>

					</div>

					<div class="Container50 Responsive100">
						<!--Right -->
						<div class="Container40 Responsive100">
							<h:outputText value="Mobile No" for="mobile" />
						</div>

						<div class="Container60 Responsive100">
							<p:inputText id="mobile"
								value="#{customerController.customerDTO.mobile}" required="true"
								label="Mobile No"
								requiredMessage="Cell phone number is required"
								validatorMessage="Number should be between 11 to 14">
								<f:validateLength minimum="11" maximum="14" />
							</p:inputText>
							<p:message for="mobile" display="mobile" />
						</div>
						<div class="Container40 Responsive100">
							<h:outputText value="Valve No" for="vulveNo" />
						</div>

						<div class="Container60 Responsive100">
							<p:inputText id="vulveNo"
								value="#{customerController.customerDTO.vulveNumber}"
								required="true" label="vulveNo"
								requiredMessage="Valve number is required" />
							<p:message for="vulveNo" display="vulveNo" />
						</div>

						<div class="Container40 Responsive100">
							<h:outputText value="Gender" for="gender" />
						</div>

						<div class="Container60 Responsive100">
							<p:selectOneRadio id="gender" required="true"
								value="#{customerController.customerDTO.gender}"
								requiredMessage="Please select a gender">
								<f:selectItem itemLabel="Male" itemValue="Male" />
								<f:selectItem itemLabel="Female" itemValue="Female" />
								<f:selectItem itemLabel="Other" itemValue="Other" />
							</p:selectOneRadio>
							<p:message for="gender" display="gender" />
						</div>
						<div class="Container40 Responsive100">
							<h:outputText value="Maritial Status" for="maritialStatus" />
						</div>

						<div class="Container60 Responsive100">
							<p:selectOneRadio id="meritialStatus" required="true"
								value="#{customerController.customerDTO.maritalStatus}"
								requiredMessage="Please Select a maritial status.">
								<f:selectItem itemLabel="Single" itemValue="Single" />
								<f:selectItem itemLabel="Married" itemValue="Married" />
								<f:selectItem itemLabel="Divorced" itemValue="Divorced" />
							</p:selectOneRadio>
							<p:message for="meritialStatus" display="meritialStatus" />
						</div>
						<div class="Container40 Responsive100">
							<h:outputText value="Religion" for="religion" />
						</div>

						<div class="Container60 Responsive100">
							<p:selectOneMenu id="religion"
								value="#{customerController.customerDTO.religion}"
								style="width:125px" required="true"
								requiredMessage="Please select a religion.">
								<f:selectItem itemLabel="Select  Religion" itemValue="" />
								<f:selectItem itemLabel="Islam" itemValue="Islam" />
								<f:selectItem itemLabel="Hindu" itemValue="Hindu" />
								<f:selectItem itemLabel="Christrains" itemValue="Christrains" />
								<f:selectItem itemLabel="Bouddha" itemValue="Bouddha" />
							</p:selectOneMenu>
							<p:message for="religion" display="religion" />
						</div>
						<div class="Container40 Responsive100">
							<h:outputText value="Blood Group" for="bloodGroup" />
						</div>

						<div class="Container60 Responsive100">
							<p:selectOneMenu id="bloodGroup"
								value="#{customerController.customerDTO.bloodGroup}"
								style="width:125px" required="true"
								requiredMessage="Please select a Blood group.">
								<f:selectItem itemLabel="Select Blood Group" itemValue="" />
								<f:selectItem itemLabel="A+" itemValue="A+" />
								<f:selectItem itemLabel="A-" itemValue="A-" />
								<f:selectItem itemLabel="B+" itemValue="B+" />
								<f:selectItem itemLabel="B-" itemValue="B-" />
								<f:selectItem itemLabel="O+" itemValue="O+" />
								<f:selectItem itemLabel="O-" itemValue="O-" />
								<f:selectItem itemLabel="AB+" itemValue="AB+" />
								<f:selectItem itemLabel="AB-" itemValue="AB-" />
							</p:selectOneMenu>
							<p:message for="bloodGroup" display="bloodGroup" />
						</div>

					</div>

					<div class="EmptyBox5"></div>
					<div class="Container30 Responsive100"></div>
					<div class="Container50 Responsive100">
						<p:commandButton value="Register"
							icon="ui-button-icon-left ui-icon ui-c fa fa-paw"
							styleClass="Container50 Responsive100"
							actionListener="#{customerController.saveCustomer}"
							update="form :form1" />
					</div>
					<div class="Container20 Responsive100"></div>
				</h:form>
			</div>
			<ui:include src="listOfCustomerOperator.xhtml"></ui:include>
		</h:panelGroup>
		<ui:include src="listOfCustomerOrg.xhtml"></ui:include>
	</ui:define>
</ui:composition>
