<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<h:panelGroup rendered="#{userController.renCerAndOrg}">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Customer</div>
			<div class="EmptyBox5"></div>

			<h:form id="form2">

				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" var="customer" paginatorPosition="bottom"
					value="#{customerController.customerListOrganization}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="15,20,25" selectionMode="single"
					rowKey="#{customer.customerID}">


					<p:column headerText="Operator ID"
						sortBy="#{customer.operatorDTO.operatorID}">
						<h:outputText value="#{customer.operatorDTO.operatorID}" />
					</p:column>


					<p:column headerText="Operator"
						sortBy="#{customer.operatorDTO.operatorName}">
						<h:outputText value="#{customer.operatorDTO.operatorName}" />
					</p:column>


					<p:column headerText="Customer ID" sortBy="#{customer.customerID}">
						<h:outputText value="#{customer.customerID}" />
					</p:column>


					<p:column headerText="Area" sortBy="#{customer.areaDTO.areaName}">
						<h:outputText value="#{customer.areaDTO.areaName}" />
					</p:column>
					<p:column headerText="Name" sortBy="#{customer.customerName}">
						<h:outputText value="#{customer.customerName}" />
					</p:column>

					<p:column headerText="NationalID" sortBy="#{customer.nationalID}">

						<h:outputText value="#{customer.nationalID}" />
					</p:column>


					<p:column headerText="Religion" sortBy="#{customer.religion}">

						<h:outputText value="#{customer.religion}" />
					</p:column>


					<p:column headerText="Gender" sortBy="#{customer.gender}">

						<h:outputText value="#{customer.gender}" />
					</p:column>
					<p:column headerText="View Profile">
						<p:commandButton icon="fa-male"
							action="#{customerController.jumpToCustomerProfile}"
							update="@([id$=profileForm])">
							<f:setPropertyActionListener value="#{customer}"
								target="#{customerController.customerDtoTarget}" ajax="false" />
						</p:commandButton>
					</p:column>
				</p:dataTable>

			</h:form>
		</div>
	</h:panelGroup>


</ui:composition>
