<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

			<div class="Container100 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">List of Customer</div>
				<div class="EmptyBox5"></div>

				<h:form id="form1">

					<!-- 					<p:growl id="messages" showSummary="true" life="3000" /> -->
					<p:dataTable id="objects" var="customer" paginatorPosition="bottom"
						value="#{customerController.customerList}"
						styleClass="et_datatable" emptyMessage="Empty..." editable="true"
						paginator="true" rows="10"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="15,20,25" selectionMode="single"
						rowKey="#{customer.customerID}">

						
						<p:column headerText="Customer ID" sortBy="#{customer.customerID}">
							<h:outputText value="#{customer.customerID}" />
						</p:column>

						<p:column headerText="Name" sortBy="#{customer.customerName}">
							<h:outputText value="#{customer.customerName}" />
						</p:column>

						<p:column headerText="NationalID" sortBy="#{customer.nationalID}">

							<h:outputText value="#{customer.nationalID}" />
						</p:column>


						<p:column headerText="Religion" sortBy="#{customer.religion}">

							<h:outputText value="#{customer.religion}" />
						</p:column>


						<p:column headerText="Gender" sortBy="#{customer.gender}">
							<h:outputText value="#{customer.gender}" />
						</p:column>

						<p:column headerText="Area Name"
							sortBy="#{customer.areaDTO.areaName}">
							<h:outputText value="#{customer.areaDTO.areaName}" />
						</p:column>


						<p:column headerText="Operator Name"
							sortBy="#{customer.operatorDTO.operatorName}">
							<h:outputText value="#{customer.operatorDTO.operatorName}" />
						</p:column>


						<p:column headerText="View Profile">
							<p:commandButton icon="fa-male"
								action="#{customerController.jumpToCustomerProfile}"
								update="@([id$=profileForm])">
								<f:setPropertyActionListener value="#{customer}"
									target="#{customerController.customerDtoTarget}" ajax="false" />
							</p:commandButton>
						</p:column>

						<p:column headerText="Edit">
							<p:commandButton icon="ui-icon-search"
								oncomplete="PF('customerDetailDig').show()" update="form1">
								<f:setPropertyActionListener value="#{customer}"
									target="#{customerController.customerDTO}" />
							</p:commandButton>
						</p:column>

						<!-- <p:column headerText="Delete">
							<p:commandButton icon="ui-icon-trash" update=":form1"
								action="#{customerController.deleteCustomer}">
								<f:setPropertyActionListener value="#{customer}"
									target="#{customerController.customerDTO}" />
							</p:commandButton>
						</p:column> -->
						

					</p:dataTable>
					<p:draggable for="objects" />

					<p:dialog widgetVar="customerDetailDig" responsive="true"
						modal="true" showEffect="blind" hideEffect="explode"
						resizable="false">
						<p:outputPanel id="customerDetail">
							<p:panelGrid columns="2" columnClasses="label,value">
								<f:facet name="header">
									<h:outputText value="Customer Info" />
								</f:facet>

								<h:outputText value="Name" />
								<h:inputText
									value="#{customerController.customerDTO.customerName}" />

								<h:outputText value="NationalID" />
								<h:inputText
									value="#{customerController.customerDTO.nationalID}" />

								<h:outputText value="Religion" />
								
								<p:selectOneMenu id="religion"
								value="#{customerController.customerDTO.religion}">
								<f:selectItem itemLabel="Islam" itemValue="Islam" />
								<f:selectItem itemLabel="Hindu" itemValue="Hindu" />
								<f:selectItem itemLabel="Christrains" itemValue="Christrains" />
								<f:selectItem itemLabel="Bouddha" itemValue="Bouddha" />
							</p:selectOneMenu>
							
							<h:outputText value="Blood Group" />
							
							<p:selectOneMenu id="bloodGroup"
								value="#{customerController.customerDTO.bloodGroup}">
								<f:selectItem itemLabel="A+" itemValue="A+" />
								<f:selectItem itemLabel="A-" itemValue="A-" />
								<f:selectItem itemLabel="B+" itemValue="B+" />
								<f:selectItem itemLabel="B-" itemValue="B-" />
								<f:selectItem itemLabel="O+" itemValue="O+" />
								<f:selectItem itemLabel="O-" itemValue="O-" />
								<f:selectItem itemLabel="AB+" itemValue="AB+" />
								<f:selectItem itemLabel="AB-" itemValue="AB-" />
							</p:selectOneMenu>



								<h:outputText value="Mobile No" />
								<h:inputText value="#{customerController.customerDTO.mobile}" />

								<h:outputText value="Gender" />
								<p:selectOneRadio id="gender" 
									value="#{customerController.customerDTO.gender}"
									>
									<f:selectItem itemLabel="Male" itemValue="Male" />
									<f:selectItem itemLabel="Female" itemValue="Female" />
									<f:selectItem itemLabel="Other" itemValue="Other" />
								</p:selectOneRadio>
								<h:outputText value="Marital status" />
								<p:selectOneRadio id="meritialStatus" 
									value="#{customerController.customerDTO.maritalStatus}"
									>
									<f:selectItem itemLabel="Single" itemValue="Single" />
									<f:selectItem itemLabel="Married" itemValue="Married" />
									<f:selectItem itemLabel="Divorced" itemValue="Divorced" />
								</p:selectOneRadio>

								<h:outputText />

							</p:panelGrid>
							<p:commandButton value="Update"
								action="#{customerController.updateCustomer}" update="form1" />
						</p:outputPanel>
					</p:dialog>

				</h:form>
			</div>
    

</ui:composition>
