<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/WEB-INF/template/template.xhtml">
		<ui:define name="content">


			<div class="Card ui-fluid">
				<div class="EmptyBox5" />
				<div class="CardTopic TexAlCenter Neti">Change Password Here</div>
				<div class="EmptyBox5" />



				<div class="Wid60 OvHidden DispBlock MarAuto">

					<h:form id="frm">
						<p:growl autoUpdate="true" />
						<div class="Container30 Responsive100">
							<p:outputLabel value="Current Password" for="cPass" />
						</div>
						<div class="Container70 Responsive100">
							<p:password value="#{accountController.currentPassword}"
								id="cPass" required="true"
								requiredMessage="Fill up Cureent Password Field" />

						</div>

					<div class="Container100 Responsive100" />
						<div class="Container30 Responsive100">
							<p:outputLabel value="New Password" for="nPass" />
						</div>
						<div class="Container70 Responsive100">
							<p:password value="#{accountController.newPassword}"
								id="nPass" required="true"
								requiredMessage="Fill up New Password Field" />
						</div>
						
						<div class="Container100 Responsive100" />
						<div class="Container30 Responsive100">
							<p:outputLabel value="Confirm Password" for="coPass" />
						</div>
						<div class="Container70 Responsive100">
							<p:password value="#{accountController.confirmPassword}"
								id="coPass" required="true"
								requiredMessage="Fill up Confirm Password Field" />
						</div>


						<div class="Container100 Responsive100" />
						<div class="Container30 Responsive100"></div>
						<div class="Container40 Responsive100">
							<p:commandButton value="Change" icon="fa fa-retweet"
								styleClass="btnReset"								
								action="#{accountController.changePassword}" update="frm" />
						</div>
					</h:form>


				</div>

			</div>


		</ui:define>

	</ui:composition>
</h:body>
</html>