<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container40 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">User Registration</div>
			<div class="EmptyBox5"></div>
			<h:form id="userForm">
				<p:growl id="messages" showSummary="true" />
				
						<p:commandButton value="Check console after click" icon="ui-button-icon-left ui-icon ui-c fa fa-unlock"
							action="#{userController.findUsersByOperatorID}"  />

			</h:form>
			

		</div>

	</ui:define>
</ui:composition>
