<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container40 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">User Registration</div>
			<div class="EmptyBox5"></div>
			<h:form id="userForm" style="">
				<p:growl id="messages" showSummary="true" />
				<div class="Container40 Responsive100">
					<h:outputText value="User Type" for="userType1"
						rendered="#{userController.renCerAdmin}" />
				</div>

				<div class="Container60 Responsive100">
					<p:selectOneMenu id="userType1"
						rendered="#{userController.renCerAdmin}"
						value="#{userController.userDTO.userType}">
						<f:selectItem itemLabel="Select User Type" itemValue="" />
						<f:selectItem itemLabel="Cer" itemValue="cer" />
						<f:selectItem itemLabel="Organization" itemValue="organization" />
						<p:ajax event="change" listener="#{userController.uiRender}"
							update="userForm" />
					</p:selectOneMenu>
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="User Type" for="userType2"
						rendered="#{userController.renOrgAdmin}" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="userType2"
						rendered="#{userController.renOrgAdmin}"
						value="#{userController.userDTO.userType}">
						<f:selectItem itemLabel="Select User Type" itemValue="" />
						<f:selectItem itemLabel="Organization" itemValue="organization" />
						<f:selectItem itemLabel="Operator" itemValue="operator" />
						<p:ajax event="change" listener="#{userController.uiRender}"
							update="userForm" />
					</p:selectOneMenu>
				</div>

				<div class="Container40 Responsive100">
					<h:outputText value="User Type" for="userType3"
						rendered="#{userController.renOpAdmin}" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="userType3"
						rendered="#{userController.renOpAdmin}"
						value="#{userController.userDTO.userType}">
						<f:selectItem itemLabel="Select User Type" itemValue="" />
						<f:selectItem itemLabel="Operator" itemValue="operator" />
						<p:ajax event="change" listener="#{userController.uiRender}"
							update="userForm" />
					</p:selectOneMenu>
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="Name" for="name" />
				</div>

				<div class="Container60 Responsive100">
					<p:inputText id="name" value="#{userController.userDTO.name}"
						required="true" label="Name" requiredMessage="Required" />
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="User Name" for="username" />
				</div>
				<div class="Container60 Responsive100">
					<p:inputText id="username"
						value="#{userController.userDTO.username}" required="true"
						label="username" requiredMessage="Required" />
				</div>

				<div class="Container40 Responsive100">
					<h:outputText value="Mobile" for="mobile" />
				</div>
				<div class="Container60 Responsive100">
					<p:inputText id="mobile" value="#{userController.userDTO.mobile}"
						required="true" label="mobile" requiredMessage="Required" />
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="Password" for="password" />
				</div>
				<div class="Container60 Responsive100">
					<p:password id="password"
						value="#{userController.userDTO.password}" feedback="true"
						required="true" label="password" requiredMessage="Required" />
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="Role Name" for="roleCer"
						rendered="#{userController.renCer}" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="roleCer" rendered="#{userController.renCer}"
						value="#{userController.userDTO.rolename}">
						<f:selectItem itemLabel="Select Role Name" itemValue="" />
						<f:selectItem itemLabel="ceradmin" itemValue="ROLE_CER_ADMIN" />
						<f:selectItem itemLabel="ceruser" itemValue="ROLE_CER_USER" />


					</p:selectOneMenu>
				</div>

				<div class="Container40 Responsive100">
					<h:outputText value="Role Name" for="roleOrg"
						rendered="#{userController.renOrg}" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="roleOrg" rendered="#{userController.renOrg}"
						value="#{userController.userDTO.rolename}">
						<f:selectItem itemLabel="Select Role Name" itemValue="" />


						<f:selectItem itemLabel="orgadmin" itemValue="ROLE_ORG_ADMIN" />
						<f:selectItem itemLabel="orguser" itemValue="ROLE_ORG_USER" />



					</p:selectOneMenu>
				</div>

				<div class="Container40 Responsive100">
					<h:outputText value="Role Name" for="roleOp"
						rendered="#{userController.renOp}" />
				</div>

				<div class="Container60 Responsive100">
					<p:selectOneMenu id="roleOp" rendered="#{userController.renOp}"
						value="#{userController.userDTO.rolename}">
						<f:selectItem itemLabel="Select Role Name" itemValue="" />

						<f:selectItem itemLabel="opadmin" itemValue="ROLE_OP_ADMIN" />
						<f:selectItem itemLabel="opuser" itemValue="ROLE_OP_USER" />

					</p:selectOneMenu>
				</div>

				<div class="Container40 Responsive100">
					<h:outputText value="Cer" for="cer"
						rendered="#{userController.renCer}" />
				</div>


				<div class="Container60 Responsive100">
					<p:selectOneMenu id="cer" rendered="#{userController.renCer}"
						value="#{userController.cerDTO.cerID}">
						<f:selectItem itemLabel="Select Cer" itemValue="" />
						<f:selectItems value="#{userController.cerDTOs}" var="cer"
							itemLabel="#{cer.cerName}" itemValue="#{cer.cerID}" />
					</p:selectOneMenu>
				</div>

				<div class="Container40 Responsive100">
					<h:outputText value="Organization" for="organization"
						rendered="#{userController.renOrg}" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="organization"
						rendered="#{userController.renOrg}"
						value="#{userController.organizationDTO.organizationID}">
						<f:selectItem itemLabel="Select Organization" itemValue="" />
						<f:selectItems value="#{userController.organizationDTOs}"
							var="organization" itemLabel="#{organization.organizationName}"
							itemValue="#{organization.organizationID}" />
					</p:selectOneMenu>
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="Operator" for="operator"
						rendered="#{userController.renOp}" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="operator" rendered="#{userController.renOp}"
						value="#{userController.operatorDTO.operatorID}">
						<f:selectItem itemLabel="Select Operator" itemValue="" />
						<f:selectItems value="#{userController.operatorDTOs}"
							var="operator" itemLabel="#{operator.operatorName}"
							itemValue="#{operator.operatorID}" />
					</p:selectOneMenu>
				</div>




				<div class="EmptyBox5"></div>
				<div class="Container40 Responsive100"></div>
				<div class="Container40 Responsive100">
					<p:commandButton value="Register"
						icon="ui-button-icon-left ui-icon ui-c fa fa-paw"
						styleClass="Container100 Responsive100"
						actionListener="#{userController.saveUserRegistration}"
						update="userForm :usersList" />
				</div>
				<div class="Container20 Responsive100"></div>

			</h:form>
		</div>
		<div class="Container60 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Users</div>
			<div class="EmptyBox5"></div>
			<h:form id="usersList">

				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" reflow="true" var="object"
					paginatorPosition="bottom" value="#{userController.userList}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" selectionMode="single"
					rowKey="#{object.id}">



					<p:column headerText="Name" sortBy="#{object.name}">
						<h:outputText value="#{object.name}" />
					</p:column>

					<p:column headerText="User Name" sortBy="#{object.username}">

						<h:outputText value="#{object.username}" />
					</p:column>


					<!-- <p:column headerText="Role Name" sortBy="#{object.rolename}">

						<h:outputText value="#{object.rolename}" />
					</p:column>-->

					<p:column headerText="Edit">
						<p:commandButton icon="ui-icon-search"
							oncomplete="PF('cusDetailDig').show()" update="usersList">
							<f:setPropertyActionListener value="#{object}"
								target="#{userController.userDTO}" />
						</p:commandButton>
					</p:column>

					<!-- <p:column headerText="Delete">
						<p:commandButton icon="ui-icon-trash" update=":usersList"
							action="#{userController.deleteUser}">
							<f:setPropertyActionListener value="#{object}"
								target="#{userController.userDTO}" />
						</p:commandButton>
					</p:column> -->

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xls" target="objects" fileName="users" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="pdf" target="objects" fileName="users" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/csv.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="csv" target="objects" fileName="users" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/xml.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xml" target="objects" fileName="users" />
					</h:commandLink>

				</p:dataTable>


				<p:dialog widgetVar="cusDetailDig" responsive="true" modal="true"
					showEffect="blind" hideEffect="explode" resizable="false">
					<p:outputPanel id="cusDetail">
						<p:panelGrid columns="2" columnClasses="label,value">
							<f:facet name="header">
								<h:outputText value="User Info" />
							</f:facet>

							<h:outputText value="Name" />
							<h:inputText value="#{userController.userDTO.name}" />

							<h:outputText value="Mobile" />
							<h:inputText value="#{userController.userDTO.mobile}" />

							<h:outputText value="Status" />
							<p:selectOneMenu id="rolename"
								value="#{userController.userDTO.enabled}">
								<f:selectItem itemLabel="Select One" itemValue="" />
								<f:selectItem itemLabel="Enable" itemValue="1" />
								<f:selectItem itemLabel="Disable" itemValue="0" />

							</p:selectOneMenu>


						</p:panelGrid>
						<p:commandButton value="Update"
							action="#{userController.updateUser}" update="usersList" />
					</p:outputPanel>
				</p:dialog>

			</h:form>

		</div>

	</ui:define>
</ui:composition>
