<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Operator Wise User List</div>
			<div class="EmptyBox5"></div>
			<h:form id="userForm">
				<p:growl id="messages" showSummary="true" />
				<div class="Container40 Responsive100">
					<h:outputText value="Operator" for="operator" />
				</div>

				<div class="Container60 Responsive100">
					<p:selectOneMenu id="operators"
						value="#{userController.operatorID}">
						<f:selectItem itemLabel="Select Operator" itemValue="" />
						<f:selectItems value="#{userController.operatorDTOs}"
							var="operator" itemLabel="#{operator.operatorName}"
							itemValue="#{operator.operatorID}" />
						<p:ajax event="change"
							listener="#{userController.findUsersByOperatorID}"
							update="usersList" />
					</p:selectOneMenu>
				</div>

			</h:form>
			<h:form id="usersList">
				<p:dataTable id="objects" reflow="true" var="object"
					paginatorPosition="bottom"
					value="#{userController.userListDTOByOperatorID}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
					rowsPerPageTemplate="5,10,15" selectionMode="single"
					rowKey="#{object.id}">

					<f:facet name="{Exporters}">
						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/excel.png"
								width="24" />
							<p:dataExporter type="xls" target="objects" fileName="users" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/pdf.png" width="24" />
							<p:dataExporter type="pdf" target="objects" fileName="users" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="objects" fileName="users" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/xml.png" width="24" />
							<p:dataExporter type="xml" target="objects" fileName="users" />
						</h:commandLink>
					</f:facet>

					<p:column headerText="Name" sortBy="#{object.name}">
						<h:outputText value="#{object.name}" />
					</p:column>

					<p:column headerText="User Name" sortBy="#{object.username}">

						<h:outputText value="#{object.username}" />
					</p:column>


					<p:column headerText="Role Name" sortBy="#{object.rolename}">

						<h:outputText value="#{object.rolename}" />
					</p:column>

					<p:column headerText="Edit">
						<p:commandButton icon="ui-icon-search"
							oncomplete="PF('cusDetailDig').show()" update="usersList">
							<f:setPropertyActionListener value="#{object}"
								target="#{userController.userDTO}" />
						</p:commandButton>
					</p:column>

					<p:column headerText="Delete">
						<p:commandButton icon="ui-icon-trash" update=":usersList"
							action="#{userController.deleteUser}">
							<f:setPropertyActionListener value="#{object}"
								target="#{userController.userDTO}" />
						</p:commandButton>
					</p:column>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xls" target="objects" fileName="users" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="pdf" target="objects" fileName="users" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/csv.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="csv" target="objects" fileName="users" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/xml.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xml" target="objects" fileName="users" />
					</h:commandLink>

				</p:dataTable>


				<p:dialog widgetVar="cusDetailDig" responsive="true" modal="true"
					showEffect="blind" hideEffect="explode" resizable="false">
					<p:outputPanel id="cusDetail">
						<p:panelGrid columns="2" columnClasses="label,value">
							<f:facet name="header">
								<h:outputText value="User Info" />
							</f:facet>

							<h:outputText value="Name" />
							<h:inputText value="#{userController.userDTO.name}" />
							<h:outputText value="Status" />
							<p:selectOneMenu id="rolename"
								value="#{userController.userDTO.enabled}">
								<f:selectItem itemLabel="Select One" itemValue="" />
								<f:selectItem itemLabel="Enable" itemValue="1" />
								<f:selectItem itemLabel="Disable" itemValue="0" />

							</p:selectOneMenu>


						</p:panelGrid>
						<p:commandButton value="Update"
							action="#{userController.updateUser}" update="usersList" />
					</p:outputPanel>
				</p:dialog>

			</h:form>

		</div>

	</ui:define>
</ui:composition>
