<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renCerAndOrg}">
			<div class="Container100 Responsive100">

				<div class="Container100 Responsive100">
					<div class="EmptyBox5"></div>
					<div class="CardTopic TexAlCenter Neti">Total Water Credit by
						Operator</div>
					<div class="EmptyBox5"></div>
					<h:form id="form1">
						<div class="Container20 Responsive100"></div>
						<div class="Container20 Responsive100">
							<h:outputText value="Select a Operator:" for="opName" />
						</div>
						<div class="Container60 Responsive100">
							<p:selectOneMenu id="opName"
								value="#{waterCreditSummaryController.operatorID}"
								required="true" requiredMessage="Please, Select an Operator."
								filter="true">
								<f:selectItem itemLabel="Select Operator Name" />
								<f:selectItems var="operator"
									value="#{ipcuController.operatorList}"
									itemLabel="#{operator.operatorName}"
									itemValue="#{operator.operatorID}" />
							</p:selectOneMenu>
							<p:message for="opName" display="opName" />
						</div>


						<div class="EmptyBox5"></div>
						<div class="Container40 Responsive100"></div>
						<div class="Container20 Responsive100">
							<p:commandButton value="Save"
								styleClass="Container100 Responsive100"
								action="#{waterCreditSummaryController.findTotalWaterCreditCalculation}"
								update="form1 :form2" />
						</div>
						<div class="Container20 Responsive100"></div>

					</h:form>

					<h:form id="form2" style="">
						<p:growl id="messages" showSummary="true" />
						<!--left -->
						<div class="Container100 Responsive100">
							<div class="Container20 Responsive100"></div>
							<div class="Container20 Responsive100">
								<h:outputText value="Total Used Water Credit"
									for="totalWaterCredit" />
							</div>
							<div class="Container10 Responsive100">
								<h:outputText value=":" for="colon" />
							</div>
							<div class="Container50 Responsive100">
								<h:outputText
									value="#{waterCreditSummaryController.totalusedWaterCredit}"
									for="totalWaterCredit" />
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</h:panelGroup>
	</ui:define>
</ui:composition>
