<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h:panelGroup rendered="#{userController.renCerAndOrg}">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Water Credit Log</div>
			<div class="EmptyBox5"></div>
			<h:form id="form1">
				<p:poll interval="2" update="objects" />
				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{waterCreditLogController.waCreLogOrgList}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="20"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="25,30" selectionMode="single"
					rowKey="#{object.waterCreditID}">

					<!-- <f:facet name="{Exporters}">

						<h:commandLink ajax="false">
							<p:graphicImage name="/resources/images/pdf.png" width="24" />
							<pe:exporter type="pdf" target="objects"
								fileName="waterCreditLog" tableTitle="Water Credit Log"
								orientation="portrait" facetBackground="#FFFFFF"
								facetFontSize="11" facetFontColor="#0000" facetFontStyle="BOLD"
								cellFontColor="#000" cellFontSize="10" cellFontStyle="NORMAL" />
						</h:commandLink>

					</f:facet>
 -->
					<p:column headerText="Operator Name"
						sortBy="#{object.operatorDTO.operatorName}">
						<h:outputText value="#{object.operatorDTO.operatorName}" />
					</p:column>

					<p:column headerText="Customer No"
						sortBy="#{object.customerDTO.customerID}">
						<h:outputText value="#{object.customerDTO.customerID}" />
					</p:column>

					<p:column headerText="Customer Name"
						sortBy="#{object.customerDTO.customerName}">
						<h:outputText value="#{object.customerDTO.customerName}" />
					</p:column>

					<p:column headerText="Used Water Credit"
						sortBy="#{object.usedWaterCredit}">
						<h:outputText value="#{object.usedWaterCredit}" />
					</p:column>

					<p:column headerText="Available Water Credit"
						sortBy="#{object.availableWaterCredit}">
						<h:outputText value="#{object.availableWaterCredit}" />
					</p:column>

					<p:column headerText="Date" sortBy="#{object.usedDate}">
						<h:outputText value="#{object.usedDate}">
							<f:convertDateTime pattern="yyyy-MM-dd" />
						</h:outputText>
					</p:column>


					<p:column headerText="Year" sortBy="#{object.year}">
						<h:outputText value="#{object.year}" />
					</p:column>
					<p:column headerText="FieldID" sortBy="#{object.fieldID}">
						<h:outputText value="#{object.fieldID}" />
					</p:column>
					<p:column headerText="PumpID" sortBy="#{object.ipcuID}">
						<h:outputText value="#{object.ipcuID}" />
					</p:column>

					<!-- 							<p:column headerText="Edit"> -->
					<!-- 								<p:commandButton icon="ui-icon-search" -->
					<!-- 									oncomplete="PF('areaDetailDig').show()" update="form1"> -->
					<!-- 									<f:setPropertyActionListener value="#{object}" target="#{areaController.areaDTO}" /> -->
					<!-- 								</p:commandButton> -->
					<!-- 							</p:column> -->

					<!-- 							<p:column headerText="Delete"> -->
					<!-- 								<p:commandButton icon="ui-icon-trash" update=":form1" -->
					<!-- 									action="#{areaController.deleteArea}"> -->
					<!-- 									<f:setPropertyActionListener value="#{object}" -->
					<!-- 										target="#{areaController.areaDTO}" /> -->
					<!-- 								</p:commandButton> -->
					<!-- 							</p:column> -->
					<!-- 					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xls" target="objects"
							fileName="waterCreditSummaryLog" />
					</h:commandLink> -->


				</p:dataTable>

			</h:form>
		</div>
	</h:panelGroup>
</ui:composition>
