<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:panelGroup rendered="#{userController.renCerAndOrg}">
		<div class="Container100 Responsive100">
			<h:form id="form1">
				<p:poll interval="2" update="waterSummarys" />
				<p:growl id="messages" showSummary="true" life="3000" />
				<div class="Container100 Responsive100">
					<p:dataGrid var="waterSummary"
						value="#{waterCreditSummaryController.wListOrganization}"
						paginatorPosition="bottom" columns="3" layout="grid" rows="12"
						paginator="true" id="waterSummarys"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="6,12,16">

						<f:facet class="CardTopic TexAlCenter Neti" name="header">Water Credit Summary  </f:facet>

						<p:panel header="#{waterSummary.customerDTO.customerName}"
							style="text-align:center">
							<h:panelGrid columns="2" style="width:100%">
								<!-- <p:graphicImage name="demo/images/car/#{car.brand}.gif" /> -->

								<h:outputText value="Customer ID :" />
								<h:outputText value="#{waterSummary.customerDTO.customerID}" />

								<h:outputText value="Operator Name :" />
								<h:outputText value="#{waterSummary.operatorDTO.operatorName}" />

								<h:outputText value="Used Water Credit :" />
								<h:outputText value="#{waterSummary.usedWaterCredit} KL" />

								<h:outputText value="Available Water Credit :" />
								<h:outputText value="#{waterSummary.availableWaterCredit} KL" />

								<!-- <p:commandLink update=":form:carDetail"
								oncomplete="PF('carDialog').show()" title="View Detail">
								<h:outputText styleClass="ui-icon ui-icon-search"
									style="margin:0 auto;" />
								<f:setPropertyActionListener value="#{car}"
									target="#{dataGridView.selectedCar}" />
							</p:commandLink> -->
							</h:panelGrid>
						</p:panel>
					</p:dataGrid>
				</div>
			</h:form>
		</div>
	</h:panelGroup>

</ui:composition>
