<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOpCommon}">
			<div class="Container100 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Water Credit Summary
					Log</div>
				<div class="EmptyBox5"></div>
				<h:form id="form">
					<p:poll interval="30" update="objects" />
					<p:growl id="messages" showSummary="true" life="3000" />
					<p:dataTable id="objects" var="object" paginatorPosition="bottom"
						value="#{waterCreditLogController.waterCreditLogList}"
						styleClass="et_datatable" emptyMessage="Empty..." editable="true"
						paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
						rowsPerPageTemplate="25,30" selectionMode="single"
						rowKey="#{object.waterCreditID}">

						<!-- <f:facet name="{Exporters}">
							<h:commandLink>
								<p:graphicImage name="/resources/demo/images/excel.png"
									width="24" />
								<p:dataExporter type="xls" target="objects"
									fileName="waterCreditSummaryLog" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage name="/resources/demo/images/pdf.png" width="24" />
								<p:dataExporter type="pdf" target="objects"
									fileName="waterCreditSummaryLog" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage name="/resources/demo/images/csv.png" width="24" />
								<p:dataExporter type="csv" target="objects"
									fileName="waterCreditSummaryLog" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage name="/resources/demo/images/xml.png" width="24" />
								<p:dataExporter type="xml" target="objects"
									fileName="waterCreditLog" />
							</h:commandLink>
						</f:facet> -->

						<p:column headerText="Customer No"
							sortBy="#{object.customerDTO.customerID}">
							<h:outputText value="#{object.customerDTO.customerID}" />
						</p:column>

						<p:column headerText="Customer Name"
							sortBy="#{object.customerDTO.customerName}">
							<h:outputText value="#{object.customerDTO.customerName}" />
						</p:column>

						<p:column headerText="Used Water Credit"
							sortBy="#{object.usedWaterCredit}">
							<h:outputText value="#{object.usedWaterCredit}" />
						</p:column>

						<p:column headerText="Available Water Credit"
							sortBy="#{object.availableWaterCredit}">
							<h:outputText value="#{object.availableWaterCredit}" />
						</p:column>
						<p:column headerText="Date" sortBy="#{object.usedDate}">
							<h:outputText value="#{object.usedDate}">
								<f:convertDateTime pattern="yyyy-MM-dd" />
							</h:outputText>
						</p:column>

						<p:column headerText="Year" sortBy="#{object.year}">
							<h:outputText value="#{object.year}" />
						</p:column>
						<p:column headerText="FieldID" sortBy="#{object.fieldID}">
							<h:outputText value="#{object.fieldID}" />
						</p:column>
						<p:column headerText="PumpID" sortBy="#{object.ipcuID}">
							<h:outputText value="#{object.ipcuID}" />
						</p:column>

						<!-- 							<p:column headerText="Edit"> -->
						<!-- 								<p:commandButton icon="ui-icon-search" -->
						<!-- 									oncomplete="PF('areaDetailDig').show()" update="form1"> -->
						<!-- 									<f:setPropertyActionListener value="#{object}" target="#{areaController.areaDTO}" /> -->
						<!-- 								</p:commandButton> -->
						<!-- 							</p:column> -->

						<!-- 							<p:column headerText="Delete"> -->
						<!-- 								<p:commandButton icon="ui-icon-trash" update=":form1" -->
						<!-- 									action="#{areaController.deleteArea}"> -->
						<!-- 									<f:setPropertyActionListener value="#{object}" -->
						<!-- 										target="#{areaController.areaDTO}" /> -->
						<!-- 								</p:commandButton> -->
						<!-- 							</p:column> -->
<!-- 						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/excel.png"
								width="24" pageOnly="true" />
							<p:dataExporter type="xls" target="objects"
								fileName="waterCreditSummaryLog" />
						</h:commandLink> -->

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
								pageOnly="true" />
							<p:dataExporter type="pdf" target="objects"
								fileName="waterCreditSummaryLog" />
						</h:commandLink>

<!-- 						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/csv.png" width="24"
								pageOnly="true" />
							<p:dataExporter type="csv" target="objects"
								fileName="waterCreditSummaryLog" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/xml.png" width="24"
								pageOnly="true" />
							<p:dataExporter type="xml" target="objects"
								fileName="waterCreditSummaryLog" />
						</h:commandLink>
 -->
					</p:dataTable>

				</h:form>
			</div>
		</h:panelGroup>
		<ui:include src="watCreLogOrg.xhtml" />
	</ui:define>
</ui:composition>
