<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<div class="Container60 Responsive100">
		<div class="EmptyBox5"></div>
		<div class="CardTopic TexAlCenter Neti">List of Pump</div>
		<div class="EmptyBox5"></div>
		<h:form id="form1">

			<p:growl id="messages" showSummary="true" life="3000" />
			<p:dataTable id="ipcus" var="ipcu" paginatorPosition="bottom"
				value="#{ipcuController.ipcuList}" styleClass="et_datatable"
				emptyMessage="Empty..." editable="true" paginator="true" rows="15"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
				rowsPerPageTemplate="15,20,25" selectionMode="single"
				rowKey="#{ipcu.ipcuID}">


				<p:column headerText="Operator ID"
					sortBy="#{ipcu.operatorDTO.operatorID}">
					<h:outputText value="#{ipcu.operatorDTO.operatorID}" />
				</p:column>

				<p:column headerText="Operator Name"
					sortBy="#{ipcu.operatorDTO.operatorName}">
					<h:outputText value="#{ipcu.operatorDTO.operatorName}" />
				</p:column>

				<p:column headerText="Area Name" sortBy="#{ipcu.areaDTO.areaName}">
					<h:outputText value="#{ipcu.areaDTO.areaName}" />
				</p:column>

				<p:column headerText="Pump Depth" sortBy="#{ipcu.ipcuDepth}">

					<h:outputText value="#{ipcu.ipcuDepth}" />
				</p:column>

				<p:column headerText="Pump Watt Capacity"
					sortBy="#{ipcu.ipcuWattCapacity}">

					<h:outputText value="#{ipcu.ipcuWattCapacity}" />
				</p:column>

				<p:column headerText="Water Dynamic Head"
					sortBy="#{ipcu.waterDynamicHead}">

					<h:outputText value="#{ipcu.waterDynamicHead}" />
				</p:column>

				<p:column headerText="Pump Con(On/Off)" sortBy="#{ipcu.enabled}">
					<h:outputText value="#{(ipcu.enabled==true)? 'On' : 'Off'}" />
				</p:column>

				<p:column headerText="Edit">
					<p:commandButton icon="ui-icon-search"
						oncomplete="PF('ipcuDetailDig').show()" update="form1">
						<f:setPropertyActionListener value="#{ipcu}"
							target="#{ipcuController.ipcuDTO}" />
					</p:commandButton>
				</p:column>

				<!-- <p:column headerText="Delete">
					<p:commandButton icon="ui-icon-trash" update="form1"
						action="#{ipcuController.deleteIPCU}">
						<f:setPropertyActionListener value="#{ipcu}"
							target="#{ipcuController.ipcuDTO}" />
					</p:commandButton>
				</p:column> -->


			</p:dataTable>

			<p:dialog widgetVar="ipcuDetailDig" responsive="true" modal="true"
				showEffect="blind" hideEffect="explode" resizable="false">
				<p:outputPanel id="ipcuDetail">
					<p:panelGrid columns="2" columnClasses="label,value">
						<f:facet name="header">
							<h:outputText value="Pump Info" />
						</f:facet>


						<h:outputText value="Pump Depth " />
						<h:inputText value="#{ipcuController.ipcuDTO.ipcuDepth}" />


						<h:outputText value="Pump watt Capacity " />
						<h:inputText value="#{ipcuController.ipcuDTO.ipcuWattCapacity}" />

						<h:outputText value="Water Dynamic Head " />
						<h:inputText value="#{ipcuController.ipcuDTO.waterDynamicHead}" />

						<h:outputText value="Pump Con. (On/off)" />
						<p:selectOneMenu id="con"
							value="#{ipcuController.ipcuDTO.enabled}">
							<f:selectItem itemLabel="On" itemValue="1" />
							<f:selectItem itemLabel="off" itemValue="0" />

						</p:selectOneMenu>

					</p:panelGrid>
					<p:commandButton value="Update"
						action="#{ipcuController.updateIPCU}" update="form1" />
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</div>

</ui:composition>
