<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOrgCommon}">
			<div class="Container40 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Pump</div>
				<div class="EmptyBox5"></div>
				<h:form id="form" style="">
					<p:growl id="messages" showSummary="true" />

					<div class="Container40 Responsive100">
						<h:outputText value="Area Name" for="areaName" />
					</div>

					<div class="Container60 Responsive100">
						<p:selectOneMenu value="#{ipcuController.areaID}" required="true"
							requiredMessage="Please, Select a Area." filter="true">
							<f:selectItem itemLabel="Select Category Name" />
							<f:selectItems var="area" value="#{ipcuController.areaList}"
								itemLabel="#{area.areaName}" itemValue="#{area.areaID}" />

						</p:selectOneMenu>
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Pump Depth" for="ipcuDepth" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="ipcuDepth" required="true"
							value="#{ipcuController.ipcuDTO.ipcuDepth}"
							requiredMessage="Pump Depth is required." label="ipcuDepth" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Pump Watt Capacity" for="ipcuWattCapacity" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="ipcuWattCapacity" required="true"
							requiredMessage="Pump watt capacity is required."
							value="#{ipcuController.ipcuDTO.ipcuWattCapacity}"
							label="ipcuWattCapacity" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Water Dynamic Head" for="waterDynamicHead" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="waterDynamicHead" required="false"
							requiredMessage="Required"
							value="#{ipcuController.ipcuDTO.waterDynamicHead}"
							label="waterDynamicHead" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Distance From Canel" for="distanceFromCanel" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="distanceFromCanel" required="false"
							requiredMessage="Required"
							value="#{ipcuController.ipcuDTO.distanceFromCanel}"
							label="distanceFromCanel" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Operator" for="distanceFromCanel" />
					</div>

					<div class="Container60 Responsive100">
						<p:selectOneMenu id="opName" value="#{ipcuController.operatorID}"
							required="true" requiredMessage="Please, Select an Operator."
							filter="true">
							<f:selectItem itemLabel="Select Operator Name" />
							<f:selectItems var="operator"
								value="#{ipcuController.operatorList}"
								itemLabel="#{operator.operatorName}"
								itemValue="#{operator.operatorID}" />
						</p:selectOneMenu>
						<p:message for="opName" display="opName" />
					</div>

					<div class="EmptyBox5"></div>
					<div class="Container40 Responsive100"></div>
					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							styleClass="Container100 Responsive100"
							action="#{ipcuController.saveIpcu}" update="form :form1" />
					</div>
					<div class="Container20 Responsive100"></div>
				</h:form>
			</div>

			<ui:include src="ipcuCerOrg.xhtml" />
		</h:panelGroup>
		<ui:include src="ipcuCer.xhtml"></ui:include>
		<ui:include src="ipcuOperator.xhtml"></ui:include>
	</ui:define>
</ui:composition>
