<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<h:panelGroup rendered="#{userController.renCerCommon}">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Pump</div>
			<div class="EmptyBox5"></div>
			<h:form id="form3">

				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="ipcus" var="ipcu" paginatorPosition="bottom"
					value="#{ipcuController.ipcuListOperator}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="15"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="15,20,25" selectionMode="single"
					rowKey="#{ipcu.ipcuID}">

					<p:column headerText="Area Name" sortBy="#{ipcu.areaDTO.areaName}">
						<h:outputText value="#{ipcu.areaDTO.areaName}" />
					</p:column>

					<p:column headerText="Pump Depth" sortBy="#{ipcu.ipcuDepth}">

						<h:outputText value="#{ipcu.ipcuDepth}" />
					</p:column>

					<p:column headerText="Pump Watt Capacity"
						sortBy="#{ipcu.ipcuWattCapacity}">

						<h:outputText value="#{ipcu.ipcuWattCapacity}" />
					</p:column>

					<p:column headerText="Water Dynamic Head"
						sortBy="#{ipcu.waterDynamicHead}">

						<h:outputText value="#{ipcu.waterDynamicHead}" />
					</p:column>

					<p:column headerText="Pump Con(On/Off)" sortBy="#{ipcu.enabled}">
						<h:outputText value="#{(ipcu.enabled==true)? 'On' : 'Off'}" />
					</p:column>



				</p:dataTable>

			</h:form>
		</div>
	</h:panelGroup>

</ui:composition>
