<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container40 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Pump</div>
			<div class="EmptyBox5"></div>
			<h:form id="form" style="">
				<p:growl id="messages" showSummary="true" />

				<div class="Container40 Responsive100">
					<h:outputText value="Area Name" for="areaName" />
				</div>

				<div class="Container60 Responsive100">
					<p:selectOneMenu value="#{ipcuController.areaID}" required="true"
						requiredMessage="Please, Select a Area." filter="true">
						<f:selectItem itemLabel="Select Category Name" />
						<f:selectItems var="area" value="#{ipcuController.areaList}"
							itemLabel="#{area.areaName}" itemValue="#{area.areaID}" />

					</p:selectOneMenu>
				</div>

				<div class="EmptyBox5"></div>
				<div class="Container40 Responsive100"></div>
				<div class="Container40 Responsive100">
					<p:commandButton value="Search"
						styleClass="Container100 Responsive100"
						action="#{ipcuController.findIpcuListByArea}"
						update="form :form1" />
				</div>
				<div class="Container20 Responsive100"></div>
			</h:form>
		</div>

		<ui:include src="searchIpcuListByArea.xhtml" />

	</ui:define>
</ui:composition>
