
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="content">
		<!-- Second row -->


		<!-- For organization -->

		<ui:include src="homeOrg.xhtml" />

		<!-- For organization -->


		<!-- For Operator -->

		<ui:include src="homeOperator.xhtml" />

		<!-- For Operator -->



		<!-- 		<div class="Container100 Responsive100 SmallIndent">
			<div class="Container100 Zoom1point05x BlueBorderedBox BordRad4"
				style="background-color: rgb(41, 80, 107)">
				<div class="Container100 TexAlCenter Responsive100 NoPadding">
					<p:outputLabel value="Google map" styleClass="White Fs27 FontRonin" />
				</div>

				<div class="Container100 Responsive100 BordRad3 SoftGrayBody"
					style="border: 1px solid rgb(41, 80, 107);">
					<div class="Container20 Responsive100" />
					<f:view contentType="text/html">
						<p:gmap center="23.777176, 90.399452" zoom="8" type="HYBRID"
							style="width:100%;height:400px" />
					</f:view>
					<div class="Container20 Responsive100" />
				</div>
			</div>
		</div> -->


		<div class="Container100 Responsive100"></div>
		<div class="Container100 Responsive100" align="right">
			<p:clock pattern="HH:mm:ss dd.MM.yyyy" mode="server" />

		</div>
	</ui:define>
</ui:composition>
