<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">




	<h:panelGroup rendered="#{userController.renOpCommon}">

		<div class="Container50 Responsive100 SmallIndent">
			<div class="Container100 Zoom1point05x BlueBorderedBox BordRad4"
				style="background-color: rgb(41, 80, 107)">
				<div class="Container100 Responsive100 BordRad3 SoftGrayBody"
					style="border: 1px solid rgb(41, 80, 107);">

					<p:chart type="donut" model="#{dashBoardController.donutModelOp}"
						responsive="true" />
					<div class="Container20 Responsive100" />
				</div>
			</div>
		</div>

		<div class="Container50 Responsive100 SmallIndent">
			<div class="Container100 Zoom1point05x BlueBorderedBox BordRad4"
				style="background-color: rgb(41, 80, 107)">
				<div class="Container100 Responsive100 BordRad3 SoftGrayBody"
					style="border: 1px solid rgb(41, 80, 107);">
					<div class="Container20 Responsive100" />
					<f:view contentType="text/html">
						<p:chart type="bar" model="#{dashBoardController.barModelOp}"
							style="height:300px" />
					</f:view>
					<div class="Container20 Responsive100" />
				</div>
			</div>
		</div>
		<div class="Container50 Responsive100 SmallIndent">
			<div class="Container100 Zoom1point05x BlueBorderedBox BordRad4"
				style="background-color: rgb(41, 80, 107)">
				<div class="Container100 Responsive100 BordRad3 SoftGrayBody"
					style="border: 1px solid rgb(41, 80, 107);">

					<p:chart type="pie"
						model="#{dashBoardController.pieModelForCreditOp}"
						responsive="true" />
				</div>
			</div>
		</div>
		<div class="Container50 Responsive100 SmallIndent">
			<div class="Container100 Zoom1point05x BlueBorderedBox BordRad4"
				style="background-color: rgb(41, 80, 107)">
				<div class="Container100 Responsive100 BordRad3 SoftGrayBody"
					style="border: 1px solid rgb(41, 80, 107);">

					<p:chart type="pie"
						model="#{dashBoardController.pieChartForWaterCreditByDate}"
						responsive="true" />
				</div>
			</div>
		</div>
		<div class="Container50 Responsive100 SmallIndent">
			<div class="Container100 Zoom1point05x BlueBorderedBox BordRad4"
				style="background-color: rgb(41, 80, 107)">
				<div class="Container100 Responsive100 BordRad3 SoftGrayBody"
					style="border: 1px solid rgb(41, 80, 107);">

					<p:chart type="pie"
						model="#{dashBoardController.pieChartForWaterCredit}"
						responsive="true" />
				</div>
			</div>
		</div>
		<div class="Container50 Responsive100 SmallIndent">
			<div class="Container100 Zoom1point05x BlueBorderedBox BordRad4"
				style="background-color: rgb(41, 80, 107)">
				<div class="Container100 Responsive100 BordRad3 SoftGrayBody"
					style="border: 1px solid rgb(41, 80, 107);">
					<p:chart type="pie" model="#{dashBoardController.pieModelOp}"
						responsive="true" />
				</div>
			</div>
		</div>


		<div class="Container100 Responsive100"></div>
		<div class="Container100 Responsive100 SmallIndent">
			<div class="Container100 Zoom1point05x BlueBorderedBox BordRad4"
				style="background-color: rgb(41, 80, 107)">
				<div class="Container100 Responsive100 BordRad3 SoftGrayBody"
					style="border: 1px solid rgb(41, 80, 107);">
					<p:carousel value="#{customerController.customerList}"
						headerText="List of Customers" var="customer"
						itemStyle="text-align:center" responsive="true">
						<p:panel header="#{customer.customerName}"
							style="text-align:center">
							<h:panelGrid columns="2" style="width:100%">

								<h:outputText value="Customer Name:" />
								<h:outputText value="#{customer.customerName}" />

								<h:outputText value="Customer ID:" />
								<h:outputText value="#{customer.customerID}" />

								<h:outputText value="National ID:" />
								<h:outputText value="#{customer.nationalID}" />

								<h:outputText value="Customer Religion:" />
								<h:outputText value="#{customer.religion}" />


								<h:outputText value="Customer Gender:" />
								<h:outputText value="#{customer.gender}" />
							</h:panelGrid>
						</p:panel>

						<f:facet name="footer">

						</f:facet>
					</p:carousel>

					<div class="EmptyBox5 Responsive100" />
					<div class="Container20 Responsive100" />
				</div>
			</div>
		</div>
		<div class="Container100 Responsive100 SmallIndent">
			<div class="Container100 Zoom1point05x BlueBorderedBox BordRad4"
				style="background-color: rgb(41, 80, 107)">
				<div class="Container100 Responsive100 BordRad3 SoftGrayBody"
					style="border: 1px solid rgb(41, 80, 107);">
					<p:carousel value="#{dashBoardController.areaList}"
						headerText="List of Areas" var="area"
						itemStyle="text-align:center" responsive="true">
						<p:panel header="#{area.areaName}" style="text-align:center">
							<h:panelGrid columns="2" style="width:100%">
								<h:outputText value="Area Name:" />
								<h:outputText value="#{area.areaName}" style="font-weight: bold" />
								<h:outputText value="Area Code:" />
								<h:outputText value="#{area.areaCode}" style="font-weight: bold" />
							</h:panelGrid>
						</p:panel>

						<f:facet name="footer">

						</f:facet>
					</p:carousel>
					<div class="Container20 Responsive100" />
				</div>
			</div>
		</div>
	</h:panelGroup>



</ui:composition>
