<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="content">
Custom message from Properties file on bd.ac.uiu.utility.validation<br/>
		<p:outputLabel value="#{customMsg.testMsg}"/>
	</ui:define>
</ui:composition>
