<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="content">
<h:form id="reza">
    <p:panel header="Validate">
    
        <p:messages />
 
        <h:panelGrid columns="4" cellpadding="5">
            <h:outputLabel for="name" value="Name: (@Size(min=2,max=5))" />
            <p:inputText id="name" value="#{test.name}" label="Name"/>
               
            <p:message for="name" style="color:red"/>
             <h:outputText value="#{test.name}" />
 
           
        </h:panelGrid>
 
        <p:commandButton value="Save" ajax="false" icon="ui-icon-check" validateClient="true"/>
    </p:panel>
</h:form>
	</ui:define>
</ui:composition>
