<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="Container100 Responsive100">
		<div class="EmptyBox5"></div>
		<div class="CardTopic TexAlCenter Neti">List of Operator</div>
		<div class="EmptyBox5"></div>
		<h:form id="form1">
			<!-- 				<p:growl id="messages" showSummary="true" life="3000" /> -->
			<p:dataTable id="objects" var="operator" paginatorPosition="bottom"
				value="#{operatorController.operatorList}" styleClass="et_datatable"
				emptyMessage="Empty..." editable="true" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" selectionMode="single"
				rowKey="#{operator.operatorID}">


				<p:column headerText="Name" sortBy="#{object.operatorName}">
					<h:outputText value="#{operator.operatorName}" />
				</p:column>

				<p:column headerText="Email" sortBy="#{object.email}">

					<h:outputText value="#{operator.email}" />
				</p:column>


				<p:column headerText="Mobile" sortBy="#{object.mobile}">

					<h:outputText value="#{operator.mobile}" />
				</p:column>

				<!-- 					<p:column headerText="Present Address"
						sortBy="#{object.presentAddress}">

						<h:outputText value="#{operator.presentAddress}" />
					</p:column>


					<p:column headerText="Tin cer. number"
						sortBy="#{object.tinCerNumber}">

						<h:outputText value="#{operator.tinCerNumber}" />
					</p:column>
 -->
				<p:column headerText="Registration Number"
					sortBy="#{object.registrationNumber}">

					<h:outputText value="#{operator.registrationNumber}" />
				</p:column>

				<p:column headerText="Organization"
					sortBy="#{operator.organizationDTO.organizationName}">

					<h:outputText value="#{operator.organizationDTO.organizationName}" />
				</p:column>


				<!-- 	<p:column headerText="CER"
						sortBy="#{operator.organizationDTO.cerDTO.cerName}">

						<h:outputText value="#{operator.organizationDTO.cerDTO.cerName}" />
					</p:column>  -->

				<p:column headerText="View Profile">
					<p:commandButton icon="fa-male"
						action="#{operatorController.jumpToOperatorProfile()}"
						update="@([id$=profileOperator])">
						<f:setPropertyActionListener value="#{operator}"
							target="#{operatorController.operatorDTOTarget}" ajax="false" />
					</p:commandButton>
				</p:column>

				<p:column headerText="Edit">
					<p:commandButton icon="ui-icon-search"
						oncomplete="PF('operatorDetailDig').show()" update="form1">
						<f:setPropertyActionListener value="#{operator}"
							target="#{operatorController.operatorDTO}" />
					</p:commandButton>
				</p:column>

				<!-- <p:column headerText="Delete">
					<p:commandButton icon="ui-icon-trash" update=":form1"
						action="#{userController.deleteUser}">
						<f:setPropertyActionListener value="#{object}"
							target="#{userController.userDTO}" />
					</p:commandButton>
				</p:column> -->
				<h:commandLink>
					<p:graphicImage name="/resources/demo/images/excel.png" width="24"
						pageOnly="true" />
					<p:dataExporter type="xls" target="objects" fileName="operator" />
				</h:commandLink>

				<h:commandLink>
					<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
						pageOnly="true" />
					<p:dataExporter type="pdf" target="objects" fileName="operator" />
				</h:commandLink>

				<h:commandLink>
					<p:graphicImage name="/resources/demo/images/csv.png" width="24"
						pageOnly="true" />
					<p:dataExporter type="csv" target="objects" fileName="operator" />
				</h:commandLink>

				<h:commandLink>
					<p:graphicImage name="/resources/demo/images/xml.png" width="24"
						pageOnly="true" />
					<p:dataExporter type="xml" target="objects" fileName="operator" />
				</h:commandLink>

			</p:dataTable>

			<p:dialog widgetVar="operatorDetailDig" responsive="true"
				modal="true" showEffect="blind" hideEffect="explode"
				resizable="false">
				<p:outputPanel id="operatorDetail">
					<p:panelGrid columns="2" columnClasses="label,value">
						<f:facet name="header">
							<h:outputText value="Operator Info" />
						</f:facet>

						<h:outputText value="Name" />
						<h:inputText
							value="#{operatorController.operatorDTO.operatorName}" />

						<h:outputText value="Email" />
						<h:inputText value="#{operatorController.operatorDTO.email}" />

						<h:outputText value="Mobile" />
						<h:inputText value="#{operatorController.operatorDTO.mobile}" />

						<h:outputText value="Permanent Address" />
						<h:inputText
							value="#{operatorController.operatorDTO.permanentAddress}" />

						<h:outputText value="Present Address" />
						<h:inputText
							value="#{operatorController.operatorDTO.presentAddress}" />

						<h:outputText value="Tin Cer. Number" />
						<h:inputText
							value="#{operatorController.operatorDTO.tinCerNumber}" />

						<h:outputText value="Voter ID No." />
						<h:inputText value="#{operatorController.operatorDTO.voterID}" />

						<h:outputText value="Registration Number" />
						<h:inputText
							value="#{operatorController.operatorDTO.registrationNumber}" />

					</p:panelGrid>
					<p:commandButton value="Update"
						action="#{operatorController.updateOperator}" update="form1" />
				</p:outputPanel>
			</p:dialog>

		</h:form>
	</div>

</ui:composition>

