<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Operator</div>
			<div class="EmptyBox5"></div>
			<h:form id="form" style="">
				<p:growl id="messages" showSummary="true" />
				<!-- left -->
				<div class="Container100 Responsive100">
					<div class="Container40 Responsive100">
						<h:outputText value="Name" for="name" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="name" required="true" label="Name"
							value="#{operatorController.operatorDTO.operatorName}"
							requiredMessage="Required" />
					</div>
					<div class="Container40 Responsive100">

						<h:outputText value="Email" for="email" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="email" required="true" label="email"
							value="#{operatorController.operatorDTO.email}"
							requiredMessage="Required" />
					</div>
					<div class="Container40 Responsive100">

						<h:outputText value="Mobile" for="mobile" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="mobile" required="true" label="mobile"
							value="#{operatorController.operatorDTO.mobile}"
							requiredMessage="Required" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Permanent Address" for="permanentAddress" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="permanentAddress" required="true"
							label="permanentAddress"
							value="#{operatorController.operatorDTO.permanentAddress}"
							requiredMessage="Required" />
					</div>


				</div>
				<!-- Right -->

				<div class="Container100 Responsive100">

					<div class="Container40 Responsive100">
						<h:outputText value="Registration Number" for="registrationNumber" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="registrationNumber" required="true"
							label="registrationNumber"
							value="#{operatorController.operatorDTO.registrationNumber}"
							requiredMessage="Required" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Establish Date" for="establishDate" />
					</div>
					<div class="Container60 Responsive100">
						<p:calendar id="establishDate" locale="de" navigator="true" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="User Name" for="username" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="username"
							value="#{userController.userDTO.username}" required="true"
							label="username" requiredMessage="Required" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Password" for="password" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="password"
							value="#{userController.userDTO.password}" required="true"
							label="password" requiredMessage="Required" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Role Name" for="rolename" />
					</div>
					<div class="Container60 Responsive100">
						<p:selectOneMenu id="rolename"
							value="#{userController.userDTO.rolename}">
							<f:selectItem itemLabel="Select Role Name" itemValue="" />
							<f:selectItem itemLabel="Admin" itemValue="ROLE_ADMIN" />
							<f:selectItem itemLabel="User" itemValue="ROLE_USER" />

						</p:selectOneMenu>
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Operator" for="operator"
							rendered="#{userController.renOp}" />
					</div>
					<div class="Container60 Responsive100">
						<p:selectOneMenu id="operator" rendered="#{userController.renOp}"
							value="#{userController.operatorDTO.operatorID}">
							<f:selectItem itemLabel="Select Operator" itemValue="" />
							<f:selectItems value="#{userController.operatorDTOs}"
								var="operator" itemLabel="#{operator.operatorName}"
								itemValue="#{operator.operatorID}" />
						</p:selectOneMenu>
					</div>
				</div>

				<div class="EmptyBox5"></div>
				<div class="Container30 Responsive100"></div>
				<div class="Container50 Responsive100">
					<p:commandButton value="Save"
						icon="ui-button-icon-left ui-icon ui-c fa fa-save"
						styleClass="Container50 Responsive100"
						actionListener="#{operatorController.saveOperatorUser}" update="form" />
				</div>
				<div class="Container20 Responsive100"></div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
