<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">

		<div class="Container40 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Operator</div>
			<div class="EmptyBox5"></div>

			<h:form id="profileOperator" style="">
				<p:growl id="messages" showSummary="true" />
				<!--left -->
				<div class="Container100 Responsive100">

					<div class="Container40 Responsive100">
						<h:outputText value="Operator ID" for="operatorID" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{operatorController.operatorDTOTarget.operatorID}"
							for="operatorID" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Operator Name" for="operatorName" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{operatorController.operatorDTOTarget.operatorName}"
							for="operatorName" />
					</div>
					
					
										<div class="Container40 Responsive100">
						<h:outputText value="Email" for="email" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{operatorController.operatorDTOTarget.email}"
							for="email" />
					</div>
					

					<div class="Container40 Responsive100">
						<h:outputText value="Mobile" for="mobile" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{operatorController.operatorDTOTarget.mobile}"
							for="mobile" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Permanent Address" for="permanentAddress" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{operatorController.operatorDTOTarget.permanentAddress}"
							for="permanentAddress" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Present Address" for="presentAddress" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{operatorController.operatorDTOTarget.presentAddress}"
							for="presentAddress">
						</h:outputText>
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Reg No" for="registrationNumber" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{operatorController.operatorDTOTarget.registrationNumber}"
							for="registrationNumber" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Voter ID No" for="voterID" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{operatorController.operatorDTOTarget.voterID}"
							for="voterID" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Tin Cer No." for="tinCerNumber" />
					</div>
					<div class="Container10 Responsive100">
						<h:outputText value=":" for="colon" />
					</div>
					<div class="Container50 Responsive100">
						<h:outputText
							value="#{operatorController.operatorDTOTarget.tinCerNumber}"
							for="tinCerNumber" />
					</div>
					

				</div>
			</h:form>
		</div>

	</ui:define>
</ui:composition>
