<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Operator</div>
			<div class="EmptyBox5"></div>
			<h:form id="form" style="">
				<!-- 				<p:growl id="messages" showSummary="true" /> -->
				<!-- left -->
				<div class="Container50 Responsive100">
					<div class="Container40 Responsive100">
						<h:outputText value="Name" for="name" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="name" required="true" label="Name"
							value="#{operatorController.operatorDTO.operatorName}"
							requiredMessage="Enter a name"
							validatorMessage="Name should start with Character">
							<f:validateRegex
								pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" />
						</p:inputText>
						<p:message for="name" display="name" />
					</div>
					<div class="Container40 Responsive100">

						<h:outputText value="Email" for="email" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="email" required="true" label="email"
							value="#{operatorController.operatorDTO.email}"
							requiredMessage="Enter a email"
							validatorMessage="Enter a valid email address">
							<f:validateRegex
								pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
						</p:inputText>
						<p:message for="email" display="email" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Mobile" for="mobile" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="mobile" required="true" label="mobile"
							value="#{operatorController.operatorDTO.mobile}"
							requiredMessage="Enter mobile number"
							validatorMessage="Number should be between 11 to 14">
							<f:validateLength minimum="11" maximum="14" />
						</p:inputText>
						<p:message for="mobile" display="mobile" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Permanent Address" for="permanentAddress" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="permanentAddress" required="true"
							label="permanentAddress"
							value="#{operatorController.operatorDTO.permanentAddress}"
							requiredMessage="Enter permanent address" />
						<p:message for="permanentAddress" display="permanentAddress" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Present Address" for="presentAddress" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="presentAddress" required="true"
							label="presentAddress"
							value="#{operatorController.operatorDTO.presentAddress}"
							requiredMessage="Enter presentAddress address" />
						<p:message for="permanentAddress" display="presentAddress" />
					</div>
				</div>
				<!-- Right -->

				<div class="Container50 Responsive100">

					<div class="Container40 Responsive100">
						<h:outputText value="Registration Number" for="registrationNumber" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="registrationNumber" required="true"
							label="registrationNumber"
							value="#{operatorController.operatorDTO.registrationNumber}"
							requiredMessage="Enter Registration Number " />
						<p:message for="registrationNumber" display="registrationNumber" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Voter ID No:" for="voterID" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="voterID" required="true" label="voterID"
							value="#{operatorController.operatorDTO.voterID}"
							requiredMessage="Voter ID " />
						<p:message for="registrationNumber" display="voterID" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Tin cer No:" for="tinNo" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="tinNo" required="true" label="tinNo"
							value="#{operatorController.operatorDTO.tinCerNumber}"
							requiredMessage="Voter ID " />
						<p:message for="registrationNumber" display="tinNo" />
					</div>

					<div class="Container40 Responsive100">
						<h:outputText value="Establish Date" for="establishDate" />
					</div>
					<div class="Container60 Responsive100">
						<p:calendar id="establishDate" locale="de" navigator="true" />
					</div>
				</div>

				<div class="EmptyBox5"></div>
				<div class="Container30 Responsive100"></div>
				<div class="Container50 Responsive100">
					<p:commandButton value="Save"
						icon="ui-button-icon-left ui-icon ui-c fa fa-save"
						styleClass="Container50 Responsive100"
						actionListener="#{operatorController.saveOperator}"
						update="form :form1" />
				</div>
				<div class="Container20 Responsive100"></div>
			</h:form>
		</div>
		<ui:include src="listOfOperator.xhtml" />
	</ui:define>
</ui:composition>
