<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Customer Search</div>
			<div class="EmptyBox5"></div>
			<h:form id="areaForm" style="">
				<p:growl id="messages" showSummary="true" />
				<div class="Container40 Responsive100">
					<h:outputText value="Enter Area Name" for="areaName" />
				</div>
				<div class="Container60 Responsive100">
					<p:selectOneMenu id="areaName" value="#{customerController.areaID}"
						required="true" requiredMessage="Please, Select an Area."
						filter="true">
						<f:selectItem itemLabel="Select Category Name" />
						<f:selectItems var="area" value="#{areaController.areaList}"
							itemLabel="#{area.areaName}" itemValue="#{area.areaID}" />
					</p:selectOneMenu>
					<p:message for="areaName" display="areaName" />
				</div>
				<div class="EmptyBox5"></div>
				<div class="Container40 Responsive100"></div>
				<div class="Container40 Responsive100">
					<p:commandButton value="Search"
						icon="ui-button-icon-left ui-icon ui-c fa fa-paw"
						styleClass="Container50 Responsive100"
						actionListener="#{customerController.searchCustomerByArea}"
						update="areaForm :areaSerachResult" />
				</div>
				<div class="Container20 Responsive100"></div>

			</h:form>
		</div>
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Area Details</div>
			<div class="EmptyBox5"></div>
			<h:form id="areaSerachResult">
				<div class="Container100 Responsive100">
					<p:dataGrid var="customer"
						value="#{customerController.seaCustByAreaName}"
						paginatorPosition="bottom" columns="3" layout="grid" rows="12"
						paginator="true" id="customers"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="6,12,16">
						<f:facet name="header">List of Customers </f:facet>
						<p:panel header="#{customer.customerName}"
							style="text-align:center">
							<h:panelGrid columns="2" style="width:100%">
								<!-- <p:graphicImage name="demo/images/car/#{car.brand}.gif" /> -->

								<h:outputText value="Customer Name :" />
								<h4>#{customer.customerName}</h4>

								<h:outputText value="Customer ID :" />
								<h4>#{customer.customerID}</h4>


								<h:outputText value="Mobile :" />
								<h:outputText value="#{customer.mobile}" />

								<h:outputText value="National ID :" />
								<h:outputText value="#{customer.nationalID}" />


								<h:outputText value="Religion :" />
								<h:outputText value="#{customer.religion}" />

								<h:outputText value="Gender :" />
								<h:outputText value="#{customer.gender}" />

								<h:outputText value="Marital Status :" />
								<h:outputText value="#{customer.maritalStatus}" />

								<h:outputText value="Operator Name :" />
								<h:outputText value="#{customer.operatorDTO.operatorName}" />
							</h:panelGrid>
						</p:panel>
					</p:dataGrid>
				</div>
			</h:form>
		</div>


	</ui:define>
</ui:composition>
