<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Customer Search</div>
			<div class="EmptyBox5"></div>
			<h:form id="customerForm" style="">
				<p:growl id="messages" showSummary="true" />
				<div class="Container40 Responsive100">
					<h:outputText value="Enter Customer Name" for="customerName" />
				</div>
				<div class="Container60 Responsive100">
					<p:inputText id="customerName"
						value="#{customerController.searchCustomerName}" required="true"
						label="CustomerName" requiredMessage="Required" />
				</div>
				<div class="EmptyBox5"></div>
				<div class="Container40 Responsive100"></div>
				<div class="Container40 Responsive100">
					<p:commandButton value="Search"
						icon="ui-button-icon-left ui-icon ui-c fa fa-paw"
						styleClass="Container50 Responsive100"
						actionListener="#{customerController.searchCustomer}"
						update="customerForm :customerSerachResult" />
				</div>
				<div class="Container20 Responsive100"></div>

			</h:form>
		</div>
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Customer Details</div>
			<div class="EmptyBox5"></div>
			<h:form id="customerSerachResult">
			
			<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" var="customer" paginatorPosition="bottom" rendered="#{customerController.rendersearchResult}"
					value="#{customerController.customerSearchList}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="5"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
					rowsPerPageTemplate="5,10,15" selectionMode="single"
					rowKey="#{customer.customerID}">

					<f:facet name="{Exporters}">
						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/excel.png"
								width="24" />
							<p:dataExporter type="xls" target="objects" fileName="customer" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/pdf.png" width="24" />
							<p:dataExporter type="pdf" target="objects" fileName="customer" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="objects" fileName="customer" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/xml.png" width="24" />
							<p:dataExporter type="xml" target="objects" fileName="customer" />
						</h:commandLink>
					</f:facet>

					<p:column headerText="Name" sortBy="#{customer.customerName}">
						<h:outputText value="#{customer.customerName}" rendered="#{customerController.rendersearchResult}"/>
					</p:column>

					<p:column headerText="NationalID" sortBy="#{customer.nationalID}">

						<h:outputText value="#{customer.nationalID}" rendered="#{customerController.rendersearchResult}"/>
					</p:column>


					<p:column headerText="Religion" sortBy="#{customer.religion}">

						<h:outputText value="#{customer.religion}" rendered="#{customerController.rendersearchResult}"/>
					</p:column>


					<p:column headerText="Gender" sortBy="#{customer.gender}">

						<h:outputText value="#{customer.gender}" rendered="#{customerController.rendersearchResult}"/>
					</p:column>
					<p:column headerText="View">
						<p:commandButton value="View Profile"
							action="#{customerController.jumpToCustomerProfile}"
							update="@([id$=profileForm])">
							<f:setPropertyActionListener value="#{customer}"
								target="#{customerController.customerDtoTarget}" ajax="false" />
						</p:commandButton>
					</p:column>

					<p:column headerText="Edit">
						<p:commandButton icon="ui-icon-search"
							oncomplete="PF('customerDetailDig').show()" update="customerSerachResult">
							<f:setPropertyActionListener value="#{customer}" target="" />
						</p:commandButton>
					</p:column>

					<p:column headerText="Delete">
						<p:commandButton icon="ui-icon-trash" update=":customerSerachResult" action="#">
							<f:setPropertyActionListener value="#{customer}" target="" />
						</p:commandButton>
					</p:column>
					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/excel.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xls" target="objects" fileName="area" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="pdf" target="objects" fileName="area" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/csv.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="csv" target="objects" fileName="area" />
					</h:commandLink>

					<h:commandLink>
						<p:graphicImage name="/resources/demo/images/xml.png" width="24"
							pageOnly="true" />
						<p:dataExporter type="xml" target="objects" fileName="area" />
					</h:commandLink>

				</p:dataTable>

				<p:dialog widgetVar="customerDetailDig" responsive="true"
					modal="true" showEffect="blind" hideEffect="explode"
					resizable="false">
					<p:outputPanel id="customerDetail">
						<p:panelGrid columns="2" columnClasses="label,value">
							<f:facet name="header">
								<h:outputText value="Customer Info" />
							</f:facet>

							<h:outputText value="Name" />
							<h:inputText
								value="#{customerController.customerDTO.customerName}" />

							<h:outputText value="NationalID" />
							<h:inputText value="#{customerController.customerDTO.nationalID}" />

							<h:outputText value="Religion" />
							<h:inputText value="#{customerController.customerDTO.religion}" />

							<h:outputText value="Gender" />
							<h:inputText value="#{customerController.customerDTO.gender}" />

						</p:panelGrid>
						<p:commandButton value="Update"
							action="#{customerController.updateCustomer}" update="customerSerachResult" />
					</p:outputPanel>
				</p:dialog>

			</h:form>
			</div>

	</ui:define>
</ui:composition>
