<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:panelGroup rendered="#{userController.renCerAndOrg}">

		<div class="Container100 Responsive100">
			<h:form id="form1">

				<div class="Container100 Responsive100">
					<p:dataGrid var="resInfo"
						value="#{responseInformationLogController.responseInformationLogList}"
						paginatorPosition="bottom" columns="3" layout="grid" rows="12"
						paginator="true" id="resInfos"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="6,12,16">

						<f:facet class="CardTopic TexAlCenter Neti" name="header">List of Response Information</f:facet>

						<p:panel header="#{resInfo.customerDTO.customerName}"
							style="text-align:center">
							<h:panelGrid columns="2" style="width:100%">
								<!-- <p:graphicImage name="demo/images/car/#{car.brand}.gif" /> -->

								<h:outputText value="Operator Name :" />
								<h:outputText value="#{resInfo.operatorDTO.operatorName}" />

								<h:outputText value="Customer Name :" />
								<h:outputText value="#{resInfo.customerDTO.customerName}" />

								<h:outputText value="Field No :" />
								<h:outputText value="#{resInfo.fieldDTO.fieldID}" />

								<h:outputText value="Field Valve :" />
								<h:outputText
									value="#{ (resInfo.mainValve==1) ? 'ON' : 'OFF' }" />
								<h:outputText value="Field Valve :" />
								<h:outputText
									value="#{ (resInfo.fieldValve==1) ? 'ON' : 'OFF' }" />

								<h:outputText value="Sensor Status :" />
								<h:outputText value="#{resInfo.sensorStatus}" />

								<h:outputText value="Balance :" />
								<h:outputText value="#{resInfo.balance} KL" />
								<!-- <p:commandLink update=":form:carDetail"
								oncomplete="PF('carDialog').show()" title="View Detail">
								<h:outputText styleClass="ui-icon ui-icon-search"
									style="margin:0 auto;" />
								<f:setPropertyActionListener value="#{car}"
									target="#{dataGridView.selectedCar}" />
							</p:commandLink> -->
							</h:panelGrid>
						</p:panel>
					</p:dataGrid>
				</div>
			</h:form>
		</div>
	</h:panelGroup>

</ui:composition>
