<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOpCommon}">
			<div class="Container100 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">List of Response
					Information Log</div>
				<div class="EmptyBox5"></div>
				<h:form id="form">
					<p:poll interval="3" update="objects" />

					<p:growl id="messages" showSummary="true" life="3000" />
					<p:dataTable id="objects" var="object" paginatorPosition="bottom"
						value="#{responseInformationController.responseInformationListByOperator}"
						styleClass="et_datatable" emptyMessage="Empty..." editable="true"
						paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
						rowsPerPageTemplate="25,30" selectionMode="single" rowKey="#">

						<f:facet name="{Exporters}">
							<h:commandLink>
								<p:graphicImage name="/resources/demo/images/excel.png"
									width="24" />
								<p:dataExporter type="xls" target="objects"
									fileName="responseInformation" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage name="/resources/demo/images/pdf.png" width="24" />
								<p:dataExporter type="pdf" target="objects"
									fileName="responseInformation" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage name="/resources/demo/images/csv.png" width="24" />
								<p:dataExporter type="csv" target="objects"
									fileName="responseInformation" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage name="/resources/demo/images/xml.png" width="24" />
								<p:dataExporter type="xml" target="objects"
									fileName="responseInformation" />
							</h:commandLink>
						</f:facet>



						<p:column headerText="Pump" sortBy="#{object.pumpID}">
							<h:outputText value="#{object.ipcuID}" />
						</p:column>

						<p:column headerText="Customer" sortBy="#{object.userID}">
							<h:outputText value="#{object.customerID}" />
						</p:column>

						<p:column headerText="Field" sortBy="#{object.fieldID}">
							<h:outputText value="#{object.fieldID}" />
						</p:column>

						<p:column headerText="Field Valve" sortBy="#{object.fieldVulve}">
							<h:outputText value="#{(object.fieldVulve ==1) ? 'ON' : 'OFF' }" />
						</p:column>
						<p:column headerText="Main Valve" sortBy="#{object.mainVulve}">
							<h:outputText value="#{(object.mainVulve ==1) ? 'ON' : 'OFF' }" />
						</p:column>

						<p:column headerText="Sensor Status"
							sortBy="#{object.sensorStatus}">
							<h:outputText value="#{object.sensorStatus}" />
						</p:column>


						<p:column headerText="Balance" sortBy="#{object.balance}">
							<h:outputText value="#{object.balance}" />
						</p:column>
						<p:column headerText="Date" sortBy="#{object.dateExecuted}">
							<h:outputText value="#{object.dateExecuted}">
								<!-- <f:convertDateTime pattern="yyyy-MM-dd" /> -->
							</h:outputText>
						</p:column>


						<!-- 							<p:column headerText="Edit"> -->
						<!-- 								<p:commandButton icon="ui-icon-search" -->
						<!-- 									oncomplete="PF('areaDetailDig').show()" update="form1"> -->
						<!-- 									<f:setPropertyActionListener value="#{object}" target="#{areaController.areaDTO}" /> -->
						<!-- 								</p:commandButton> -->
						<!-- 							</p:column> -->

						<!-- 							<p:column headerText="Delete"> -->
						<!-- 								<p:commandButton icon="ui-icon-trash" update=":form1" -->
						<!-- 									action="#{areaController.deleteArea}"> -->
						<!-- 									<f:setPropertyActionListener value="#{object}" -->
						<!-- 										target="#{areaController.areaDTO}" /> -->
						<!-- 								</p:commandButton> -->
						<!-- 							</p:column> -->
						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/excel.png"
								width="24" pageOnly="true" />
							<p:dataExporter type="xls" target="objects"
								fileName="responseInformation" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/pdf.png" width="24"
								pageOnly="true" />
							<p:dataExporter type="pdf" target="objects"
								fileName="responseInformation" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/csv.png" width="24"
								pageOnly="true" />
							<p:dataExporter type="csv" target="objects"
								fileName="responseInformation" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage name="/resources/demo/images/xml.png" width="24"
								pageOnly="true" />
							<p:dataExporter type="xml" target="objects"
								fileName="responseInformation" />
						</h:commandLink>

					</p:dataTable>



				</h:form>
			</div>
		</h:panelGroup>

		<ui:include src="resInfoLogOrg.xhtml" />
	</ui:define>
</ui:composition>
