<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:panelGroup rendered="#{userController.renCerAndOrg}">

		<div class="Container100 Responsive100">

			<h:form id="form1">
				<p:poll interval="30" update="reqInfos" />
				<p:growl id="messages" showSummary="true" life="3000" />
				<div class="Container100 Responsive100">
					<p:dataGrid var="reqInfo"
						value="#{requestInformationLogController.requestInformationLogListForOrganization}"
						paginatorPosition="bottom" columns="3" layout="grid" rows="12"
						paginator="true" id="reqInfos"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="12,16">

						<f:facet name="header">List of RequestInformation </f:facet>

						<p:panel header="#{reqInfo.operatorDTO.operatorName}"
							style="text-align:center">
							<h:panelGrid columns="2" style="width:100%">
								<!-- <p:graphicImage name="demo/images/car/#{car.brand}.gif" /> -->
								<h:outputText value="Operator :" />
								<h:outputText value="#{reqInfo.operatorDTO.operatorID}" />

								<h:outputText value="Customer Name :" />
								<h4>#{reqInfo.customerDTO.customerName}</h4>

								<h:outputText value="Customer ID :" />
								<h4>#{reqInfo.customerDTO.customerID}</h4>

								<h:outputText value="Temperature :" />
								<h:outputText value="#{reqInfo.temperature} &#8451;" />

								<h:outputText value="Humidity :" />
								<h:outputText value="#{reqInfo.humidity} %" />


								<h:outputText value="Pump No :" />
								<h:outputText value="#{reqInfo.ipcuDTO.ipcuID}" />

								<h:outputText value="Field ID :" />
								<h:outputText value="#{reqInfo.fieldDTO.fieldID}" />

								<h:outputText value="Soil Moisture :" />
								<h:outputText value="#{reqInfo.soilMoisture} %" />

								<h:outputText value="Water Level Sensor :" />
								<h:outputText value="#{reqInfo.waterLevelSensor} %" />

								<h:outputText value="Field Valve :" />
								<h:outputText
									value="#{ (reqInfo.fieldValve ==1 ) ? 'ON' : 'OFF' }" />

								<h:outputText value="Motor Pump :" />
								<h:outputText value="#{ (reqInfo.motoIPCU ==1 )? 'ON' : 'OFF' }" />
								
								<h:outputText value="Main Valve :" />
								<h:outputText value="#{ (reqInfo.mainValve ==1 )? 'ON' : 'OFF' }" />

								<h:outputText value="Water Credit :" />
								<h:outputText value="#{reqInfo.waterCredit} KL" />

								<h:outputText value="Flow Rate :" />
								<h:outputText value="#{reqInfo.flowRate}  L/min" />


								<h:outputText value="Sensor Status :" />
								<h:outputText value="#{reqInfo.deviceStatus}" />

								<h:outputText value="Node ID :" />
								<h:outputText value="#{reqInfo.nodeID}" />



								<h:outputText value="season :" />
								<h:outputText
									value="#{ (reqInfo.season ==1) ? 'Vegetable Field' : 'Paddy Field' }" />
							</h:panelGrid>
						</p:panel>

					</p:dataGrid>

				</div>
			</h:form>
		</div>

	</h:panelGroup>

</ui:composition>
