<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOpCommon}">
			<div class="Container100 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">List of Request
					Information</div>
				<div class="EmptyBox5"></div>
				<h:form id="form">
					<p:poll interval="30" update="objects" />

					<p:growl id="messages" showSummary="true" life="3000" />
					<p:dataTable id="objects" var="object" paginatorPosition="bottom"
						value="#{requestInformationController.requestInformationListByOperator}"
						styleClass="et_datatable" emptyMessage="Empty..." editable="true"
						paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="25,30" selectionMode="single"
						rowKey="#{object.requestInformationID}">

						<p:column headerText="Pump" sortBy="#{object.ipcuID}">
							<h:outputText value="#{object.ipcuID}" />
						</p:column>

						<p:column headerText="Customer" sortBy="#{object.customerID}">
							<h:outputText value="#{object.customerID}" />
						</p:column>

						<p:column headerText="Field" sortBy="#{object.fieldID}">
							<h:outputText value="#{object.fieldID}" />
						</p:column>

						<p:column headerText="Soil Moisture"
							sortBy="#{object.soilMoisture}">
							<h:outputText value="#{object.soilMoisture}" />
						</p:column>

						<p:column headerText="Water Level"
							sortBy="#{object.waterLevelSensor}">
							<h:outputText value="#{object.waterLevelSensor}" />
						</p:column>


						<p:column headerText="Field Valve" sortBy="#{object.fieldValve}">
							<h:outputText value="#{(object.fieldValve ==1) ? 'ON' : 'OFF' }" />
						</p:column>


						<p:column headerText="Motor Pump" sortBy="#{object.motorIpcu}">
							<h:outputText value="#{ (object.motorIpcu ==1) ? 'ON' : 'OFF' }" />
						</p:column>


						<p:column headerText="Water Credit" sortBy="#{object.waterCredit}">
							<h:outputText value="#{object.waterCredit}" />
						</p:column>

						<p:column headerText="Flow Rate" sortBy="#{object.flowRate}">
							<h:outputText value="#{object.flowRate}" />
						</p:column>

						<p:column headerText="Temperature" sortBy="#{object.temperature}">
							<h:outputText value="#{object.temperature}" />
						</p:column>

						<p:column headerText="Humidity" sortBy="#{object.humidity}">
							<h:outputText value="#{object.humidity}" />
						</p:column>

						<p:column headerText="Main Valve" sortBy="#{object.mainValve}">
							<h:outputText value="#{(object.mainValve ==1) ? 'ON' : 'OFF' }" />
						</p:column>

						<p:column headerText="Node ID" sortBy="#{object.nodeID}">
							<h:outputText value="#{object.nodeID}" />
						</p:column>

						<p:column headerText="Field Type(season)"
							sortBy="#{object.season}">
							<h:outputText value="#{(object.season)==1 ? 'Vegetable Field' : 'Paddy Field' }" />
						</p:column>
						<p:column headerText="Date" sortBy="#{object.dateExecuted}">
							<h:outputText value="#{object.dateExecuted}">
								<!-- <f:convertDateTime pattern="yyyy-MM-dd" /> -->
							</h:outputText>
						</p:column>
					</p:dataTable>
				</h:form>
			</div>
		</h:panelGroup>

		<ui:include src="reqInfoLogOrg.xhtml" />

	</ui:define>
</ui:composition>
