<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<sec:authorize access="isAuthenticated()">
		<meta http-equiv="refresh" content="0;url=http://localhost:8008/sis" />
	</sec:authorize>
	<title>Forget Password</title>

</h:head>

<h:body styleClass="LeadenBody">

	<div class="Card ui-fluid">
		<div
			class="Wid60 BordRad10 MarAuto WidAutoOnMobile MarTopPerc10 customshadow">
			<div class="CardTopic TexAlCenter Neti"
				style="border-top-left-radius: 10px; border-top-right-radius: 10px;">Reset
				Password</div>
			<div class="EmptyBox10" />
			<div class="Wid80 OvHidden DispBlock MarAuto">

				<div class="Container100 Responsive100">
					<h:form id="form">

						<p:growl autoUpdate="true" />

						<div class="Container30 Responsive100">
							<p:outputLabel value="User Name" for="usrn" />
						</div>
						<div class="Container70 Responsive100">
							<p:inputText  id="usrn"
								required="true" requiredMessage="Fill up User Name" />
						</div>

						

						<div class="Container30 Responsive100" />
						<div class="Container40 Responsive100">
							<p:commandButton value="Process" styleClass="btnProcess"
								icon="fa fa-spinner"
								action="#"
								update="form @([id$=codeForm])" />
						</div>
						<div class="Container30 Responsive100" />
						<div class="Container100 Responsive100 TexAlCenter">
							<p:outputLabel value="#" 
							styleClass="Red Fs18 FontVoltBold" 
							/>
						</div>
					</h:form>
					<h:form id="codeForm">
						<div class="Container30 Responsive100">
							<p:outputLabel value="Reset Code" for="code"/>
						</div>
						<div class="Container70 Responsive100">

							<p:inputText value="#" id="code"
								rendered="#" 
								required="true" requiredMessage="Fill up Reset Code Field"/>
						</div>
						<div class="Container100 Responsive100" />
						<div class="Container30 Responsive100">
							<p:outputLabel value="New Password" for="pass"/>
						</div>
						<div class="Container70 Responsive100">

							<p:password value="#" id="pass"
								feedback="true" rendered="#" 
								required="true" requiredMessage="Fill up Password Field"/>
						</div>
						<div class="Container100 Responsive100" />
						<div class="Container30 Responsive100"></div>
						<div class="Container25 Responsive100">

							<!-- <p:commandButton value="Reset" icon="fa fa-retweet" styleClass="btnReset"
								action="#" update="codeForm :form" /> -->
							<p:commandButton value="Reset" icon="fa fa-retweet"
								styleClass="btnReset"
								action="#"
								update="codeForm @([id$=form])" />

						</div>
						<div class="Container5" />
						<div class="Container25 Responsive100">
							<p:button outcome="login.xhtml" styleClass="btnReset" value="Go to Login"
								icon="fa fa-sign-in" />
						</div>

					</h:form>
				</div>
			</div>

		</div>

	</div>


	<h:outputStylesheet name="css/core-layout.css" library="volt-layout" />
	<h:outputStylesheet name="css/animate.css" library="volt-layout" />
	<h:outputStylesheet name="css/volt-font.css" library="volt-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="volt-layout" />
	<h:outputStylesheet name="css/volt-layout.css" library="volt-layout" />
</h:body>

</html>