<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOpCommon}">
			<div class="Container40 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Field Type</div>
				<div class="EmptyBox5"></div>
				<h:form id="form" style="">
					<p:growl id="messages" showSummary="true" />
					<div class="Container40 Responsive100">
						<h:outputText value="Field Type" for="fieldType" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="fieldType" required="true"
							value="#{fieldTypeController.fieldTypeDTO.fieldTypeName}"
							requiredMessage="Field Type is required." label="fieldType"
							validatorMessage="Field type should start with Character">

							<f:validateRegex
								pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" />
						</p:inputText>
					</div>
					<div class="EmptyBox5"></div>
					<div class="Container40 Responsive100"></div>
					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							styleClass="Container100 Responsive100"
							actionListener="#{fieldTypeController.saveFieldType}"
							update="form :form1" />
					</div>
					<div class="Container20 Responsive100"></div>
				</h:form>
			</div>

			<ui:include src="listOfFieldTypeOperator.xhtml"/>
		</h:panelGroup>
	<ui:include src="listOfFieldTypeCerOrg.xhtml"></ui:include>
	</ui:define>
</ui:composition>
