<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="Container60 Responsive100">
		<div class="EmptyBox5"></div>
		<div class="CardTopic TexAlCenter Neti">List of Field Type</div>
		<div class="EmptyBox5"></div>
		<h:form id="form1">
			<p:growl id="messages" showSummary="true" life="3000" />
			<p:dataTable id="objects" var="object" paginatorPosition="bottom"
				value="#{fieldTypeController.fieldTypeListByOperator}"
				styleClass="et_datatable" emptyMessage="Empty..." editable="true"
				paginator="true" rows="15"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="10,15,20" selectionMode="single"
				rowKey="#{object.fieldTypeID}">


				<p:column headerText="Field Type ID" sortBy="#{object.fieldTypeID}">
					<h:outputText value="#{object.fieldTypeID}" />
				</p:column>


				<p:column headerText="Field Type Name"
					sortBy="#{object.fieldTypeName}">
					<h:outputText value="#{object.fieldTypeName}" />
				</p:column>


				<p:column headerText="Edit">
					<p:commandButton icon="ui-icon-search"
						oncomplete="PF('fieldTypeDetailDig').show()" update="form1">
						<f:setPropertyActionListener value="#{object}"
							target="#{fieldTypeController.fieldTypeDTO}" />
					</p:commandButton>
				</p:column>

				<!-- <p:column headerText="Delete">
					<p:commandButton icon="ui-icon-trash" update=":form1"
						action="#{fieldTypeController.deleteFieldType}">
						<f:setPropertyActionListener value="#{object}"
							target="#{fieldTypeController.fieldTypeDTO}" />
					</p:commandButton>
				</p:column> -->


			</p:dataTable>

			<p:dialog widgetVar="fieldTypeDetailDig" responsive="true"
				modal="true" showEffect="blind" hideEffect="explode"
				resizable="false">
				<p:outputPanel id="sensorDetail">
					<p:panelGrid columns="2" columnClasses="label,value">
						<f:facet name="header">
							<h:outputText value="Field Type Info" />
						</f:facet>

						<h:outputText value="Field Type" />
						<h:inputText
							value="#{fieldTypeController.fieldTypeDTO.fieldTypeName}" />


					</p:panelGrid>
					<p:commandButton value="Update"
						action="#{fieldTypeController.updateFieldType}" update="form1" />
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</div>


</ui:composition>
