<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup rendered="#{userController.renCerAndOrg}">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Field Type</div>
			<div class="EmptyBox5"></div>
			<h:form id="form2">
				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{fieldTypeController.fieldTypeListByOperator}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="15"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="10,15,20,25" selectionMode="single"
					rowKey="#{object.fieldTypeID}">



					<p:column headerText="Operator ID"
						sortBy="#{object.operatorDTO.operatorID}">
						<h:outputText value="#{object.operatorDTO.operatorID}" />
					</p:column>

					<p:column headerText="Field Type ID" sortBy="#{object.fieldTypeID}">
						<h:outputText value="#{object.fieldTypeID}" />
					</p:column>


					<p:column headerText="Field Type Name"
						sortBy="#{object.fieldTypeName}">
						<h:outputText value="#{object.fieldTypeName}" />
					</p:column>

				</p:dataTable>

			</h:form>
		</div>

	</h:panelGroup>


</ui:composition>
