<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="Container60 Responsive100">
		<div class="EmptyBox5"></div>
		<div class="CardTopic TexAlCenter Neti">List of Soil</div>
		<div class="EmptyBox5"></div>

		<h:form id="form1">

			<p:growl id="messages" showSummary="true" life="3000" />
			<p:dataTable id="objects" var="object" paginatorPosition="bottom"
				value="#{soilController.soilListForOperator}"
				styleClass="et_datatable" emptyMessage="Empty..." editable="true"
				paginator="true" rows="15"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="10,15,20" selectionMode="single"
				rowKey="#{object.soilID}">



				<p:column headerText="Soil Name" sortBy="#{object.soilType}">
					<h:outputText value="#{object.soilType}" />
				</p:column>

				<p:column headerText="Soil type"
					sortBy="#{object.geographicalInformation}">

					<h:outputText value="#{object.geographicalInformation}" />
				</p:column>


				<p:column headerText="Field Description"
					sortBy="#{object.fieldDescription}">

					<h:outputText value="#{object.fieldDescription}" />
				</p:column>

				<p:column headerText="Edit">
					<p:commandButton icon="ui-icon-search"
						oncomplete="PF('soilDetailDig').show()" update="form1">
						<f:setPropertyActionListener value="#{object}"
							target="#{soilController.soilDTO}" />
					</p:commandButton>
				</p:column>

				<!-- <p:column headerText="Delete">
					<p:commandButton icon="ui-icon-trash" update=":form1"
						action="#{soilController.deleteSoil}">
						<f:setPropertyActionListener value="#{object}"
							target="#{soilController.soilDTO}" />
					</p:commandButton>
				</p:column> -->

			</p:dataTable>

			<p:dialog widgetVar="soilDetailDig" responsive="true" modal="true"
				showEffect="blind" hideEffect="explode" resizable="false">
				<p:outputPanel id="soilDetail">
					<p:panelGrid columns="2" columnClasses="label,value">
						<f:facet name="header">
							<h:outputText value="Soil Info" />
						</f:facet>

						<h:outputText value="Soil Type" />
						<h:inputText value="#{soilController.soilDTO.soilType}" />

						<h:outputText value="Soil Geographical Information" />
						<h:inputText
							value="#{soilController.soilDTO.geographicalInformation}" />

						<h:outputText value="Soil Field Description" />
						<h:inputText value="#{soilController.soilDTO.fieldDescription}" />

					</p:panelGrid>
					<p:commandButton value="Update"
						action="#{soilController.updateSoil}" update="form1" />
				</p:outputPanel>
			</p:dialog>

		</h:form>
	</div>

</ui:composition>
