<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renOpCommon}">
			<div class="Container40 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Soil</div>
				<div class="EmptyBox5"></div>
				<h:form id="form">
					<p:growl id="messages" showSummary="true" />
					<!-- left -->

					<!-- <div class="Container40 Responsive100">
						<h:outputText value="Field" for="field" />
					</div>
										
					<div class="Container60 Responsive100">
					<p:selectOneMenu id="field"
						value="#{soilController.fieldDTO.fieldID}">
						<f:selectItem itemLabel="Select Field" itemValue="" />
						<f:selectItems value="#{soilController.fieldList}" var="field"  itemLabel="#{field.fieldID}" itemValue="#{field.fieldID}" />
						</p:selectOneMenu>
				</div> -->


					<div class="Container40 Responsive100">
						<h:outputText value="Soil Type" for="soilType" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="soilType"
							value="#{soilController.soilDTO.soilType}" required="true"
							label="soilType" requiredMessage="Soil Type must be required" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Geo. Information"
							for="geographicalInformation" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="geographicalInformation"
							value="#{soilController.soilDTO.geographicalInformation}"
							required="true" label="geographicalInformation"
							requiredMessage="Geographical information must be required" />
					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Field Description" for="fieldDescription" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="fieldDescription"
							value="#{soilController.soilDTO.fieldDescription}"
							required="true" label="fieldDescription"
							requiredMessage="field description must be required" />
					</div>
					<div class="EmptyBox5"></div>
					<div class="Container40 Responsive100"></div>
					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							icon="ui-button-icon-left ui-icon ui-c fa fa-save"
							styleClass="Container100 Responsive100"
							actionListener="#{soilController.saveSoil}" update="form :form1" />
					</div>
					<div class="Container20 Responsive100"></div>
				</h:form>

			</div>

			<ui:include src="listOfSoil.xhtml" />

		</h:panelGroup>


		<ui:include src="soilOrg.xhtml"></ui:include>

	</ui:define>
</ui:composition>
