<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup rendered="#{userController.renCerAndOrg}">

		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Soil</div>
			<div class="EmptyBox5"></div>

			<h:form id="form2">

				<p:growl id="messages" showSummary="true" life="3000" />
				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{soilController.soilList}" styleClass="et_datatable"
					emptyMessage="Empty..." editable="true" paginator="true" rows="15"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="10,15,20" selectionMode="single"
					rowKey="#{object.soilID}">


					<p:column headerText="Operator ID"
						sortBy="#{object.operatorDTO.operatorID}">
						<h:outputText value="#{object.operatorDTO.operatorID}" />
					</p:column>

					<p:column headerText="Operator Name"
						sortBy="#{object.operatorDTO.operatorName}">
						<h:outputText value="#{object.operatorDTO.operatorName}" />
					</p:column>

					<p:column headerText="Soil Name" sortBy="#{object.soilType}">
						<h:outputText value="#{object.soilType}" />
					</p:column>

					<p:column headerText="Soil type"
						sortBy="#{object.geographicalInformation}">

						<h:outputText value="#{object.geographicalInformation}" />
					</p:column>


					<p:column headerText="Field Description"
						sortBy="#{object.fieldDescription}">

						<h:outputText value="#{object.fieldDescription}" />
					</p:column>

				</p:dataTable>
			</h:form>
		</div>

	</h:panelGroup>
</ui:composition>
