@charset "UTF-8"; 

.BordLeft, .BordRight {
	box-sizing: border-box
}

.ClearBoth, .Container:after {
	clear: both
}

body {
	height: 100%;
	width: 100%
}

a, button, div, input, li, span, strong, textarea {
	outline: 0;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none
}

img {
	border: none;
	border: 0
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 !important
}

.CursPointer {
	cursor: pointer
}

.ShowOnMobile {
	display: none
}

.ShowOnDesktop {
	display: inherit
}

.show {
	display: block !important
}

.hide {
	display: none !important
}

.Underline {
	text-decoration: underline
}

.Unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

input[type=text], input[type=password], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.DispBlock {
	display: block
}

.DispTable {
	display: table;
	vertical-align: middle
}

.DispTableCell {
	display: table-cell;
	vertical-align: middle
}

.DispNone {
	display: none
}

.DispInlBlock {
	display: inline-block
}

.DispInline {
	display: inline
}

.PosFixed {
	position: fixed
}

.PosAbsolute {
	position: absolute
}

.PosRelative {
	position: relative
}

.PosStatic {
	position: static
}

.Fleft {
	float: left
}

.Fright {
	float: right
}

.Fnone {
	float: none !important
}

.OvHidden {
	overflow: hidden
}

.OvScroll {
	overflow: scroll
}

.OvAuto {
	overflow: auto
}

.OvVisible {
	overflow: visible
}

.OvXScroll {
	overflow-x: scroll
}

.OvYScroll {
	overflow-y: scroll
}

.EmptyBox10, .EmptyBox100, .EmptyBox110, .EmptyBox120, .EmptyBox130,
	.EmptyBox140, .EmptyBox150, .EmptyBox20, .EmptyBox30, .EmptyBox40,
	.EmptyBox5, .EmptyBox60, .EmptyBox70, .EmptyBox80, .EmptyBox90 {
	overflow: hidden;
	width: 100%;
	display: block
}

.OvXHidden {
	overflow-x: hidden
}

.OvYHidden {
	overflow-y: hidden
}

.EmptyBox5 {
	height: 5px
}

.EmptyBox10 {
	height: 10px
}

.EmptyBox20 {
	height: 20px
}

.EmptyBox30 {
	height: 30px
}

.EmptyBox40 {
	height: 40px
}

.EmptyBox50 {
	display: block;
	width: 100%;
	height: 50px;
	overflow: hidden
}

.EmptyBox60 {
	height: 60px
}

.EmptyBox70 {
	height: 70px
}

.EmptyBox80 {
	height: 80px
}

.EmptyBox90 {
	height: 90px
}

.EmptyBox100, .EmptyBox110, .EmptyBox120, .EmptyBox130, .EmptyBox140 {
	height: 100px
}

.EmptyBox150 {
	height: 150px
}

.Opac100 {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1
}

.Opac95 {
	opacity: .95;
	-webkit-opacity: .95;
	-moz-opacity: .95
}

.Opac90 {
	opacity: .9;
	-webkit-opacity: .9;
	-moz-opacity: .9
}

.Opac80 {
	opacity: .8;
	-webkit-opacity: .8;
	-moz-opacity: .8
}

.Opac70 {
	opacity: .7;
	-webkit-opacity: .7;
	-moz-opacity: .7
}

.Opac60 {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6
}

.Opac50 {
	opacity: .5;
	-webkit-opacity: .5;
	-moz-opacity: .5
}

.Opac40 {
	opacity: .4;
	-webkit-opacity: .4;
	-moz-opacity: .4
}

.Opac30 {
	opacity: .3;
	-webkit-opacity: .3;
	-moz-opacity: .3
}

.Opac20 {
	opacity: .2;
	-webkit-opacity: .2;
	-moz-opacity: .2
}

.Opac10 {
	opacity: .1;
	-webkit-opacity: .1;
	-moz-opacity: .1
}

.OpacZero {
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0
}

.BordRad3 {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px
}

.BordRad4 {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px
}

.BordRad5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}

.BordRad10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px
}

.BordRad15 {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px
}

.BordRadHalf {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.BordRight {
	border-right: solid 1px transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.BordLeft {
	border-left: solid 1px transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.BordBottom, .BordTop {
	border-top: solid 1px transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.BordAll {
	border: 1px solid transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.RedBorderedBox {
	border-top: solid 7px #ff7c79
}

.NavyBlueBorderedBox {
	border-top: solid 7px #003D50
}

.BlueBorderedBox {
	border-top: solid 7px #1C75BC
}

.OrangeBorderedBox {
	border-top: solid 7px #FBB040
}

.GreenBorderedBox {
	border-top: solid 7px #77fe5f
}

.PinkBorderedBox {
	border-top: solid 7px #fd6fda
}

.Wid100 {
	width: 100%
}

.Wid90 {
	width: 90%
}

.Wid80 {
	width: 80%
}

.Wid70 {
	width: 70%
}

.Wid60 {
	width: 60%
}

.Wid50 {
	width: 50%
}

.Wid45 {
	width: 45%
}

.Wid40 {
	width: 40%
}

.Wid30 {
	width: 30%
}

.Wid33 {
	width: 33.3%
}

.Wid25 {
	width: 25%
}

.Wid20 {
	width: 20%
}

.Wid10 {
	width: 10%
}

.Wid5 {
	width: 5%
}

.MaxWid500 {
	max-width: 500px
}

.Wid100NoPadding {
	width: 100%;
	box-sizing: border-box
}

.Hei100 {
	height: 100%
}

.Hei90 {
	height: 90%
}

.Hei80 {
	height: 80%
}

.Hei70 {
	height: 70%
}

.Hei60 {
	height: 60%
}

.Hei40 {
	height: 40%
}

.Hei50 {
	height: 50%
}

.Hei30 {
	height: 30%
}

.Hei20 {
	height: 20%
}

.Hei10 {
	height: 10%
}

.MarTopPerc5 {
	margin-top: 5%
}

.MarTopPerc10 {
	margin-top: 10%
}

.MarTopPerc20 {
	margin-top: 20%
}

.MarTopPerc30 {
	margin-top: 30%
}

.MarTopPerc40 {
	margin-top: 40%
}

.MarTopPerc50 {
	margin-top: 50%
}

.MarAuto {
	margin-left: auto;
	margin-right: auto
}

.MarTop5 {
	margin-top: 5px
}

.MarTop10 {
	margin-top: 10px
}

.MarTop20 {
	margin-top: 20px
}

.MarTop30 {
	margin-top: 30px
}

.MarTop40 {
	margin-top: 40px
}

.MarTop50 {
	margin-top: 50px
}

.MarTopQuarter {
	margin-top: 25%
}

.MarTopHalf {
	margin-top: 50%
}

.MarBot10 {
	margin-bottom: 10px
}

.MarBot20 {
	margin-bottom: 20px
}

.MarBot30 {
	margin-bottom: 30px
}

.MarRight10 {
	margin-right: 10px
}

.MarRight20 {
	margin-right: 20px
}

.MarRight30 {
	margin-right: 30px
}

.NoPadding {
	padding: 0 !important
}

.PaddingTopPercent10 {
	padding-top: 10%
}

.Container10, .Container100, .Container15, .Container20, .Container25,
	.Container30, .Container33, .Container40, .Container5, .Container60,
	.Container70, .Container75, .Container80, .Container85, .Container90,
	.Container96 {
	float: left;
	padding: 4px 0;
	box-sizing: border-box
}

.Container100 {
	width: 100%
}

.Container96 {
	width: 96%
}

.Container90 {
	width: 90%
}

.Container85 {
	width: 85%
}

.Container80 {
	width: 80%
}

.Container75 {
	width: 75%
}

.Container70 {
	width: 70%
}

.Container60 {
	width: 60%
}

.Container50 {
	width: 50%;
	float: left;
	padding: 4px 0;
	box-sizing: border-box
}

.Container40 {
	width: 40%
}

.Container33 {
	width: 33.3%
}

.Container30 {
	width: 30%
}

.Container25 {
	width: 25%
}

.Container20 {
	width: 20%
}

.Container10 {
	width: 10%
}

.Container15 {
	width: 15%
}

.Container5 {
	width: 5%
}

.NoIndent {
	display: block;
	margin: 0 auto;
	padding: 0
}

.SmallIndent {
	padding: 5px
}

.TexAlCenter {
	text-align: center
}

.TexAlLeft {
	text-align: left
}

.TexAlRight {
	text-align: right !important
}

.PadWithBorder1 {
	border: 1px solid transparent
}

.PadWithBorder2 {
	border: 2px solid transparent
}

.PadWithBorder3 {
	border: 3px solid transparent
}

.PadWithBorder4 {
	border: 4px solid transparent
}

.PadWithBorder5 {
	border: 5px solid transparent
}

.PadWithBorder10 {
	border: 10px solid transparent
}

.BoxSizeContent {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box
}

.BoxSizeBorder {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.Fs9 {
	font-size: 9px !important
}

.Fs10 {
	font-size: 10px !important
}

.Fs11 {
	font-size: 11px !important
}

.Fs12 {
	font-size: 12px !important
}

.Fs13 {
	font-size: 13px !important
}

.Fs14 {
	font-size: 14px !important
}

.Fs15 {
	font-size: 15px !important
}

.Fs16 {
	font-size: 16px !important
}

.Fs17 {
	font-size: 17px !important
}

.Fs18 {
	font-size: 18px !important
}

.Fs19 {
	font-size: 19px !important
}

.Fs20 {
	font-size: 20px !important
}

.Fs21 {
	font-size: 21px !important
}

.Fs22 {
	font-size: 22px !important
}

.Fs23 {
	font-size: 23px !important
}

.Fs24 {
	font-size: 24px !important
}

.Fs25 {
	font-size: 25px !important
}

.Fs26 {
	font-size: 26px !important
}

.Fs27 {
	font-size: 27px !important
}

.Fs28 {
	font-size: 28px !important
}

.Fs29 {
	font-size: 29px !important
}

.Fs30 {
	font-size: 30px !important
}

.Fs40 {
	font-size: 40px !important
}

.Fs50 {
	font-size: 50px !important
}

.Fs60 {
	font-size: 60px !important
}

.Fs100 {
	font-size: 100px !important
}

.Fs130 {
	font-size: 130px !important
}

.FontBold {
	font-weight: 700
}

.FontLight {
	font-weight: lighter
}

.FontNormal {
	font-weight: 400
}

.FontItalic {
	font-style: italic
}

.Animated03 {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.Animated05 {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

.Animated1 {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease
}

@media ( min-width :960px) {
	.ShowOnMobile {
		display: none;
		opacity: 0
	}
	.ShowOnDesktop {
		display: inherit;
		opacity: 1
	}
}

@media ( min-width :960px) and (max-width:1200px) {
	.Responsive, .Responsive100, .Responsive50 {
		float: left;
		margin-left: 0 !important;
		margin-right: 0 !important
	}
	.Responsive {
		width: 33.3%
	}
	.Responsive50 {
		width: 50%
	}
	.Responsive100 {
		width: 100%
	}
	.WidAutoOnMobile {
		width: auto !important
	}
	.HeiAutoOnMobile {
		height: auto !important;
		min-height: 50px !important
	}
}

@media ( min-width :640px) and (max-width:960px) {
	.ShowOnMobile {
		display: inherit;
		opacity: 1
	}
	.ShowOnDesktop {
		display: none;
		opacity: 0
	}
	.FloatNoneOnMobile {
		float: none !important
	}
	.Container10, .Container100, .Container20, .Container25, .Container30,
		.Container33, .Container40, .Container5, .Container50, .Container70,
		.Container75, .Container80, .Container85, .Container90, .Container96 {
		float: left;
		padding: 5px
	}
	.Container100 {
		width: 100%
	}
	.Container96 {
		width: 96%
	}
	.Container90 {
		width: 90%
	}
	.Container85 {
		width: 85%
	}
	.Container80 {
		width: 80%
	}
	.Container75 {
		width: 75%
	}
	.Container70 {
		width: 70%
	}
	.Container60 {
		width: 60%;
		float: left;
		padding: 5px
	}
	.Container50 {
		width: 50%
	}
	.Container40 {
		width: 40%
	}
	.Container33 {
		width: 33.3%
	}
	.Container30 {
		width: 30%
	}
	.Container25 {
		width: 25%
	}
	.Container20 {
		width: 20%
	}
	.Container10 {
		width: 10%
	}
	.Container5 {
		width: 5%
	}
	.NoIndent {
		display: block;
		margin: 0 auto;
		padding: 0
	}
	.Responsive, .Responsive100, .Responsive50 {
		float: left;
		margin-left: 0 !important;
		margin-right: 0 !important
	}
	.Responsive {
		width: 50%
	}
	.Responsive100, .Responsive50 {
		width: 100%
	}
	.WidAutoOnMobile {
		width: auto !important
	}
	.HeiAutoOnMobile {
		height: auto !important;
		min-height: 50px !important
	}
	.Fs14 {
		font-size: 13px !important
	}
	.Fs15 {
		font-size: 14px !important
	}
	.Fs16 {
		font-size: 15px !important
	}
	.Fs17, .Fs18, .Fs19 {
		font-size: 16px !important
	}
	.Fs20, .Fs21 {
		font-size: 18px !important
	}
	.Fs22, .Fs23 {
		font-size: 20px !important
	}
	.Fs24, .Fs25 {
		font-size: 22px !important
	}
	.Fs26, .Fs27 {
		font-size: 24px !important
	}
	.Fs28, .Fs29 {
		font-size: 26px !important
	}
	.Fs30 {
		font-size: 28px !important
	}
	.Fs40 {
		font-size: 30px !important
	}
	.Fs50 {
		font-size: 35px !important
	}
	.Fs60 {
		font-size: 40px !important
	}
	.Fs100 {
		font-size: 60px !important
	}
	.Fs130 {
		font-size: 70px !important
	}
}

@media ( min-width :480px) and (max-width:640px) {
	.Container10, .Container100, .Container20, .Container25, .Container30,
		.Container33, .Container40, .Container5, .Container50, .Container70,
		.Container75, .Container80, .Container85, .Container90, .Container96 {
		padding: 5px;
		float: left
	}
	.ShowOnMobile {
		display: inherit;
		opacity: 1
	}
	.ShowOnDesktop {
		display: none;
		opacity: 0
	}
	.FloatNoneOnMobile {
		float: none !important
	}
	.Container100 {
		width: 100%
	}
	.Container96 {
		width: 96%
	}
	.Container90 {
		width: 90%
	}
	.Container85 {
		width: 85%
	}
	.Container80 {
		width: 80%
	}
	.Container75 {
		width: 75%
	}
	.Container70 {
		width: 70%
	}
	.Container60 {
		width: 60%;
		float: left;
		padding: 5px
	}
	.Container50 {
		width: 50%
	}
	.Container40 {
		width: 40%
	}
	.Container33 {
		width: 33.3%
	}
	.Container30 {
		width: 30%
	}
	.Container25 {
		width: 25%
	}
	.Container20 {
		width: 20%
	}
	.Container10 {
		width: 10%
	}
	.Container5 {
		width: 5%
	}
	.NoIndent {
		display: block;
		margin: 0 auto;
		padding: 0;
		overflow: hidden !important
	}
	.Responsive, .Responsive100, .Responsive50 {
		width: 100%;
		float: left;
		margin-left: 0 !important;
		margin-right: 0 !important
	}
	.WidAutoOnMobile {
		width: auto !important
	}
	.HeiAutoOnMobile {
		height: auto !important;
		min-height: 50px !important
	}
	.Fs12, .Fs13 {
		font-size: 12px !important
	}
	.Fs14, .Fs15, .Fs16 {
		font-size: 13px !important
	}
	.Fs17 {
		font-size: 14px !important
	}
	.Fs18 {
		font-size: 15px !important
	}
	.Fs19, .Fs20 {
		font-size: 17px !important
	}
	.Fs21, .Fs22 {
		font-size: 18px !important
	}
	.Fs23 {
		font-size: 20px !important
	}
	.Fs24 {
		font-size: 21px !important
	}
	.Fs25 {
		font-size: 22px !important
	}
	.Fs26, .Fs27 {
		font-size: 23px !important
	}
	.Fs28, .Fs29 {
		font-size: 25px !important
	}
	.Fs30 {
		font-size: 26px !important
	}
	.Fs40 {
		font-size: 30px !important
	}
	.Fs50 {
		font-size: 32px !important
	}
	.Fs60 {
		font-size: 35px !important
	}
	.Fs100 {
		font-size: 40px !important
	}
	.Fs130 {
		font-size: 50px !important
	}
}

@media ( min-width :320px) and (max-width:480px) {
	.Container10, .Container100, .Container20, .Container25, .Container30,
		.Container33, .Container40, .Container5, .Container50, .Container70,
		.Container75, .Container80, .Container85, .Container90, .Container96 {
		padding: 5px;
		float: left
	}
	.ShowOnMobile {
		display: inherit;
		opacity: 1
	}
	.ShowOnDesktop {
		display: none;
		opacity: 0
	}
	.FloatNoneOnMobile {
		float: none !important
	}
	.Container100 {
		width: 100%
	}
	.Container96 {
		width: 96%
	}
	.Container90 {
		width: 90%
	}
	.Container85 {
		width: 85%
	}
	.Container80 {
		width: 80%
	}
	.Container75 {
		width: 75%
	}
	.Container70 {
		width: 70%
	}
	.Container60 {
		width: 60%;
		float: left;
		padding: 5px
	}
	.Container50 {
		width: 50%
	}
	.Container40 {
		width: 40%
	}
	.Container33 {
		width: 33.3%
	}
	.Container30 {
		width: 30%
	}
	.Container25 {
		width: 25%
	}
	.Container20 {
		width: 20%
	}
	.Container10 {
		width: 10%
	}
	.Container5 {
		width: 5%
	}
	.NoIndent {
		display: block;
		margin: 0 auto;
		padding: 0;
		overflow: hidden !important
	}
	.Responsive, .Responsive100, .Responsive50 {
		width: 100%;
		float: left;
		margin-left: 0 !important;
		margin-right: 0 !important
	}
	.WidAutoOnMobile {
		width: auto !important
	}
	.HeiAutoOnMobile {
		height: auto !important
	}
	.Fs12, .Fs13 {
		font-size: 12px !important
	}
	.Fs14, .Fs15, .Fs16 {
		font-size: 13px !important
	}
	.Fs17 {
		font-size: 14px !important
	}
	.Fs18 {
		font-size: 15px !important
	}
	.Fs19, .Fs20 {
		font-size: 17px !important
	}
	.Fs21, .Fs22 {
		font-size: 18px !important
	}
	.Fs23 {
		font-size: 20px !important
	}
	.Fs24 {
		font-size: 21px !important
	}
	.Fs25 {
		font-size: 22px !important
	}
	.Fs26, .Fs27 {
		font-size: 23px !important
	}
	.Fs28, .Fs29, .Fs30 {
		font-size: 25px !important
	}
	.Fs40 {
		font-size: 28px !important
	}
	.Fs50 {
		font-size: 30px !important
	}
	.Fs60 {
		font-size: 32px !important
	}
	.Fs100 {
		font-size: 35px !important
	}
	.Fs130 {
		font-size: 40px !important
	}
}

.Container:after, .Container:before {
	content: "";
	display: table;
	border-collapse: collapse
}

.beforeVouctureType {
	margin-top: 44px;
	padding-right: 10px !important
}

.Zoom1point05x {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.Zoom1point05x:hover {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	box-shadow: 0 0 10px rgba(0, 0, 0, .4)
}