@font-face {
	font-family: 'open_sansbold';
	src:
		url("#{resource['primefaces-volt:fonts/opensans-bold-webfont.eot']}");
	src:
		url("#{resource['primefaces-volt:fonts/opensans-bold-webfont.eot']}#iefix")
		format('embedded-opentype'),
		url("#{resource['primefaces-volt:fonts/opensans-bold-webfont.woff2']}")
		format('woff2'),
		url("#{resource['primefaces-volt:fonts/opensans-bold-webfont.woff']}")
		format('woff'),
		url("#{resource['primefaces-volt:fonts/opensans-bold-webfont.ttf']}")
		format('truetype'),
		url("#{resource['primefaces-volt:fonts/opensans-bold-webfont.svg']}#open_sansbold")
		format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'open_sanslight';
	src:
		url("#{resource['primefaces-volt:fonts/opensans-light-webfont.eot']}");
	src:
		url("#{resource['primefaces-volt:fonts/opensans-light-webfont.eot']}#iefix")
		format('embedded-opentype'),
		url("#{resource['primefaces-volt:fonts/opensans-light-webfont.woff2']}")
		format('woff2'),
		url("#{resource['primefaces-volt:fonts/opensans-light-webfont.woff']}")
		format('woff'),
		url("#{resource['primefaces-volt:fonts/opensans-light-webfont.ttf']}")
		format('truetype'),
		url("#{resource['primefaces-volt:fonts/opensans-light-webfont.svg']}#open_sanslight")
		format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'open_sansregular';
	src:
		url("#{resource['primefaces-volt:fonts/opensans-regular-webfont.eot']}");
	src:
		url("#{resource['primefaces-volt:fonts/opensans-regular-webfont.eot']}#iefix")
		format('embedded-opentype'),
		url("#{resource['primefaces-volt:fonts/opensans-regular-webfont.woff2']}")
		format('woff2'),
		url("#{resource['primefaces-volt:fonts/opensans-regular-webfont.woff']}")
		format('woff'),
		url("#{resource['primefaces-volt:fonts/opensans-regular-webfont.ttf']}")
		format('truetype'),
		url("#{resource['primefaces-volt:fonts/opensans-regular-webfont.svg']}#open_sansregular")
		format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'open_sanssemibold';
	src:
		url("#{resource['primefaces-volt:fonts/opensans-semibold-webfont.eot']}");
	src:
		url("#{resource['primefaces-volt:fonts/opensans-semibold-webfont.eot']}#iefix")
		format('embedded-opentype'),
		url("#{resource['primefaces-volt:fonts/opensans-semibold-webfont.woff2']}")
		format('woff2'),
		url("#{resource['primefaces-volt:fonts/opensans-semibold-webfont.woff']}")
		format('woff'),
		url("#{resource['primefaces-volt:fonts/opensans-semibold-webfont.ttf']}")
		format('truetype'),
		url("#{resource['primefaces-volt:fonts/opensans-semibold-webfont.svg']}#open_sanssemibold")
		format('svg');
	font-weight: 400;
	font-style: normal
}

.FontVoltBold {
	font-family: 'open_sansbold', 'Verdana'
}

.FontVoltSemiBold {
	font-family: 'open_sanssemibold', 'Verdana'
}

.FontVoltRegular {
	font-family: 'open_sansregular', 'Verdana'
}

.FontVoltLight {
	font-family: 'open_sanslight', 'Verdana'
}

.FontRonin {
	font-family: 'dosismedium'
}

body, html {
	height: 100%
}

body {
	margin: 0;
	width: 100%;
	font-family: 'open_sansregular', 'Verdana';
	letter-spacing: -.5px
}

.LeadenBody {
	background-color: #323a45
}

.RedBody {
	background-color: #5f2f2b
}

.GreenBody {
	background-color: #2b514b
}

.BlueBody {
	background:  linear-gradient(141deg, #ECECEA 0%, #F6F6F6 51%, #ECECEA 75%);
}

.BlueDarkerBack {
	background-color: #205493
}

.CornFlowerBody {
	background-color: #6495ed
}

.SoftGrayBody {
	background-color: #cbd2da;
	border-top: solid 4px #1c75bc
}

.DarkGrayBody {
	background-color: #696969
}

#layout-topbar {
	width: 100%;
	height: auto;
	padding: 0;
	position: fixed;
	z-index: 999
}

#layout-topbar-indent {
	width: 100%;
	height: 60px;
	background: linear-gradient(141deg, #ECECEA 0%, #F6F6F6 51%, #ECECEA 75%); 
	background-size: 100% auto;
	position: relative;
	border-bottom: 1px solid #aaa
}

#layout-topbar-indent #logo {
	height: 25px;
	margin: 11px 5px 0 20px
}

#menu-button {
	width: 27px;
	height: 27px;
	display: none;
	float: left;
	margin: 18px 0 0 15px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 3px
}

#menu-button i {
	font-size: 27px;
	color: rgba(68, 77, 88, .7);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

#menu-button i:focus, #menu-button i:hover, #menu-button.active-menu i {
	color: #4A96AD;
	background-color: rgba(68, 77, 88, .1)
}

#top-menu {
	background: #71cc8d;
	width: 98%;
	height: auto;
	padding: 66px 1% 6px;
	margin: 0 auto;
	overflow: hidden
}

#top-menu li, .layout-menu {
	margin: 0;
	padding: 0;
	display: block
}

#top-menu li {
	float: right;
	border-left: dotted 1px rgba(255, 255, 255, .3)
}

#top-menu li a {
	padding: 2px 10px;
	color: #444;
	display: block;
	overflow: hidden
}

#top-menu li a:active, #top-menu li a:hover {
	background-color: rgba(255, 255, 255, .05)
}

#top-menu li a i {
	font-size: 20px;
	float: left;
	margin-right: 7px
}

#top-menu li a span {
	display: inline-block;
	float: left
}

#layout-menu-cover {
	display: block;
	margin-left: -55px;
	overflow: hidden;
	z-index: 9998
}

.layout-menu {
	width: 295px;
	height: auto
}

.layout-menu>li {
	padding: 0;
	display: block;
	margin: 0 0 1px;
	width: auto
}

.layout-menu>li>a {
	display: block;
	color: rgba(47, 55, 62,.95);
	overflow: hidden;
	font-size: 14px;
	font-family: 'open_sansbold';
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.layout-menu>li a:focus, .layout-menu>li>a:hover {
	color: #4A96AD;
	cursor: pointer
}

.layout-menu>li>a.active-menu {
	color: white;
	  background: #F5F3EE; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #4A96AD, #74AFAD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #4A96AD, #74AFAD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #4A96AD, #74AFAD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #4A96AD, #74AFAD); /* Standard syntax */
}

.layout-menu>li>a>i {
	font-size: 22px;
	float: left;
	padding: 12px 18px;
	background-color: #f2f2f2;
	width: 19px;
	margin-right: 15px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-box-shadow: inset -1px 0 1px 0 rgba(0, 0, 0, .07);
	-moz-box-shadow: inset -1px 0 1px 0 rgba(0, 0, 0, .07);
	box-shadow: inset -1px 0 1px 0 rgba(0, 0, 0, .07)
}

.layout-menu>li:focus>a>i, .layout-menu>li:hover>a>i, .layout-menu>li>a.active-menu>i
	{
	background-color: #74AFAD;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.layout-menu>li>a>span {
	display: block;
	padding: 13px 15px 10px 0
}

.layout-menu>li>ul {
	width: 240px;
	overflow: hidden;
	height: 0;
	padding: 0;
	margin: 0 0 0 55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.layout-menu>li>ul.active-menu {
	height: auto;
	margin: 0 0 0 55px;
	padding-bottom: 20px
}

.layout-menu>li>ul li, .layout-menu>li>ul>li ul {
	display: block;
	width: auto;
	padding: 0;
	margin: 0
}

.layout-menu>li>ul li a {
	padding: 6px 15px;
	display: block;
	font-size: 13px;
	font-family: 'open_sanssemibold';
	cursor: pointer;
	color: rgba(47, 55, 62, .9)
}

.layout-menu>li>ul li a:hover, .layout-menu>li>ul li>a.active-menu {
	color: #74AFAD;
	background-color: rgba(0, 0, 0, .02)
}

.layout-menu>li>ul li a i {
	font-size: 16px;
	margin-right: 5px;
	float: left
}

.layout-menu>li>ul>li ul {
	height: 0;
	margin: 0 0 0 20px;
	border-left: dashed 1px rgba(0, 0, 0, .2);
	overflow: hidden
}

.layout-menu>li>ul>li ul.active-menu {
	height: auto
}

.layout-menu>li>ul>li ul li a {
	background-image:
		url("#{resource['volt-layout:images/menulinkDashedLine.svg']}");
	background-repeat: no-repeat;
	background-position: center left;
	color: rgba(47, 55, 62, .9)
}

.PopupMenu #layout-topbar {
	width: 96%;
	padding: 0 2%
}

.PopupMenu #layout-menu-cover.active-menu, .PopupMenu #menu-button {
	display: block
}

.PopupMenu #top-menu {
	width: 96%;
	padding: 80px 2% 20px
}

.PopupMenu #layout-portlets-cover {
	width: 96%;
	padding: 0 2%
}

.PopupMenu #layout-portlets-tablecell-left {
	width: 0;
	border: none;
	display: block
}

.PopupMenu #layout-menu-cover {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 70px;
	height: auto;
	max-height: 80%;
	overflow-y: auto;
	margin-left: 0;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
	border-radius: 3px
}

.PopupMenu .layout-menu {
	margin: 0;
	padding: 0;
	display: block;
	background-color: #fff
}

.PopupMenu #layout-portlets-tablecell-right {
	display: block
}

#layout-portlets-cover {
	width: 94%;
	height: auto;
	padding: 0 3%;
	margin-top: 20px
}

#layout-portlets-cover-indent {
	width: 100%;
	height: auto;
	background: #EEE
	padding-bottom: 30px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-top-left-radius: 0;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2)
}

#layout-portlets-table {
	width: 100%;
	display: table;
	table-layout: fixed
}

#layout-portlets-tablerow {
	width: 100%;
	display: table-row
}

#layout-portlets-tablecell-left {
	display: table-cell;
	width: 240px;
	border-right: dotted 1px #ccc;
	vertical-align: top
}

#layout-portlets-tablecell-right {
	display: table-cell;
	padding: 0 6px;
	vertical-align: top
}

.Card {
	padding: 5px 10px;
	display: block;
	background-color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-family: 'open_sansregular', 'Verdana';
	color: #29506b
}

.CardTopic, .CardTopics {
	font-size: 20px;
	font-family: 'open_sansbold', 'Verdana'
}

.CardTopic {
  background: linear-gradient(141deg, #4A96AD 0%, #74AFAD 51%, #4A96AD 75%);
	color: #444d58;
	padding: 13px
}

.CardTopics {
	color: #fff;
	padding: 0;
	font-weight: bolder
}

.CardFooter {
	border-top: dashed 1px #e0e0e0;
	margin: 10px 0 0;
	padding: 10px 0 0;
	overflow: hidden;
	display: block
}

a {
	text-decoration: none
}

a, img {
	outline: none
}

li {
	list-style: none
}

.Orange {
	color: #ef6c00
}

.OrangeLight {
	color: #fdc653
}

.Purple {
	color: #7e57c2
}

.Blue {
	color: #0277bd
}

.Red {
	color: #e53935
}

.Neti {
	color: white
}

.Neti:hover {
	color: white
}

.NetiMenu {
	color: #90949c
}

.NetiMenu:hover {
	color: #4A96AD
}

.Brown {
	color: #6d4c41
}

.Lime {
	color: #afb42b
}

.TealGreen {
	color: #74AFAD
}

.Green {
	color: #43a047
}

.DarkGreen {
	color: #00897b
}

.Leaden {
	color: #444d58
}

.Pink {
	color: #ec407a
}

.White {
	color: black
}

.OrangeBack {
	background-color: #ef6c00;
	border-color: #ef6c00
}

.PurpleBack {
	background-color: #7e57c2;
	border-color: #7e57c2
}

.PurpleBackNoBord {
	background-color: #8e24aa
}

.BlueBack {
	background-color: #0071bc
}

.RedBack {
	background-color: #e53935;
	border-color: #e53935
}

.BrownBack {
	background-color: #6d4c41;
	border-color: #6d4c41
}

.LimeBack {
	background-color: #afb42b;
	border-color: #afb42b
}

.TealGreenBack {
	background-color: #55db7d;
	border-color: #55db7d
}

.TealGreenBack:hover {
	background-color: #02d33d;
	border-color: #02d33d
}

.GreenBack {
	border-color: #43a047
}

.GreenBack, .GreenBackNoBord {
	background-color: #43a047
}

.DarkGreenBack {
	background-color: #00897b;
	border-color: #00897b
}

.LeadenBack {
	background-color: #444d58;
	border-color: #444d58
}

.PinkBack {
	  background: #F5F3EE; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #4A96AD, #74AFAD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #4A96AD, #74AFAD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #4A96AD, #74AFAD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #4A96AD, #74AFAD); /* Standard syntax */
	border-color: #71cc8d
}

.OrangeBorder {
	border: solid 1px #ef6c00
}

.PurpleBorder {
	border: solid 1px #7e57c2
}

.BlueBorder {
	border: solid 1px #0277bd
}

.RedBorder {
	border: solid 1px #e53935
}

.BrownBorder {
	border: solid 1px #6d4c41
}

.LimeBorder {
	border: solid 1px #afb42b
}

.TealGreenBorder {
	border: solid 1px #0097a7
}

.GreenBorder {
	border: solid 1px #43a047
}

.DarkGreenBorder {
	border: solid 1px #00897b
}

.LeadenBorder {
	border: solid 1px #444d58
}

.PinkBorder {
	border: solid 1px #ec407a
}

.BorderTop {
	border-top: dashed 1px rgba(0, 0, 0, .2)
}

.BorderRight {
	border-right: dashed 1px rgba(0, 0, 0, .2)
}

.BorderBottom {
	border-bottom: dashed 1px rgba(0, 0, 0, .2)
}

.BorderLeft {
	border-left: dashed 1px rgba(0, 0, 0, .2)
}

.BorderAll {
	border: dashed 1px rgba(0, 0, 0, .2)
}

.Separator, .SeparatorFull {
	border-bottom: dashed 1px #ccc;
	overflow: hidden;
	height: 0;
	clear: both
}

.Separator {
	width: 100%;
	margin: 15px 0
}

.SeparatorFull {
	display: block;
	margin: 15px -25px
}

.HoverEffect, .HoverEffect:hover {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

.HoverEffect:hover {
	opacity: .8
}

.ShadowEffect {
	-webkit-box-shadow: 0 .5px 3px 0 rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 .5px 3px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 .5px 3px 0 rgba(0, 0, 0, .15)
}

@media screen and (min-width:0\0) {
	.ShadowEffect {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3)
	}
}

.BigTopic {
	font-size: 18px;
	font-family: 'open_sanssemibold';
	color: rgba(68, 77, 88, .9);
	padding: 10px 0
}

.changecolor:hover {
	background-color: #fbb040;
	padding: 40px
}

@media ( min-width :961px) and (max-width:1200px) {
	#layout-topbar {
		width: 100%;
		padding: 0
	}
	#top-menu {
		width: 90%;
		padding: 80px 5% 20px
	}
	#top-menu li, .PopupMenu #top-menu li {
		margin-bottom: 10px
	}
	#top-menu li a, .PopupMenu #top-menu li a {
		padding: 5px 15px
	}
	#top-menu li a i, .PopupMenu #top-menu li a i {
		font-size: 30px;
		float: left;
		margin-right: 10px
	}
	#top-menu li a span, .PopupMenu #top-menu li a span {
		display: inline-block;
		float: left
	}
	#layout-portlets-cover {
		width: 90%;
		padding: 0 5%
	}
	#layout-portlets-tablecell-right {
		padding: 6px
	}
	.PopupMenu #layout-topbar {
		width: 96%;
		padding: 0 2%
	}
	.PopupMenu #top-menu {
		width: 96%;
		padding: 80px 2% 20px
	}
	.PopupMenu #layout-portlets-cover {
		width: 96%;
		padding: 0 2%
	}
	.instituteTitle {
		font-size: 20px !important;
		text-align: center !important;
		width: 53% !important;
		text-shadow: 0 3px 2px #969696;
		font-family: "Monotype Corsiva" !important
	}
}

@media ( min-width :640px) and (max-width:960px) {
	body, html {
		height: auto
	}
	#layout-topbar {
		width: 96%;
		padding: 0 2%
	}
	#layout-menu-cover.active-menu, #menu-button {
		display: block
	}
	#top-menu {
		width: 96%;
		padding: 80px 2% 20px
	}
	#top-menu li {
		margin-bottom: 10px
	}
	#top-menu li a {
		padding: 5px 10px
	}
	#top-menu li a i {
		font-size: 28px;
		float: left;
		margin-right: 10px
	}
	#top-menu li a span {
		display: inline-block;
		float: left
	}
	#layout-portlets-cover {
		width: 96%;
		padding: 0 2%
	}
	#layout-portlets-tablecell-left {
		width: 0;
		border: none;
		display: block
	}
	#layout-menu-cover {
		display: none;
		overflow: hidden;
		position: fixed;
		top: 70px;
		height: auto;
		max-height: 80%;
		overflow-y: auto;
		margin-left: 0;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
		border-radius: 3px
	}
	.layout-menu {
		margin: 0;
		padding: 0;
		display: block;
		background-color: #fff
	}
	#layout-portlets-tablecell-right {
		display: block;
		padding: 8px
	}
	.Card {
		padding: 8px 13px
	}
	.SeparatorFull {
		margin: 10px -13px
	}
}

@media ( min-width :480px) and (max-width:640px) {
	body, html {
		height: auto
	}
	#layout-topbar {
		width: 96%;
		padding: 0 2%
	}
	#layout-menu-cover.active-menu, #menu-button {
		display: block
	}
	#top-menu {
		width: 96%;
		padding: 80px 2% 20px
	}
	#top-menu li {
		margin-bottom: 10px
	}
	#top-menu li a {
		padding: 5px 8px
	}
	#top-menu li a i {
		font-size: 26px;
		float: left;
		margin-right: 10px
	}
	#top-menu li a span {
		display: inline-block;
		float: left
	}
	#layout-portlets-cover {
		width: 96%;
		padding: 0 2%
	}
	#layout-portlets-tablecell-left {
		width: 0;
		border: none;
		display: block
	}
	#layout-menu-cover {
		display: none;
		overflow: hidden;
		position: fixed;
		top: 70px;
		height: auto;
		max-height: 80%;
		overflow-y: auto;
		margin-left: 0;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
		border-radius: 3px
	}
	.layout-menu {
		margin: 0;
		padding: 0;
		display: block;
		background-color: #fff
	}
	#layout-portlets-tablecell-right {
		display: block;
		padding: 6px
	}
	.Card {
		padding: 5px 8px
	}
	.SeparatorFull {
		margin: 5px -8px
	}
}

@media ( min-width :320px) and (max-width:480px) {
	body, html {
		height: auto
	}
	#layout-topbar {
		width: 96%;
		padding: 0 2%
	}
	#layout-menu-cover.active-menu, #menu-button {
		display: block
	}
	#top-menu {
		width: 96%;
		padding: 80px 2% 20px
	}
	#top-menu li {
		margin-bottom: 0
	}
	#top-menu li a {
		padding: 5px 8px;
		text-align: center
	}
	#top-menu li a i {
		font-size: 26px;
		float: none;
		margin-right: 0
	}
	#top-menu li a span {
		float: left;
		display: none
	}
	#layout-portlets-cover {
		width: 96%;
		padding: 0 2%
	}
	#layout-portlets-tablecell-left {
		width: 0;
		border: none;
		display: block
	}
	#layout-menu-cover {
		display: none;
		overflow: hidden;
		position: fixed;
		top: 70px;
		height: auto;
		max-height: 80%;
		overflow-y: auto;
		margin-left: 0;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
		border-radius: 3px
	}
	.layout-menu {
		margin: 0;
		padding: 0;
		display: block;
		background-color: #fff
	}
	#layout-portlets-tablecell-right {
		display: block;
		padding: 5px
	}
	.Card {
		padding: 5px 7px
	}
	.SeparatorFull {
		margin: 5px -7px
	}
}

@media ( min-height :320px) and (max-height:560px) and
	(max-width:2000px) {
	#layout-menu-cover.active-menu, #menu-button {
		display: block
	}
	#layout-menu-cover {
		display: none;
		overflow: hidden;
		position: fixed;
		top: 70px;
		height: auto;
		max-height: 70%;
		overflow-y: auto;
		margin-left: 0;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
		border-radius: 3px
	}
	.layout-menu {
		margin: 0;
		padding: 0;
		display: block;
		background-color: #fff
	}
	.Card {
		padding: 10px 7px
	}
	.SeparatorFull {
		margin: 5px -7px
	}
}

#layout-portlets-cover:after, #layout-portlets-cover:before, .Card:after,
	.Card:before {
	content: "";
	display: table;
	border-collapse: collapse
}

#layout-portlets-cover:after, .Card:after {
	clear: both
}

.short-transition {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.medium-transition {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

.long-transition {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease
}

.no-transition {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none
}

.no-transform {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-o-transform: none !important;
	-ms-transform: none !important;
	transform: none !important
}

.bedcrum {
	margint-top: 5px
}

@media ( min-width :1201px) {
	.institueTitle {
		font-size: 20px;
		text-align: center;
		line-height: 47px;
		color: #fff !important
	}
}

@media ( min-width :250px) and (max-width:360px) {
	.institueTitle {
		font-size: 18px;
		text-align: center;
		line-height: 47px;
		color: #fff !important
	}
}

@media ( min-width :361px) and (max-width:800px) {
	.institueTitle {
		font-size: 23px;
		text-align: center;
		line-height: 47px;
		color: #fff !important
	}
}

@media ( min-width :801px) and (max-width:979px) {
	.institueTitle {
		font-size: 20px;
		text-align: center;
		line-height: 47px;
		color: #fff !important
	}
}

@media ( min-width :980px) and (max-width:1099px) {
	.institueTitle {
		font-size: 26px;
		text-align: center;
		line-height: 47px;
		color: #fff !important
	}
}

@media ( min-width :1100px) and (max-width:1200px) {
	.institueTitle {
		font-size: 30px;
		text-align: center;
		line-height: 47px;
		color: #fff !important
	}
}

.custom-footer {
	position: absolute;
	bottom: 0;
	height: 70px;
	background: #444;
	color: #fff !important
}

@media ( max-width :979px) {
	#reza, .instituteTitle {
		display: none
	}
}

@media ( max-width :420px) {
	#logo {
		display: none
	}
	#btnReports {
		top: 36% !important
	}
}

@media ( max-width :663px) {
	.instituteTitleDashCenter {
		display: none
	}
	.instituteLogoCenter {
		text-align: center !important;
		width: 100% !important
	}
}

.pageCustomTitle {
	font-size: 20px;
	margin-bottom: 7px !important;
	text-align: center;
	border-bottom: 1px dashed #ccc
}

#btnReports, #btnReportsMenu {
	position: fixed;
	right: 0;
	margin-top: -2.5em;
	 background: linear-gradient(141deg, #4A96AD 0%, #74AFAD 51%, #4A96AD 75%); 
	color: #fff
}

#btnReports {
	height: 30px;
	top: 20%
}

#btnReportsMenu {
	top: 25%;
	z-index: 999;
	display: none
}

#reportsmenu>.ui-panelmenu .ui-icon {
	bottom: 0;
	left: auto;
	margin: auto 0;
	position: absolute;
	right: 0;
	top: 0
}

#reportsmenu>.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-content .ui-menuitem a,
	#reportsmenu>.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-header a {
	padding: 7px 35px 7px 32px
}

.ui-tabs-left>.ui-tabs-nav {
	height: auto !important
}

.instituteTitle {
	font-size: 36px;
	text-align: center !important;
	width: 63%;
	text-shadow: 0 3px 2px #969696;
	font-family: "Monotype Corsiva" !important
}

.loginInput {
	height: 30px !important;
	padding: 5px 15px;
	border: 1px solid #ccc;
	border-radius: 5px
}

.instituteLogo {
	width: auto;
	height: 130px
}

.instituteTitleDash {
	font-size: 30px;
	text-align: center !important;
	width: 100%;
	font-weight: 900;
	color: #2e3192 !important
}

.instituteTitleDashSmall {
	font-size: 24px;
	text-align: center !important;
	width: 100%
}

.instituteTitleDashCenter {
	text-align: center !important;
	padding-top: 18px
}

.btn-sign-in {
	width: 100%;
	background-color: #71cc8d;
	border-radius: 4px;
	border: 2px solid #71cc8d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .07);
	color: #ff0;
	display: inline-block;
	font-family: "latolight";
	font-size: 25px;
	padding: 5px 30px;
	text-align: center;
	text-decoration: none
}

.customshadow {
	-webkit-box-shadow: 0 0 92px -17px #050505;
	-moz-box-shadow: 0 0 92px -17px #050505;
	box-shadow: 0 0 92px -17px #050505
}

.subTopic {
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-family: 'open_sanssemibold';
	padding: 10px 0;
	background-color: #84e0ff;
	border-radius: 5px
}

.btnDelete, .btnDisable, .btnDownload, .btnEdit, .btnExcel, .btnExten,
	.btnMigration, .btnNext, .btnNo, .btnPdf, .btnProcess, .btnReset,
	.btnSave, .btnSearch, .btnSend, .btnUpdate, .btnUpload, .btnView,
	.btnYes {
	  background: #F5F3EE;
  background: -webkit-linear-gradient(-90deg, #4A96AD, #74AFAD); 
  background: -o-linear-gradient(-90deg, #4A96AD, #74AFAD); 
  background: -moz-linear-gradient(-90deg, #4A96AD, #74AFAD); 
  background: linear-gradient(-90deg, #4A96AD, #74AFAD); 
}

@media screen and (min-width:1024) {
	#reza {
		display: none
	}
}