<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<h:panelGroup rendered="#{userController.renCerAndOrg}">
			<div class="Container40 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">Area</div>
				<div class="EmptyBox5"></div>
				<h:form id="form" style="">
					<!-- 					<p:growl id="messages" showSummary="true" /> -->
					<!-- 					<p:messages autoUpdate="true" life="3000" /> -->
					<div class="Container40 Responsive100">
						<h:outputText value="Area Name" for="areaName" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="areaName" required="true"
							value="#{areaController.areaDTO.areaName}"
							requiredMessage="Area name must be Entered" label="areaName" />
						<p:message for="areaName" display="areaName" />
						<h:outputText value="#{areaController.areaDTO.areaName}" />

					</div>
					<div class="Container40 Responsive100">
						<h:outputText value="Area Code" for="areaCode" />
					</div>
					<div class="Container60 Responsive100">
						<p:inputText id="areaCode" required="true"
							value="#{areaController.areaDTO.areaCode}"
							requiredMessage="Area code must be Entered" label="areaCode" />
						<p:message for="areaCode" display="areaCode" />
					</div>
					<!-- <div class="Container40 Responsive100">
						<h:outputText value="Operator" for="distanceFromCanel" />
					</div> -->
					<!-- <div class="Container60 Responsive100">
						<p:selectOneMenu id="opName" value="#{areaController.operatorID}"
							required="true" requiredMessage="Please, Select an Operator."
							filter="true">
							<f:selectItem itemLabel="Select Operator Name" />
							<f:selectItems var="operator"
								value="#{areaController.operatorList}"
								itemLabel="#{operator.operatorName}"
								itemValue="#{operator.operatorID}" />
						</p:selectOneMenu>
						<p:message for="opName" display="opName" />
					</div> -->

					<div class="EmptyBox5"></div>
					<div class="Container40 Responsive100"></div>
					<div class="Container40 Responsive100">
						<p:commandButton value="Save"
							icon="ui-button-icon-left ui-icon ui-c fa fa-save"
							styleClass="Container100 Responsive100"
							actionListener="#{areaController.saveArea}" update="form :form1" />
					</div>
					<div class="Container20 Responsive100"></div>
				</h:form>
			</div>

			<div class="Container60 Responsive100">
				<div class="EmptyBox5"></div>
				<div class="CardTopic TexAlCenter Neti">List of Area</div>
				<div class="EmptyBox5"></div>
				<h:form id="form1">

					<p:growl id="messages" showSummary="true" life="3000" />
					<p:dataTable id="objects" var="object" paginatorPosition="bottom"
						value="#{areaController.areaListOrganization}"
						styleClass="et_datatable" emptyMessage="Empty..." editable="true"
						paginator="true" rows="10"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
						rowsPerPageTemplate="10,15,20" selectionMode="single"
						rowKey="#{object.areaID}">



						<p:column headerText="Area Name" sortBy="#{object.areaName}">
							<h:outputText value="#{object.areaName}" />
						</p:column>

						<p:column headerText="Area Code" sortBy="#{object.areaCode}">

							<h:outputText value="#{object.areaCode}" />
						</p:column>

						<!-- 						<p:column headerText="Operator"
							sortBy="#{object.operatorDTO.operatorID}">

							<h:outputText value="#{object.operatorDTO.operatorID}" />
						</p:column>

						<p:column headerText="Operator"
							sortBy="#{object.operatorDTO.operatorName}">

							<h:outputText value="#{object.operatorDTO.operatorName}" />
						</p:column> -->

						<p:column headerText="Edit">
							<p:commandButton icon="ui-icon-search"
								oncomplete="PF('areaDetailDig').show()" update="form1">
								<f:setPropertyActionListener value="#{object}"
									target="#{areaController.areaDTO}" />
							</p:commandButton>
						</p:column>

						<!-- <p:column headerText="Delete">
							<p:commandButton icon="ui-icon-trash" update="form1"
								action="#{areaController.deleteArea}">
								<f:setPropertyActionListener value="#{object}"
									target="#{areaController.areaDTO}" />
							</p:commandButton>
						</p:column> -->
					</p:dataTable>

					<p:dialog widgetVar="areaDetailDig" responsive="true" modal="true"
						showEffect="blind" hideEffect="explode" resizable="false">
						<p:outputPanel id="areaDetail">
							<p:panelGrid columns="2" columnClasses="label,value">
								<f:facet name="header">
									<h:outputText value="Area Info" />
								</f:facet>

								<h:outputText value="Area Name" />
								<h:inputText value="#{areaController.areaDTO.areaName}"
									validatorMessage="Area Name Should be Character.">
									<f:validateRegex
										pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" />
								</h:inputText>

								<h:outputText value="Area Code" />
								<h:inputText value="#{areaController.areaDTO.areaCode}" />

							</p:panelGrid>
							<p:commandButton value="Update"
								action="#{areaController.updateArea}" update="form1" />
						</p:outputPanel>
					</p:dialog>

				</h:form>
			</div>



		</h:panelGroup>
		<ui:include src="listOfAreaOperator.xhtml" />
	</ui:define>
</ui:composition>
