<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup rendered="#{userController.renOpCommon}">
		<div class="Container100 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">List of Area</div>
			<div class="EmptyBox5"></div>
			<h:form id="form2">

				<!-- 					<p:growl id="messages" display="messages" life="3000" /> -->
				<p:dataTable id="objects" var="object" paginatorPosition="bottom"
					value="#{areaController.areaListOrganization}"
					styleClass="et_datatable" emptyMessage="Empty..." editable="true"
					paginator="true" rows="15"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
					rowsPerPageTemplate="15,20,25" selectionMode="single"
					rowKey="#{object.areaID}">


					<p:column headerText="Area Name" sortBy="#{object.areaName}">
						<h:outputText value="#{object.areaName}" />
					</p:column>

					<p:column headerText="Area Code" sortBy="#{object.areaCode}">

						<h:outputText value="#{object.areaCode}" />
					</p:column>


				</p:dataTable>


			</h:form>
		</div>
	</h:panelGroup>

</ui:composition>
