<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		<!-- 		<div class="Container40 Responsive100">
			<div class="EmptyBox5"></div>
			<div class="CardTopic TexAlCenter Neti">Short Messaging System
			</div>
			<div class="EmptyBox5"></div>
			<h:form id="form" style="">
									<p:growl id="messages" showSummary="true" />
									<p:messages autoUpdate="true" life="3000" />
				<div class="Container40 Responsive100">
					<h:outputText value="Sms To" for="smsTo" />
				</div>
				<div class="Container60 Responsive100">
					<p:inputText id="smsTo" required="true"
						value="#{smsController.smsDTO.smsTo}"
						requiredMessage="Sms to must be Entered" label="smsTo" />
					<p:message for="smsTo" display="smsTo" />
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="Sms From" for="smsFrom" />
				</div>
				<div class="Container60 Responsive100">
					<p:inputText id="smsFrom" required="true"
						value="#{smsController.smsDTO.smsFrom}"
						requiredMessage="Sms From must be Entered" label="smsFrom" />
					<p:message for="smsFrom" display="smsFrom" />
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="Water Credit" for="smsBody" />
				</div>
				<div class="Container60 Responsive100">
					<p:inputText id="waterCredit" required="true"
						value="#{smsController.smsDTO.availableWaterCredit}"
						requiredMessage="SMS body must be Entered" label="waterCredit" />
					<p:message for="waterCredit" display="waterCredit" />
				</div>
				<div class="Container40 Responsive100">
					<h:outputText value="SMS Body" for="smsBody" />
				</div>
				<div class="Container60 Responsive100">
					<p:inputText id="smsBody" required="true"
						value="#{smsController.smsDTO.smsBody}"
						requiredMessage="SMS body must be Entered" label="smsBody" />
					<p:message for="smsBody" display="smsBody" />
				</div>
				<div class="EmptyBox5"></div>
				<div class="Container40 Responsive100"></div>
				<div class="Container40 Responsive100">
					<p:commandButton value="Save"
						icon="ui-button-icon-left ui-icon ui-c fa fa-save"
						styleClass="Container100 Responsive100"
						actionListener="#{smsController.saveSMS}" update="form :form1" />
				</div>
				<div class="Container20 Responsive100"></div>
			</h:form>
		</div>
 -->
		<ui:include src="smsOrg.xhtml" />
	</ui:define>
</ui:composition>
