<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primeface.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

	<div class="Container100 Responsive100">
		<div class="EmptyBox5"></div>
		<div class="CardTopic TexAlCenter Neti">List of Short Messaging
			System</div>
		<div class="EmptyBox5"></div>
		<h:form id="form1">

			<!-- 					<p:growl id="messages" display="messages" life="3000" /> -->
			<p:dataTable id="objects" var="sms" paginatorPosition="bottom"
				value="#{smsController.smsDTOList}" styleClass="et_datatable"
				emptyMessage="Empty..." editable="true" paginator="true" rows="20"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="20,25,30" selectionMode="single"
				rowKey="#{sms.smsID}">
				<p:column headerText="Operator">

					<h:outputText value="#{sms.operatorDTO.operatorName}" />
				</p:column>
				<p:column headerText="Customer ">

					<h:outputText value="#{sms.customerDTO.customerName}" />
				</p:column>
				<p:column headerText="Sms To">
					<h:outputText value="#{sms.smsTo}" />
				</p:column>

				<p:column headerText="Sms From">

					<h:outputText value="#{sms.smsFrom}" />
				</p:column>
				<p:column headerText="water Credit">

					<h:outputText value="#{sms.availableWaterCredit}" />
				</p:column>
				<p:column headerText="Date">

					<h:outputText value="#{sms.dateExecuted}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>
			</p:dataTable>

		</h:form>
	</div>

</ui:composition>
